.dependencies/
build/
*.aux
*.log
*.swp
*.swo
*.out
*.toc
doc/ast2ir.pdf
doc/cfg.pdf
doc/ses_light_semantic.pdf
doc/manual/safe.pdf
junit-results
src/kr/ac/kaist/jsaf/nodes/
src/kr/ac/kaist/jsaf/parser/IR.java
src/kr/ac/kaist/jsaf/parser/JS.java
src/kr/ac/kaist/jsaf/parser/RegExp.java
src/kr/ac/kaist/jsaf/parser/WIDL.java
src/kr/ac/kaist/jsaf/scala_src/nodes/
third_party/deckard/src/lsh/bin/LSHMain
third_party/deckard/src/lsh/bin/compareOutputs
third_party/deckard/src/lsh/bin/enumBuckets
third_party/deckard/src/lsh/bin/exactNNs
third_party/deckard/src/lsh/bin/exploreBuckets
third_party/deckard/src/lsh/bin/genDS
third_party/deckard/src/lsh/bin/genPlantedDS
third_party/deckard/src/lsh/sources/.depend
*.o
third_party/deckard/src/vgen/vgrouping/computeranges
third_party/deckard/src/vgen/vgrouping/dispatchvectors
third_party/deckard/src/vgen/vgrouping/vectorsort
*~
benchmarks/.recent
benchmarks/data/
