html {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
body {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
div {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h1 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; line-height: inherit; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: bold; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h2 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; line-height: inherit; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: bold; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h3 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; line-height: inherit; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: bold; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h4 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; line-height: inherit; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: bold; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h5 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; line-height: inherit; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: bold; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h6 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; line-height: inherit; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: bold; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
a {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
p {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ul {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ol {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
li {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
img {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
span {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
strong {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
em {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
table {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
tbody {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
tfoot {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
thead {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
tr {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
th {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
td {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
applet {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
object {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
iframe {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
blockquote {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
pre {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
abbr {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
acronym {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
address {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
big {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
cite {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
code {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
del {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dfn {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
font {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ins {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
kbd {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
q {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
s {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
samp {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
small {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
strike {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
sub {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
sup {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
tt {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
var {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
b {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
u {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
i {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
center {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dl {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dt {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dd {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
caption {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
fieldset {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
form {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
label {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
legend {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
article {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
aside {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
figure {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
footer {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
header {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
hgroup {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
section {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
canvas {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
details {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
embed {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
figcaption {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
menu {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
nav {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
output {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ruby {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
summary {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
time {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
mark {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
audio {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
video {
	font: inherit; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
menu {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
body {
	line-height: 1;
}
b {
	font-weight: bold;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
i {
	font-style: italic;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
q {
	quotes: none;
}
blockquote::before {
	content: none;
}
blockquote::after {
	content: none;
}
q::before {
	content: none;
}
q::after {
	content: none;
}
:focus {
	outline: 0px;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
.grid-1 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-2 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-3 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-4 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-5 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-6 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-7 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-8 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-9 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-10 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-11 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-12 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-13 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-14 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-15 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-16 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-17 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-18 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-19 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-20 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-21 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-22 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-23 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-24 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.container-12 .block .omega-grid {
	margin-right: -10px; margin-left: -10px; position: relative;
}
.container-16 .block .omega-grid {
	margin-right: -10px; margin-left: -10px; position: relative;
}
.container-24 .block .omega-grid {
	margin-right: -10px; margin-left: -10px; position: relative;
}
.clearfix::after {
	font-size: 0px;
}
#skip-link {
	left: 50%; width: auto; margin-top: 0px; margin-left: -5.25em; position: absolute; z-index: 50;
}
#skip-link a {
	background: rgba(0, 0, 0, 0.6); padding: 1px 10px 2px; border-radius: 0px 0px 10px 10px; color: rgb(255, 255, 255); text-decoration: none; display: block; -moz-border-radius: 0 0 10px 10px; -khtml-border-radius: 0 0 10px 10px; -o-border-radius: 0 0 10px 10px; -webkit-border-top-left-radius: 0; -webkit-border-top-right-radius: 0; -webkit-border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius: 10px;
}
#skip-link a:link {
	background: rgba(0, 0, 0, 0.6); padding: 1px 10px 2px; border-radius: 0px 0px 10px 10px; color: rgb(255, 255, 255); text-decoration: none; display: block; -moz-border-radius: 0 0 10px 10px; -khtml-border-radius: 0 0 10px 10px; -o-border-radius: 0 0 10px 10px; -webkit-border-top-left-radius: 0; -webkit-border-top-right-radius: 0; -webkit-border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius: 10px;
}
#skip-link a:visited {
	background: rgba(0, 0, 0, 0.6); padding: 1px 10px 2px; border-radius: 0px 0px 10px 10px; color: rgb(255, 255, 255); text-decoration: none; display: block; -moz-border-radius: 0 0 10px 10px; -khtml-border-radius: 0 0 10px 10px; -o-border-radius: 0 0 10px 10px; -webkit-border-top-left-radius: 0; -webkit-border-top-right-radius: 0; -webkit-border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius: 10px;
}
#skip-link a:hover {
	outline: 0px;
}
#skip-link a:active {
	outline: 0px;
}
#skip-link a:focus {
	outline: 0px;
}
.inline li {
	list-style: none; margin-right: 0.5em; display: inline;
}
.tabs li {
	list-style: none; margin-right: 0.5em; display: inline;
}
.breadcrumb li {
	list-style: none; margin-right: 0.5em; display: inline;
}
.item-list li {
	list-style: none;
}
.pager li {
	margin-right: 0.25em; display: inline;
}
img {
	vertical-align: bottom;
}
.field-label-inline .field-label {
	display: inline;
}
.field-label-inline .field-items {
	display: inline;
}
.field-label-inline .field-item {
	display: inline;
}
input {
	margin: 0px; vertical-align: middle;
}
button {
	margin: 0px; vertical-align: middle;
}
select {
	margin: 0px; vertical-align: middle;
}
textarea {
	margin: 0px; vertical-align: middle;
}
button {
	background: url("/sites/all/themes/omega/omega/images/button.png") repeat-x rgb(221, 221, 221); border-width: 1px; border-style: solid; border-color: rgb(221, 221, 221) rgb(187, 187, 187) rgb(153, 153, 153); font: bold 12px/1.2 Arial, sans-serif; padding: 3px 10px 4px; outline: 0px; border-radius: 11px; width: auto; color: rgb(51, 51, 51); overflow: visible; cursor: pointer; font-size-adjust: none; font-stretch: normal; text-shadow: 0px 1px 1px #fff; -moz-border-radius: 11px; -webkit-border-radius: 11px; -webkit-appearance: none; -moz-background-clip: padding; -webkit-background-clip: padding;
}
input[type='reset'] {
	background: url("/sites/all/themes/omega/omega/images/button.png") repeat-x rgb(221, 221, 221); border-width: 1px; border-style: solid; border-color: rgb(221, 221, 221) rgb(187, 187, 187) rgb(153, 153, 153); font: bold 12px/1.2 Arial, sans-serif; padding: 3px 10px 4px; outline: 0px; border-radius: 11px; width: auto; color: rgb(51, 51, 51); overflow: visible; cursor: pointer; font-size-adjust: none; font-stretch: normal; text-shadow: 0px 1px 1px #fff; -moz-border-radius: 11px; -webkit-border-radius: 11px; -webkit-appearance: none; -moz-background-clip: padding; -webkit-background-clip: padding;
}
input[type='submit'] {
	background: url("/sites/all/themes/omega/omega/images/button.png") repeat-x rgb(221, 221, 221); border-width: 1px; border-style: solid; border-color: rgb(221, 221, 221) rgb(187, 187, 187) rgb(153, 153, 153); font: bold 12px/1.2 Arial, sans-serif; padding: 3px 10px 4px; outline: 0px; border-radius: 11px; width: auto; color: rgb(51, 51, 51); overflow: visible; cursor: pointer; font-size-adjust: none; font-stretch: normal; text-shadow: 0px 1px 1px #fff; -moz-border-radius: 11px; -webkit-border-radius: 11px; -webkit-appearance: none; -moz-background-clip: padding; -webkit-background-clip: padding;
}
input[type='button'] {
	background: url("/sites/all/themes/omega/omega/images/button.png") repeat-x rgb(221, 221, 221); border-width: 1px; border-style: solid; border-color: rgb(221, 221, 221) rgb(187, 187, 187) rgb(153, 153, 153); font: bold 12px/1.2 Arial, sans-serif; padding: 3px 10px 4px; outline: 0px; border-radius: 11px; width: auto; color: rgb(51, 51, 51); overflow: visible; cursor: pointer; font-size-adjust: none; font-stretch: normal; text-shadow: 0px 1px 1px #fff; -moz-border-radius: 11px; -webkit-border-radius: 11px; -webkit-appearance: none; -moz-background-clip: padding; -webkit-background-clip: padding;
}
button {
	
}
textarea {
	border-width: 1px; border-style: solid; border-color: rgb(132, 132, 132) rgb(193, 193, 193) rgb(225, 225, 225); padding: 2px 3px; outline: 0px; border-radius: 0px; height: 1.8em; color: rgb(0, 0, 0); font-family: Arial,sans-serif; font-size: 13px; box-sizing: border-box; background-clip: padding-box; background-color: rgb(255, 255, 255); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; -moz-background-clip: padding; -webkit-background-clip: padding;
}
select {
	border-width: 1px; border-style: solid; border-color: rgb(132, 132, 132) rgb(193, 193, 193) rgb(225, 225, 225); padding: 2px 3px; outline: 0px; border-radius: 0px; height: 1.8em; color: rgb(0, 0, 0); font-family: Arial,sans-serif; font-size: 13px; box-sizing: border-box; background-clip: padding-box; background-color: rgb(255, 255, 255); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; -moz-background-clip: padding; -webkit-background-clip: padding;
}
input[type='date'] {
	border-width: 1px; border-style: solid; border-color: rgb(132, 132, 132) rgb(193, 193, 193) rgb(225, 225, 225); padding: 2px 3px; outline: 0px; border-radius: 0px; height: 1.8em; color: rgb(0, 0, 0); font-family: Arial,sans-serif; font-size: 13px; box-sizing: border-box; background-clip: padding-box; background-color: rgb(255, 255, 255); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; -moz-background-clip: padding; -webkit-background-clip: padding;
}
input[type='datetime'] {
	border-width: 1px; border-style: solid; border-color: rgb(132, 132, 132) rgb(193, 193, 193) rgb(225, 225, 225); padding: 2px 3px; outline: 0px; border-radius: 0px; height: 1.8em; color: rgb(0, 0, 0); font-family: Arial,sans-serif; font-size: 13px; box-sizing: border-box; background-clip: padding-box; background-color: rgb(255, 255, 255); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; -moz-background-clip: padding; -webkit-background-clip: padding;
}
input[type='datetime-local'] {
	border-width: 1px; border-style: solid; border-color: rgb(132, 132, 132) rgb(193, 193, 193) rgb(225, 225, 225); padding: 2px 3px; outline: 0px; border-radius: 0px; height: 1.8em; color: rgb(0, 0, 0); font-family: Arial,sans-serif; font-size: 13px; box-sizing: border-box; background-clip: padding-box; background-color: rgb(255, 255, 255); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; -moz-background-clip: padding; -webkit-background-clip: padding;
}
input[type='email'] {
	border-width: 1px; border-style: solid; border-color: rgb(132, 132, 132) rgb(193, 193, 193) rgb(225, 225, 225); padding: 2px 3px; outline: 0px; border-radius: 0px; height: 1.8em; color: rgb(0, 0, 0); font-family: Arial,sans-serif; font-size: 13px; box-sizing: border-box; background-clip: padding-box; background-color: rgb(255, 255, 255); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; -moz-background-clip: padding; -webkit-background-clip: padding;
}
input[type='month'] {
	border-width: 1px; border-style: solid; border-color: rgb(132, 132, 132) rgb(193, 193, 193) rgb(225, 225, 225); padding: 2px 3px; outline: 0px; border-radius: 0px; height: 1.8em; color: rgb(0, 0, 0); font-family: Arial,sans-serif; font-size: 13px; box-sizing: border-box; background-clip: padding-box; background-color: rgb(255, 255, 255); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; -moz-background-clip: padding; -webkit-background-clip: padding;
}
input[type='number'] {
	border-width: 1px; border-style: solid; border-color: rgb(132, 132, 132) rgb(193, 193, 193) rgb(225, 225, 225); padding: 2px 3px; outline: 0px; border-radius: 0px; height: 1.8em; color: rgb(0, 0, 0); font-family: Arial,sans-serif; font-size: 13px; box-sizing: border-box; background-clip: padding-box; background-color: rgb(255, 255, 255); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; -moz-background-clip: padding; -webkit-background-clip: padding;
}
input[type='password'] {
	border-width: 1px; border-style: solid; border-color: rgb(132, 132, 132) rgb(193, 193, 193) rgb(225, 225, 225); padding: 2px 3px; outline: 0px; border-radius: 0px; height: 1.8em; color: rgb(0, 0, 0); font-family: Arial,sans-serif; font-size: 13px; box-sizing: border-box; background-clip: padding-box; background-color: rgb(255, 255, 255); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; -moz-background-clip: padding; -webkit-background-clip: padding;
}
input[type='search'] {
	border-width: 1px; border-style: solid; border-color: rgb(132, 132, 132) rgb(193, 193, 193) rgb(225, 225, 225); padding: 2px 3px; outline: 0px; border-radius: 0px; height: 1.8em; color: rgb(0, 0, 0); font-family: Arial,sans-serif; font-size: 13px; box-sizing: border-box; background-clip: padding-box; background-color: rgb(255, 255, 255); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; -moz-background-clip: padding; -webkit-background-clip: padding;
}
input[type='tel'] {
	border-width: 1px; border-style: solid; border-color: rgb(132, 132, 132) rgb(193, 193, 193) rgb(225, 225, 225); padding: 2px 3px; outline: 0px; border-radius: 0px; height: 1.8em; color: rgb(0, 0, 0); font-family: Arial,sans-serif; font-size: 13px; box-sizing: border-box; background-clip: padding-box; background-color: rgb(255, 255, 255); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; -moz-background-clip: padding; -webkit-background-clip: padding;
}
input[type='text'] {
	border-width: 1px; border-style: solid; border-color: rgb(132, 132, 132) rgb(193, 193, 193) rgb(225, 225, 225); padding: 2px 3px; outline: 0px; border-radius: 0px; height: 1.8em; color: rgb(0, 0, 0); font-family: Arial,sans-serif; font-size: 13px; box-sizing: border-box; background-clip: padding-box; background-color: rgb(255, 255, 255); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; -moz-background-clip: padding; -webkit-background-clip: padding;
}
input[type='time'] {
	border-width: 1px; border-style: solid; border-color: rgb(132, 132, 132) rgb(193, 193, 193) rgb(225, 225, 225); padding: 2px 3px; outline: 0px; border-radius: 0px; height: 1.8em; color: rgb(0, 0, 0); font-family: Arial,sans-serif; font-size: 13px; box-sizing: border-box; background-clip: padding-box; background-color: rgb(255, 255, 255); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; -moz-background-clip: padding; -webkit-background-clip: padding;
}
input[type='url'] {
	border-width: 1px; border-style: solid; border-color: rgb(132, 132, 132) rgb(193, 193, 193) rgb(225, 225, 225); padding: 2px 3px; outline: 0px; border-radius: 0px; height: 1.8em; color: rgb(0, 0, 0); font-family: Arial,sans-serif; font-size: 13px; box-sizing: border-box; background-clip: padding-box; background-color: rgb(255, 255, 255); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; -moz-background-clip: padding; -webkit-background-clip: padding;
}
input[type='week'] {
	border-width: 1px; border-style: solid; border-color: rgb(132, 132, 132) rgb(193, 193, 193) rgb(225, 225, 225); padding: 2px 3px; outline: 0px; border-radius: 0px; height: 1.8em; color: rgb(0, 0, 0); font-family: Arial,sans-serif; font-size: 13px; box-sizing: border-box; background-clip: padding-box; background-color: rgb(255, 255, 255); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; -moz-background-clip: padding; -webkit-background-clip: padding;
}
button:focus {
	z-index: 1; box-shadow: 0px 0px 7px #06f; -moz-box-shadow: #06f 0 0 7px; -webkit-box-shadow: #06f 0 0 7px;
}
button:active {
	z-index: 1; box-shadow: 0px 0px 7px #06f; -moz-box-shadow: #06f 0 0 7px; -webkit-box-shadow: #06f 0 0 7px;
}
input:focus {
	z-index: 1; box-shadow: 0px 0px 7px #06f; -moz-box-shadow: #06f 0 0 7px; -webkit-box-shadow: #06f 0 0 7px;
}
input:active {
	z-index: 1; box-shadow: 0px 0px 7px #06f; -moz-box-shadow: #06f 0 0 7px; -webkit-box-shadow: #06f 0 0 7px;
}
select:focus {
	z-index: 1; box-shadow: 0px 0px 7px #06f; -moz-box-shadow: #06f 0 0 7px; -webkit-box-shadow: #06f 0 0 7px;
}
select:active {
	z-index: 1; box-shadow: 0px 0px 7px #06f; -moz-box-shadow: #06f 0 0 7px; -webkit-box-shadow: #06f 0 0 7px;
}
textarea:focus {
	z-index: 1; box-shadow: 0px 0px 7px #06f; -moz-box-shadow: #06f 0 0 7px; -webkit-box-shadow: #06f 0 0 7px;
}
textarea:active {
	z-index: 1; box-shadow: 0px 0px 7px #06f; -moz-box-shadow: #06f 0 0 7px; -webkit-box-shadow: #06f 0 0 7px;
}
input[type='file']:focus {
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
input[type='file']:active {
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
input[type='radio']:focus {
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
input[type='radio']:active {
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
input[type='checkbox']:focus {
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
input[type='checkbox']:active {
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
select[disabled] {
	background-color: rgb(238, 238, 238);
}
textarea[disabled] {
	background-color: rgb(238, 238, 238);
}
input[type='date'][disabled] {
	background-color: rgb(238, 238, 238);
}
input[type='datetime'][disabled] {
	background-color: rgb(238, 238, 238);
}
input[type='datetime-local'][disabled] {
	background-color: rgb(238, 238, 238);
}
input[type='email'][disabled] {
	background-color: rgb(238, 238, 238);
}
input[type='month'][disabled] {
	background-color: rgb(238, 238, 238);
}
input[type='number'][disabled] {
	background-color: rgb(238, 238, 238);
}
input[type='password'][disabled] {
	background-color: rgb(238, 238, 238);
}
input[type='search'][disabled] {
	background-color: rgb(238, 238, 238);
}
input[type='tel'][disabled] {
	background-color: rgb(238, 238, 238);
}
input[type='text'][disabled] {
	background-color: rgb(238, 238, 238);
}
input[type='time'][disabled] {
	background-color: rgb(238, 238, 238);
}
input[type='url'][disabled] {
	background-color: rgb(238, 238, 238);
}
input[type='week'][disabled] {
	background-color: rgb(238, 238, 238);
}
button[disabled] {
	color: rgb(136, 136, 136); cursor: default; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
input[disabled] {
	color: rgb(136, 136, 136); cursor: default; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
select[disabled] {
	color: rgb(136, 136, 136); cursor: default; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
select[disabled] option {
	color: rgb(136, 136, 136); cursor: default; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
select[disabled] optgroup {
	color: rgb(136, 136, 136); cursor: default; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
textarea[disabled] {
	color: rgb(136, 136, 136); cursor: default; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
textarea {
	height: auto;
}
select[size] {
	height: auto;
}
select[multiple] {
	height: auto;
}
@media not all
{
select {
	background-position: right; padding-right: 20px; background-image: url("/sites/all/themes/omega/omega/images/select-arrow.gif"); background-repeat: no-repeat;
}
select[size] {
	padding: 0px; background-image: none;
}
select[multiple] {
	padding: 0px; background-image: none;
}
}
textarea {
	width: 100%; overflow: auto; min-height: 40px; resize: vertical;
}
optgroup {
	color: rgb(0, 0, 0); font-style: normal; font-weight: normal;
}
.ie6-button {
	background: url("/sites/all/themes/omega/omega/images/button.png") repeat-x rgb(221, 221, 221); border-width: 1px; border-style: solid; border-color: rgb(221, 221, 221) rgb(187, 187, 187) rgb(153, 153, 153); font: bold 12px/1.2 Arial, sans-serif; padding: 2px 10px 0px; width: auto; color: rgb(51, 51, 51); overflow: visible; cursor: pointer; font-size-adjust: none; font-stretch: normal;
}
* html button {
	background: url("/sites/all/themes/omega/omega/images/button.png") repeat-x rgb(221, 221, 221); border-width: 1px; border-style: solid; border-color: rgb(221, 221, 221) rgb(187, 187, 187) rgb(153, 153, 153); font: bold 12px/1.2 Arial, sans-serif; padding: 2px 10px 0px; width: auto; color: rgb(51, 51, 51); overflow: visible; cursor: pointer; font-size-adjust: none; font-stretch: normal;
}
* html button {
	padding-top: 1px; padding-bottom: 1px;
}
.ie6-input {
	background: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(132, 132, 132) rgb(193, 193, 193) rgb(225, 225, 225); padding: 2px 3px 1px; color: rgb(0, 0, 0); font-family: Arial,sans-serif; font-size: 13px; vertical-align: top;
}
* html textarea {
	background: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(132, 132, 132) rgb(193, 193, 193) rgb(225, 225, 225); padding: 2px 3px 1px; color: rgb(0, 0, 0); font-family: Arial,sans-serif; font-size: 13px; vertical-align: top;
}
* html select {
	background: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(132, 132, 132) rgb(193, 193, 193) rgb(225, 225, 225); padding: 2px 3px 1px; color: rgb(0, 0, 0); font-family: Arial,sans-serif; font-size: 13px; vertical-align: top;
}
* html select {
	margin-top: 1px;
}
.placeholder_text {
	color: rgb(136, 136, 136);
}
.ie6-input-disabled {
	color: rgb(136, 136, 136);
}
.ie6-button-disabled {
	color: rgb(136, 136, 136);
}
.ie6-input-disabled {
	background: rgb(238, 238, 238);
}
body {
	font: 13px/1.5 Verdana, Helvetica, Arial, sans-serif; font-size-adjust: none; font-stretch: normal;
}
a:link {
	color: rgb(0, 98, 160); text-decoration: underline;
}
a:visited {
	color: rgb(0, 98, 160); text-decoration: underline;
}
a:hover {
	color: rgb(32, 33, 36); text-decoration: none;
}
a:active {
	color: rgb(0, 0, 0); text-decoration: none;
}
hr {
	background: rgb(82, 148, 193); margin: 0px; padding: 0px; border: currentColor; height: 1px;
}
h1 {
	letter-spacing: -0.05em; font-family: Georgia,"Times New Roman",serif;
}
h2 {
	letter-spacing: -0.05em; font-family: Georgia,"Times New Roman",serif;
}
h3 {
	letter-spacing: -0.05em; font-family: Georgia,"Times New Roman",serif;
}
h4 {
	letter-spacing: -0.05em; font-family: Georgia,"Times New Roman",serif;
}
h5 {
	letter-spacing: -0.05em; font-family: Georgia,"Times New Roman",serif;
}
h6 {
	letter-spacing: -0.05em; font-family: Georgia,"Times New Roman",serif;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 28px;
}
h1.site-name {
	font-size: 36px;
}
h2.site-name {
	font-size: 36px;
}
h2.block-title {
	margin: 0px; font-size: 18px;
}
h2.node-title {
	font-size: 28px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 19px;
}
h5 {
	font-size: 17px;
}
h6 {
	font-size: 15px;
}
ol {
	list-style: decimal;
}
ul {
	
}
ul ul {
	padding-top: 0.5em;
}
ol ol {
	padding-top: 0.5em;
}
.node ol {
	padding-left: 1.2em;
}
.node ul {
	padding-left: 1.2em;
}
.node ul.inline {
	padding-left: 0px;
}
.node ol.inline {
	padding-left: 0px;
}
p {
	margin-bottom: 20px;
}
dl {
	margin-bottom: 20px;
}
hr {
	margin-bottom: 20px;
}
h1 {
	margin-bottom: 20px;
}
h2 {
	margin-bottom: 20px;
}
h3 {
	margin-bottom: 20px;
}
h4 {
	margin-bottom: 20px;
}
h5 {
	margin-bottom: 20px;
}
h6 {
	margin-bottom: 20px;
}
ol {
	margin-bottom: 20px;
}
ul {
	margin-bottom: 20px;
}
pre {
	margin-bottom: 20px;
}
table {
	margin-bottom: 20px;
}
address {
	margin-bottom: 20px;
}
fieldset {
	margin-bottom: 20px;
}
dt {
	margin: 0px; font-size: 18px;
}
.admin h3 {
	margin: 0px; font-size: 18px;
}
dd {
	padding-left: 10px; font-size: 0.9em; font-style: italic; margin-bottom: 20px;
}
.logo-img {
	margin-right: 20px; float: left;
}
.site-name-slogan {
	float: left;
}
.site-name {
	margin-top: 20px;
}
.site-name a {
	text-decoration: none;
}
.site-name {
	line-height: 1em; margin-bottom: 0px;
}
.site-slogan {
	line-height: 1em; margin-bottom: 0px;
}
.site-slogan {
	font-weight: normal;
}
.menu {
	margin: 0px; padding: 0px;
}
.menu li {
	list-style: none;
}
.form-actions input {
	margin-right: 0.5em;
}
.form-actions input:hover {
	background: rgb(255, 255, 255);
}
label {
	font-weight: bold;
}
.item-list .pager {
	margin: 0px; padding: 0px;
}
.item-list .pager li {
	margin: 0px; padding: 0px; float: left;
}
.item-list .pager ul li {
	margin: 0px; padding: 0px; float: left;
}
.item-list .pager {
	margin: 0px; padding: 0px; text-align: left; font-size: 10px; position: relative;
}
.pager li a {
	display: inline-block;
}
.pager li.pager-ellipsis {
	padding: 4px 8px; text-decoration: none;
}
.pager li.pager-current {
	padding: 4px 8px; text-decoration: none;
}
.pager li a {
	padding: 4px 8px; text-decoration: none;
}
.pager li.pager-current {
	padding: 4px 8px; font-weight: bold;
}
.pager li.pager-first a {
	padding: 4px 0px; width: 50px; text-align: center;
}
.pager li.pager-previous a {
	padding: 4px 0px; width: 50px; text-align: center;
}
.pager li.pager-next a {
	padding: 4px 0px; width: 50px; text-align: center;
}
.pager li.pager-last a {
	padding: 4px 0px; width: 50px; text-align: center;
}
.pager li.pager-next {
	top: 0px; right: 50px; position: absolute;
}
.pager li.pager-last {
	top: 0px; right: 0px; border-right-color: currentColor; border-right-width: 0px; border-right-style: none; position: absolute;
}
.pager li.last.pager-next {
	top: 0px; right: 0px; border-right-color: currentColor; border-right-width: 0px; border-right-style: none; position: absolute;
}
.pager li.pager-ellipsis {
	color: rgb(26, 26, 26);
}
.pager li.pager-current {
	color: rgb(26, 26, 26);
}
.pager li a {
	color: rgb(26, 26, 26);
}
.pager li {
	border-color: rgb(221, 221, 221) rgb(187, 187, 187) rgb(153, 153, 153); font: bold 12px/1.2 Arial, sans-serif; outline: 0px; color: rgb(51, 51, 51); border-right-width: 1px; border-right-style: solid; font-size-adjust: none; font-stretch: normal;
}
.pager li.pager-current {
	background: url("/sites/all/themes/omega/omega/images/button.png") repeat-x rgb(221, 221, 221); outline: 0px; color: rgb(255, 255, 255);
}
.pager li.pager-next {
	border-color: rgb(221, 221, 221) rgb(187, 187, 187) rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid;
}
.pager li a {
	background: url("/sites/all/themes/omega/omega/images/button.png") repeat-x rgb(221, 221, 221); cursor: pointer;
}
.pager li a:hover {
	background: rgb(255, 255, 255); color: rgb(69, 69, 69);
}
.pager {
	background: rgb(235, 235, 235); border-width: 1px; border-style: solid; border-color: rgb(221, 221, 221) rgb(187, 187, 187) rgb(153, 153, 153); border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.pager li.first {
	border-radius: 5px 0px 0px 5px; -moz-border-radius: 5px 0 0 5px; -webkit-border-radius: 5px 0 0 5px;
}
.pager li.first a {
	border-radius: 5px 0px 0px 5px; -moz-border-radius: 5px 0 0 5px; -webkit-border-radius: 5px 0 0 5px;
}
.pager li.first a:hover {
	border-radius: 5px 0px 0px 5px; -moz-border-radius: 5px 0 0 5px; -webkit-border-radius: 5px 0 0 5px;
}
.pager li.pager-last {
	border-radius: 0px 5px 5px 0px; -moz-border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0;
}
.pager li.pager-last a {
	border-radius: 0px 5px 5px 0px; -moz-border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0;
}
.pager li.pager-last a:hover {
	border-radius: 0px 5px 5px 0px; -moz-border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0;
}
table {
	border: 1px solid rgb(204, 204, 204); width: 100%;
}
thead th {
	background: rgb(247, 247, 247); color: rgb(51, 51, 51); border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
th {
	background: rgb(247, 247, 247); color: rgb(51, 51, 51); border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
td {
	padding: 4px 8px; vertical-align: middle;
}
th {
	padding: 4px 8px; vertical-align: middle;
}
th a {
	text-decoration: none;
}
th a:link {
	text-decoration: none;
}
th a:visited {
	text-decoration: none;
}
th a {
	display: block;
}
th a img {
	margin: 0px 0px 0px 5px;
}
th.active {
	background: rgb(221, 221, 221); border-right-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
tr.even td {
	background: rgb(241, 245, 250);
}
tr.odd td {
	background: rgb(255, 255, 255);
}
td.active {
	border-right-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
tr.even td.active {
	background: rgb(229, 233, 237);
}
tr.odd td.active {
	background: rgb(242, 242, 242);
}
tr:hover td {
	background: rgb(255, 254, 238);
}
tr.even:hover td.active {
	background: rgb(255, 254, 238);
}
tr.odd:hover td.active {
	background: rgb(255, 254, 238);
}
td ul.links {
	margin-bottom: 0px;
}
.node-links ul li a {
	background: url("/sites/all/themes/omega/omega/images/button.png") repeat-x rgb(221, 221, 221); border-width: 1px; border-style: solid; border-color: rgb(221, 221, 221) rgb(187, 187, 187) rgb(153, 153, 153); font: bold 12px/1.2 Arial, sans-serif; margin: 0px 0.5em 0.5em 0px; padding: 4px 10px 3px; outline: 0px; border-radius: 11px; width: auto; color: rgb(51, 51, 51); text-transform: lowercase; overflow: visible; text-decoration: none; vertical-align: middle; float: left; display: block; cursor: pointer; font-size-adjust: none; font-stretch: normal; text-shadow: 0px 1px 1px #fff; -moz-border-radius: 11px; -webkit-border-radius: 11px; -webkit-appearance: none; -moz-background-clip: padding; -webkit-background-clip: padding;
}
.comment-links ul li a {
	background: url("/sites/all/themes/omega/omega/images/button.png") repeat-x rgb(221, 221, 221); border-width: 1px; border-style: solid; border-color: rgb(221, 221, 221) rgb(187, 187, 187) rgb(153, 153, 153); font: bold 12px/1.2 Arial, sans-serif; margin: 0px 0.5em 0.5em 0px; padding: 4px 10px 3px; outline: 0px; border-radius: 11px; width: auto; color: rgb(51, 51, 51); text-transform: lowercase; overflow: visible; text-decoration: none; vertical-align: middle; float: left; display: block; cursor: pointer; font-size-adjust: none; font-stretch: normal; text-shadow: 0px 1px 1px #fff; -moz-border-radius: 11px; -webkit-border-radius: 11px; -webkit-appearance: none; -moz-background-clip: padding; -webkit-background-clip: padding;
}
.node-links ul li a:hover {
	background: rgb(255, 255, 255);
}
.comment-links ul li a:hover {
	background: rgb(255, 255, 255);
}
.tips {
	color: rgb(106, 106, 106); font-size: 10px;
}
.description {
	color: rgb(106, 106, 106); font-size: 10px;
}
.zone-branding-wrapper {
	background-position: top; height: 120px; background-image: url("/sites/default/themes/go_com/images/header_small.jpg"); background-repeat: no-repeat; background-size: 100%; background-color: rgb(237, 238, 244);
}
.zone-footer-wrapper {
	background-color: rgb(18, 20, 71);
}
.section-content {
	background-color: rgb(237, 238, 244);
}
.footer_logo {
	text-align: center; padding-top: 20px;
}
.footer_link {
	text-align: center; color: rgb(255, 255, 255); line-height: 25px; font-family: arial; font-size: 11px; margin-top: 10px;
}
.footer_link a {
	text-align: center; color: rgb(255, 255, 255); text-decoration: none;
}
.top_logo {
	text-align: center; padding-top: 20px;
}
.top_logo img {
	width: 186px; height: 48px;
}
.item-list ul li {
	border-radius: 15px; border: 1px solid rgb(194, 194, 194); width: 280px; overflow: hidden; margin-bottom: 20px; vertical-align: text-bottom; display: inline-block; background-color: rgb(255, 255, 255);
}
.node-title {
	display: none;
}
.link_summary {
	color: rgb(45, 45, 45); padding-bottom: 5px; font-family: arial; font-size: 12px; display: block;
}
.link_title a {
	color: rgb(23, 134, 235); font-family: arial; font-size: 14px; text-decoration: none;
}
.field-name-field-link {
	padding: 10px;
}
.item-list {
	width: 320px; margin-top: 20px; margin-right: auto; margin-left: auto; display: block;
}
.grid-12 {
	margin-right: 0px; margin-left: 0px;
}
.rss_header {
	color: rgb(45, 45, 45); font-family: arial; font-size: 14px; margin-top: 10px; display: block;
}
.rss_title a {
	color: rgb(23, 134, 235); padding-right: 2px; font-family: arial; font-size: 12px; text-decoration: none;
}
.rss_entry {
	text-indent: -8px; margin-left: 8px;
}
.rss_dot {
	padding-right: 2px;
}
.field-name-field-image-tooltip {
	padding: 10px; border-radius: 15px 15px 0px 0px; transition:opacity 0.25s ease-in-out, width 0.5s ease-in-out; top: -124px; width: 230px; height: 90px; text-align: center; color: white; line-height: 16px; font-family: arial; font-size: 14px; margin-right: auto; margin-bottom: -110px; margin-left: auto; position: relative; z-index: 100; opacity: 0; box-shadow: inset 0px 0px 3px 3px rgba(44,57,65,0.3), 0px 1px 2px rgba(0,0,0,0.1); background-color: rgb(68, 87, 101); -moz-box-shadow: inset 0 0 3px 3px rgba(44, 57, 65, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1); -webkit-box-shadow: inset 0 0 3px 3px rgba(44, 57, 65, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1); -moz-transition: opacity .25s ease-in-out; -webkit-transition: opacity .25s ease-in-out;
}
.field-name-field-image-tooltip:hover {
	transition:opacity 0.25s ease-in-out; opacity: 0.9; -moz-transition: opacity .25s ease-in-out; -webkit-transition: opacity .25s ease-in-out;
}
.lt-ie9 .field-name-field-image-tooltip {
	visibility: hidden;
}
.leaderboard_desktop {
	display: none;
}
.skyscraper {
	display: none;
}
.leaderboard_mobile {
	margin: 0px auto; width: 320px; height: 60px; padding-top: 70px; display: block;
}
.mobile_leaderboard2 {
	margin: 0px auto 0px -10px; width: 320px; height: 60px; display: block;
}
#div-gpt-ad-mobile-leaderboard1::after {
	right: 1px; bottom: -1px; color: rgb(153, 153, 153); font-family: "Arial"; font-size: 10px; display: block; position: absolute; content: "AD";
}
#div-gpt-ad-mobile-leaderboard2::after {
	right: 1px; bottom: -1px; color: rgb(153, 153, 153); font-family: "Arial"; font-size: 10px; display: block; position: absolute; content: "AD";
}
#disneyPlayer_player {
	width: 280px !important; height: 158px !important;
}
.XS.layout.player {
	width: 280px !important; height: 158px !important;
}
.XS.layout.video {
	width: 280px !important; height: 158px !important;
}
#disneyPlayer_player_ifp {
	width: 280px !important; height: 158px !important;
}
.field-name-field-video-title {
	color: rgb(45, 45, 45); padding-top: 9px; padding-bottom: 4px; padding-left: 5px; font-family: arial; font-size: 14px;
}
body {
	background-color: rgb(18, 20, 71);
}
.grid-9 {
	margin-right: 0px; margin-left: 0px;
}
