@media all and (min-width:740px) and (min-device-width:740px), all and (orientation:landscape) and (min-width:740px) and (max-device-width:800px)
{
.zone-branding-wrapper {
	background-position: top; height: 326px; background-image: url("/sites/default/themes/go_com/images/header.jpg"); background-repeat: no-repeat; background-size: 1280px; background-color: rgb(237, 238, 244);
}
.zone-footer-wrapper {
	background-position: bottom; background-image: url("/sites/default/themes/go_com/images/footer.png"); background-repeat: no-repeat; background-color: rgb(237, 238, 244);
}
.section-content {
	background-position: top; height: 1522px; background-image: url("/sites/default/themes/go_com/images/pixie_dust.jpg"); background-repeat: no-repeat; background-size: 1141px; background-color: rgb(237, 238, 244);
}
.footer_logo {
	margin-top: 30px;
}
.container-12 .grid-12 {
	margin-bottom: 20px;
}
.top_logo img {
	width: 232px; height: 60px;
}
.item-list {
	width: 100%;
}
.item-list ul li {
	margin-left: 0px;
}
.item-list ul li.views-row-2 {
	margin-right: 13px; margin-left: 11px;
}
.item-list ul li.views-row-5 {
	margin-right: 13px; margin-left: 11px;
}
.item-list ul li.views-row-8 {
	margin-right: 13px; margin-left: 11px;
}
body {
	background-color: rgb(237, 238, 244);
}
.leaderboard_desktop {
	margin: 0px auto; padding: 0px 0px 0px 10px; width: 728px; height: 90px; display: block; background-image: url("/sites/default/themes/go_com/images/ad-slug-vertical.gif"); background-repeat: no-repeat;
}
.skyscraper {
	padding: 10px 0px 0px; width: 160px; height: 600px; margin-top: 20px; display: block; background-image: url("/sites/default/themes/go_com/images/ad-slug-horizontal.gif"); background-repeat: no-repeat;
}
.leaderboard_mobile {
	display: none;
}
.mobile_leaderboard2 {
	display: none;
}
}
@media all and (min-width:740px) and (min-device-width:740px), all and (orientation:landscape) and (min-width:740px) and (max-device-width:800px)
{
.item-list ul li {
	width: 160px; height: 870px;
}
.field-item img {
	width: 160px; height: 77px;
}
#disneyPlayer_player {
	width: 160px !important; height: 90px !important;
}
.XS.layout.player {
	width: 160px !important; height: 90px !important;
}
.XS.layout.video {
	width: 160px !important; height: 90px !important;
}
.field-name-field-image-tooltip {
	visibility: hidden;
}
#disneyPlayer_player_ifp {
	width: 100% !important; height: 100% !important;
}
.leaderboard_desktop {
	margin-left: -20px;
}
}
@media all and (min-width:740px) and (min-device-width:740px), all and (orientation:landscape) and (min-width:740px) and (max-device-width:800px)
{
.grid-1 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-2 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-3 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-4 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-5 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-6 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-7 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-8 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-9 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-10 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-11 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-12 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.push-1 {
	position: relative;
}
.pull-1 {
	position: relative;
}
.push-2 {
	position: relative;
}
.pull-2 {
	position: relative;
}
.push-3 {
	position: relative;
}
.pull-3 {
	position: relative;
}
.push-4 {
	position: relative;
}
.pull-4 {
	position: relative;
}
.push-5 {
	position: relative;
}
.pull-5 {
	position: relative;
}
.push-6 {
	position: relative;
}
.pull-6 {
	position: relative;
}
.push-7 {
	position: relative;
}
.pull-7 {
	position: relative;
}
.push-8 {
	position: relative;
}
.pull-8 {
	position: relative;
}
.push-9 {
	position: relative;
}
.pull-9 {
	position: relative;
}
.push-10 {
	position: relative;
}
.pull-10 {
	position: relative;
}
.push-11 {
	position: relative;
}
.pull-11 {
	position: relative;
}
.push-12 {
	position: relative;
}
.pull-12 {
	position: relative;
}
.alpha {
	margin-left: 0px;
}
.omega {
	margin-right: 0px;
}
body {
	min-width: 720px;
}
.container-12 {
	width: 720px; margin-right: auto; margin-left: auto;
}
.container-12 .grid-1 {
	width: 40px;
}
.container-12 .grid-2 {
	width: 100px;
}
.container-12 .grid-3 {
	width: 160px;
}
.container-12 .grid-4 {
	width: 220px;
}
.container-12 .grid-5 {
	width: 280px;
}
.container-12 .grid-6 {
	width: 340px;
}
.container-12 .grid-7 {
	width: 400px;
}
.container-12 .grid-8 {
	width: 460px;
}
.container-12 .grid-9 {
	width: 520px;
}
.container-12 .grid-10 {
	width: 580px;
}
.container-12 .grid-11 {
	width: 640px;
}
.container-12 .grid-12 {
	width: 700px;
}
.container-12 .prefix-1 {
	padding-left: 60px;
}
.container-12 .prefix-2 {
	padding-left: 120px;
}
.container-12 .prefix-3 {
	padding-left: 180px;
}
.container-12 .prefix-4 {
	padding-left: 240px;
}
.container-12 .prefix-5 {
	padding-left: 300px;
}
.container-12 .prefix-6 {
	padding-left: 360px;
}
.container-12 .prefix-7 {
	padding-left: 420px;
}
.container-12 .prefix-8 {
	padding-left: 480px;
}
.container-12 .prefix-9 {
	padding-left: 540px;
}
.container-12 .prefix-10 {
	padding-left: 600px;
}
.container-12 .prefix-11 {
	padding-left: 660px;
}
.container-12 .suffix-1 {
	padding-right: 60px;
}
.container-12 .suffix-2 {
	padding-right: 120px;
}
.container-12 .suffix-3 {
	padding-right: 180px;
}
.container-12 .suffix-4 {
	padding-right: 240px;
}
.container-12 .suffix-5 {
	padding-right: 300px;
}
.container-12 .suffix-6 {
	padding-right: 360px;
}
.container-12 .suffix-7 {
	padding-right: 420px;
}
.container-12 .suffix-8 {
	padding-right: 480px;
}
.container-12 .suffix-9 {
	padding-right: 540px;
}
.container-12 .suffix-10 {
	padding-right: 600px;
}
.container-12 .suffix-11 {
	padding-right: 660px;
}
.container-12 .push-1 {
	left: 60px;
}
.container-12 .push-2 {
	left: 120px;
}
.container-12 .push-3 {
	left: 180px;
}
.container-12 .push-4 {
	left: 240px;
}
.container-12 .push-5 {
	left: 300px;
}
.container-12 .push-6 {
	left: 360px;
}
.container-12 .push-7 {
	left: 420px;
}
.container-12 .push-8 {
	left: 480px;
}
.container-12 .push-9 {
	left: 540px;
}
.container-12 .push-10 {
	left: 600px;
}
.container-12 .push-11 {
	left: 660px;
}
.container-12 .pull-1 {
	left: -60px;
}
.container-12 .pull-2 {
	left: -120px;
}
.container-12 .pull-3 {
	left: -180px;
}
.container-12 .pull-4 {
	left: -240px;
}
.container-12 .pull-5 {
	left: -300px;
}
.container-12 .pull-6 {
	left: -360px;
}
.container-12 .pull-7 {
	left: -420px;
}
.container-12 .pull-8 {
	left: -480px;
}
.container-12 .pull-9 {
	left: -540px;
}
.container-12 .pull-10 {
	left: -600px;
}
.container-12 .pull-11 {
	left: -660px;
}
}
@media all and (min-width:980px) and (min-device-width:980px), all and (orientation:landscape) and (min-width:1024px) and (max-device-width:1024px)
{
.zone-branding-wrapper {
	background-position: top; height: 326px; background-image: url("/sites/default/themes/go_com/images/header.jpg"); background-repeat: no-repeat; background-size: 1280px; background-color: rgb(237, 238, 244);
}
.zone-footer-wrapper {
	background-position: bottom; background-image: url("/sites/default/themes/go_com/images/footer.png"); background-repeat: no-repeat; background-color: rgb(237, 238, 244);
}
.section-content {
	background-position: top; height: 1522px; background-image: url("/sites/default/themes/go_com/images/pixie_dust.jpg"); background-repeat: no-repeat; background-size: 1141px; background-color: rgb(237, 238, 244);
}
.footer_logo {
	margin-top: 30px;
}
.container-12 .grid-12 {
	margin-bottom: 20px;
}
.top_logo img {
	width: 232px; height: 60px;
}
.item-list {
	width: 100%;
}
.item-list ul li {
	margin-left: 0px;
}
.item-list ul li.views-row-2 {
	margin-right: 13px; margin-left: 11px;
}
.item-list ul li.views-row-5 {
	margin-right: 13px; margin-left: 11px;
}
.item-list ul li.views-row-8 {
	margin-right: 13px; margin-left: 11px;
}
body {
	background-color: rgb(237, 238, 244);
}
.leaderboard_desktop {
	margin: 0px auto; padding: 0px 0px 0px 10px; width: 728px; height: 90px; display: block; background-image: url("/sites/default/themes/go_com/images/ad-slug-vertical.gif"); background-repeat: no-repeat;
}
.skyscraper {
	padding: 10px 0px 0px; width: 160px; height: 600px; margin-top: 20px; display: block; background-image: url("/sites/default/themes/go_com/images/ad-slug-horizontal.gif"); background-repeat: no-repeat;
}
.leaderboard_mobile {
	display: none;
}
.mobile_leaderboard2 {
	display: none;
}
}
@media all and (min-width:980px) and (min-device-width:980px), all and (orientation:landscape) and (min-width:1024px) and (max-device-width:1024px)
{
.item-list ul li {
	width: 220px; height: 760px;
}
.field-item img {
	width: 220px; height: 106px;
}
.field-name-field-image-tooltip {
	padding: 10px; top: -100px; width: 184px; height: 72px; font-size: 13px; margin-bottom: -93px; visibility: visible; position: relative;
}
#disneyPlayer_player {
	width: 220px !important; height: 124px !important;
}
.XS.layout.player {
	width: 220px !important; height: 124px !important;
}
.XS.layout.video {
	width: 220px !important; height: 124px !important;
}
}
@media all and (min-width:980px) and (min-device-width:980px), all and (orientation:landscape) and (min-width:1024px) and (max-device-width:1024px)
{
.grid-1 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-2 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-3 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-4 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-5 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-6 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-7 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-8 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-9 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-10 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-11 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-12 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.push-1 {
	position: relative;
}
.pull-1 {
	position: relative;
}
.push-2 {
	position: relative;
}
.pull-2 {
	position: relative;
}
.push-3 {
	position: relative;
}
.pull-3 {
	position: relative;
}
.push-4 {
	position: relative;
}
.pull-4 {
	position: relative;
}
.push-5 {
	position: relative;
}
.pull-5 {
	position: relative;
}
.push-6 {
	position: relative;
}
.pull-6 {
	position: relative;
}
.push-7 {
	position: relative;
}
.pull-7 {
	position: relative;
}
.push-8 {
	position: relative;
}
.pull-8 {
	position: relative;
}
.push-9 {
	position: relative;
}
.pull-9 {
	position: relative;
}
.push-10 {
	position: relative;
}
.pull-10 {
	position: relative;
}
.push-11 {
	position: relative;
}
.pull-11 {
	position: relative;
}
.push-12 {
	position: relative;
}
.pull-12 {
	position: relative;
}
.alpha {
	margin-left: 0px;
}
.omega {
	margin-right: 0px;
}
body {
	min-width: 960px;
}
.container-12 {
	width: 960px; margin-right: auto; margin-left: auto;
}
.container-12 .grid-1 {
	width: 60px;
}
.container-12 .grid-2 {
	width: 140px;
}
.container-12 .grid-3 {
	width: 220px;
}
.container-12 .grid-4 {
	width: 300px;
}
.container-12 .grid-5 {
	width: 380px;
}
.container-12 .grid-6 {
	width: 460px;
}
.container-12 .grid-7 {
	width: 540px;
}
.container-12 .grid-8 {
	width: 620px;
}
.container-12 .grid-9 {
	width: 700px;
}
.container-12 .grid-10 {
	width: 780px;
}
.container-12 .grid-11 {
	width: 860px;
}
.container-12 .grid-12 {
	width: 940px;
}
.container-12 .prefix-1 {
	padding-left: 80px;
}
.container-12 .prefix-2 {
	padding-left: 160px;
}
.container-12 .prefix-3 {
	padding-left: 240px;
}
.container-12 .prefix-4 {
	padding-left: 320px;
}
.container-12 .prefix-5 {
	padding-left: 400px;
}
.container-12 .prefix-6 {
	padding-left: 480px;
}
.container-12 .prefix-7 {
	padding-left: 560px;
}
.container-12 .prefix-8 {
	padding-left: 640px;
}
.container-12 .prefix-9 {
	padding-left: 720px;
}
.container-12 .prefix-10 {
	padding-left: 800px;
}
.container-12 .prefix-11 {
	padding-left: 880px;
}
.container-12 .suffix-1 {
	padding-right: 80px;
}
.container-12 .suffix-2 {
	padding-right: 160px;
}
.container-12 .suffix-3 {
	padding-right: 240px;
}
.container-12 .suffix-4 {
	padding-right: 320px;
}
.container-12 .suffix-5 {
	padding-right: 400px;
}
.container-12 .suffix-6 {
	padding-right: 480px;
}
.container-12 .suffix-7 {
	padding-right: 560px;
}
.container-12 .suffix-8 {
	padding-right: 640px;
}
.container-12 .suffix-9 {
	padding-right: 720px;
}
.container-12 .suffix-10 {
	padding-right: 800px;
}
.container-12 .suffix-11 {
	padding-right: 880px;
}
.container-12 .push-1 {
	left: 80px;
}
.container-12 .push-2 {
	left: 160px;
}
.container-12 .push-3 {
	left: 240px;
}
.container-12 .push-4 {
	left: 320px;
}
.container-12 .push-5 {
	left: 400px;
}
.container-12 .push-6 {
	left: 480px;
}
.container-12 .push-7 {
	left: 560px;
}
.container-12 .push-8 {
	left: 640px;
}
.container-12 .push-9 {
	left: 720px;
}
.container-12 .push-10 {
	left: 800px;
}
.container-12 .push-11 {
	left: 880px;
}
.container-12 .pull-1 {
	left: -80px;
}
.container-12 .pull-2 {
	left: -160px;
}
.container-12 .pull-3 {
	left: -240px;
}
.container-12 .pull-4 {
	left: -320px;
}
.container-12 .pull-5 {
	left: -400px;
}
.container-12 .pull-6 {
	left: -480px;
}
.container-12 .pull-7 {
	left: -560px;
}
.container-12 .pull-8 {
	left: -640px;
}
.container-12 .pull-9 {
	left: -720px;
}
.container-12 .pull-10 {
	left: -800px;
}
.container-12 .pull-11 {
	left: -880px;
}
}
@media all and (min-width:1220px)
{
.zone-branding-wrapper {
	background-position: top; height: 326px; background-image: url("/sites/default/themes/go_com/images/header.jpg"); background-repeat: no-repeat; background-size: 1280px; background-color: rgb(237, 238, 244);
}
.zone-footer-wrapper {
	background-position: bottom; background-image: url("/sites/default/themes/go_com/images/footer.png"); background-repeat: no-repeat; background-color: rgb(237, 238, 244);
}
.section-content {
	background-position: top; height: 1522px; background-image: url("/sites/default/themes/go_com/images/pixie_dust.jpg"); background-repeat: no-repeat; background-size: 1141px; background-color: rgb(237, 238, 244);
}
.footer_logo {
	margin-top: 30px;
}
.container-12 .grid-12 {
	margin-bottom: 20px;
}
.top_logo img {
	width: 232px; height: 60px;
}
.item-list {
	width: 100%;
}
.item-list ul li {
	margin-left: 0px;
}
.item-list ul li.views-row-2 {
	margin-right: 13px; margin-left: 11px;
}
.item-list ul li.views-row-5 {
	margin-right: 13px; margin-left: 11px;
}
.item-list ul li.views-row-8 {
	margin-right: 13px; margin-left: 11px;
}
body {
	background-color: rgb(237, 238, 244);
}
.leaderboard_desktop {
	margin: 0px auto; padding: 0px 0px 0px 10px; width: 728px; height: 90px; display: block; background-image: url("/sites/default/themes/go_com/images/ad-slug-vertical.gif"); background-repeat: no-repeat;
}
.skyscraper {
	padding: 10px 0px 0px; width: 160px; height: 600px; margin-top: 20px; display: block; background-image: url("/sites/default/themes/go_com/images/ad-slug-horizontal.gif"); background-repeat: no-repeat;
}
.leaderboard_mobile {
	display: none;
}
.mobile_leaderboard2 {
	display: none;
}
}
@media all and (min-width:1220px)
{
.item-list ul li {
	width: 280px; height: 650px;
}
.field-item img {
	width: 280px; height: 135px;
}
.field-name-field-image-tooltip {
	padding: 10px; top: -124px; width: 230px; height: 90px; font-size: 14px; margin-bottom: -110px; visibility: visible;
}
#disneyPlayer_player {
	width: 280px !important; height: 158px !important;
}
.XS.layout.player {
	width: 280px !important; height: 158px !important;
}
.XS.layout.video {
	width: 280px !important; height: 158px !important;
}
}
@media all and (min-width:1220px)
{
.grid-1 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-2 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-3 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-4 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-5 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-6 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-7 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-8 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-9 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-10 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-11 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.grid-12 {
	margin-right: 10px; margin-left: 10px; float: left; display: inline; position: relative;
}
.push-1 {
	position: relative;
}
.pull-1 {
	position: relative;
}
.push-2 {
	position: relative;
}
.pull-2 {
	position: relative;
}
.push-3 {
	position: relative;
}
.pull-3 {
	position: relative;
}
.push-4 {
	position: relative;
}
.pull-4 {
	position: relative;
}
.push-5 {
	position: relative;
}
.pull-5 {
	position: relative;
}
.push-6 {
	position: relative;
}
.pull-6 {
	position: relative;
}
.push-7 {
	position: relative;
}
.pull-7 {
	position: relative;
}
.push-8 {
	position: relative;
}
.pull-8 {
	position: relative;
}
.push-9 {
	position: relative;
}
.pull-9 {
	position: relative;
}
.push-10 {
	position: relative;
}
.pull-10 {
	position: relative;
}
.push-11 {
	position: relative;
}
.pull-11 {
	position: relative;
}
.push-12 {
	position: relative;
}
.pull-12 {
	position: relative;
}
.alpha {
	margin-left: 0px;
}
.omega {
	margin-right: 0px;
}
body {
	min-width: 1200px;
}
.container-12 {
	width: 1200px; margin-right: auto; margin-left: auto;
}
.container-12 .grid-1 {
	width: 80px;
}
.container-12 .grid-2 {
	width: 180px;
}
.container-12 .grid-3 {
	width: 280px;
}
.container-12 .grid-4 {
	width: 380px;
}
.container-12 .grid-5 {
	width: 480px;
}
.container-12 .grid-6 {
	width: 580px;
}
.container-12 .grid-7 {
	width: 680px;
}
.container-12 .grid-8 {
	width: 780px;
}
.container-12 .grid-9 {
	width: 880px;
}
.container-12 .grid-10 {
	width: 980px;
}
.container-12 .grid-11 {
	width: 1080px;
}
.container-12 .grid-12 {
	width: 1180px;
}
.container-12 .prefix-1 {
	padding-left: 100px;
}
.container-12 .prefix-2 {
	padding-left: 200px;
}
.container-12 .prefix-3 {
	padding-left: 300px;
}
.container-12 .prefix-4 {
	padding-left: 400px;
}
.container-12 .prefix-5 {
	padding-left: 500px;
}
.container-12 .prefix-6 {
	padding-left: 600px;
}
.container-12 .prefix-7 {
	padding-left: 700px;
}
.container-12 .prefix-8 {
	padding-left: 800px;
}
.container-12 .prefix-9 {
	padding-left: 900px;
}
.container-12 .prefix-10 {
	padding-left: 1000px;
}
.container-12 .prefix-11 {
	padding-left: 1100px;
}
.container-12 .suffix-1 {
	padding-right: 100px;
}
.container-12 .suffix-2 {
	padding-right: 200px;
}
.container-12 .suffix-3 {
	padding-right: 300px;
}
.container-12 .suffix-4 {
	padding-right: 400px;
}
.container-12 .suffix-5 {
	padding-right: 500px;
}
.container-12 .suffix-6 {
	padding-right: 600px;
}
.container-12 .suffix-7 {
	padding-right: 700px;
}
.container-12 .suffix-8 {
	padding-right: 800px;
}
.container-12 .suffix-9 {
	padding-right: 900px;
}
.container-12 .suffix-10 {
	padding-right: 1000px;
}
.container-12 .suffix-11 {
	padding-right: 1100px;
}
.container-12 .push-1 {
	left: 100px;
}
.container-12 .push-2 {
	left: 200px;
}
.container-12 .push-3 {
	left: 300px;
}
.container-12 .push-4 {
	left: 400px;
}
.container-12 .push-5 {
	left: 500px;
}
.container-12 .push-6 {
	left: 600px;
}
.container-12 .push-7 {
	left: 700px;
}
.container-12 .push-8 {
	left: 800px;
}
.container-12 .push-9 {
	left: 900px;
}
.container-12 .push-10 {
	left: 1000px;
}
.container-12 .push-11 {
	left: 1100px;
}
.container-12 .pull-1 {
	left: -100px;
}
.container-12 .pull-2 {
	left: -200px;
}
.container-12 .pull-3 {
	left: -300px;
}
.container-12 .pull-4 {
	left: -400px;
}
.container-12 .pull-5 {
	left: -500px;
}
.container-12 .pull-6 {
	left: -600px;
}
.container-12 .pull-7 {
	left: -700px;
}
.container-12 .pull-8 {
	left: -800px;
}
.container-12 .pull-9 {
	left: -900px;
}
.container-12 .pull-10 {
	left: -1000px;
}
.container-12 .pull-11 {
	left: -1100px;
}
}
