@font-face {
	font-family: DIN Regular;
	src: url(/CSS/Fonts/FF_DIN_Regular/FF_DIN_Regular.eot?#iefix) format("embedded-opentype"), url(/CSS/Fonts/FF_DIN_Regular/FF_DIN_Regular.woff) format("woff"), url(/CSS/Fonts/FF_DIN_Regular/FF_DIN_Regular.ttf) format("truetype");
}
@font-face {
	font-family: DINCond-Medium;
	src: url(/CSS/Fonts/FF_DIN_Condensed_Medium/FF_DIN_Condensed_Medium.eot?#iefix) format("embedded-opentype"), url(/CSS/Fonts/FF_DIN_Condensed_Medium/FF_DIN_Condensed_Medium.woff) format("woff"), url(/CSS/Fonts/FF_DIN_Condensed_Medium/FF_DIN_Condensed_Medium.ttf) format("truetype");
}
@font-face {
	font-family: DIN Bold;
	src: url(/CSS/Fonts/FF_DIN_Bold/FF_DIN_Bold.eot?#iefix) format("embedded-opentype"), url(/CSS/Fonts/FF_DIN_Bold/FF_DIN_Bold.woff) format("woff"), url(/CSS/Fonts/FF_DIN_Bold/FF_DIN_Bold.ttf) format("truetype");
}
@font-face {
	font-family: MuseoSansRounded-100;
	src: url(/CSS/Fonts/museosansrounded-100/museosansrounded-100.eot?#iefix) format("embedded-opentype"), url(/CSS/Fonts/museosansrounded-100/museosansrounded-100.woff) format("woff"), url(/CSS/Fonts/museosansrounded-100/museosansrounded-100.ttf) format("truetype");
}
@font-face {
	font-family: MuseoSansRounded-300;
	src: url(/CSS/Fonts/museosansrounded-300/museosansrounded-300.eot?#iefix) format("embedded-opentype"), url(/CSS/Fonts/museosansrounded-300/museosansrounded-300.woff) format("woff"), url(/CSS/Fonts/museosansrounded-300/museosansrounded-300.ttf) format("truetype");
}
@font-face {
	font-family: MuseoSansRounded-500;
	src: url(/CSS/Fonts/museosansrounded-500/museosansrounded-500.eot?#iefix) format("embedded-opentype"), url(/CSS/Fonts/museosansrounded-500/museosansrounded-500.woff) format("woff"), url(/CSS/Fonts/museosansrounded-500/museosansrounded-500.ttf) format("truetype");
}
@font-face {
	font-family: MuseoSansRounded-700;
	src: url(/CSS/Fonts/museosansrounded-700/museosansrounded-700.eot?#iefix) format("embedded-opentype"), url(/CSS/Fonts/museosansrounded-700/museosansrounded-700.woff) format("woff"), url(/CSS/Fonts/museosansrounded-700/museosansrounded-700.ttf) format("truetype");
}
@font-face {
	font-family: MuseoSansRounded-900;
	src: url(/CSS/Fonts/museosansrounded-900/museosansrounded-900.eot?#iefix) format("embedded-opentype"), url(/CSS/Fonts/museosansrounded-900/museosansrounded-900.woff) format("woff"), url(/CSS/Fonts/museosansrounded-900/museosansrounded-900.ttf) format("truetype");
}
@font-face {
	font-family: MuseoSansRounded-1000;
	src: url(/CSS/Fonts/museosansrounded-1000/museosansrounded-1000.eot?#iefix) format("embedded-opentype"), url(/CSS/Fonts/museosansrounded-1000/museosansrounded-1000.woff) format("woff"), url(/CSS/Fonts/museosansrounded-1000/museosansrounded-1000.ttf) format("truetype");
}
#conduit_ups {
	background: rgb(30, 30, 30); margin: 0px; padding: 0px 25px; height: 30px; font-family: Arial; font-size: 12px; border-bottom-color: rgb(173, 173, 173); border-bottom-width: 1px; border-bottom-style: solid; position: relative; z-index: 1000;
}
.fixed_ups#conduit_ups {
	top: 0px !important; width: 100% !important; position: fixed;
}
#conduit_ups ul {
	margin: 0px; padding: 0px; text-align: center; list-style-type: none;
}
#conduit_ups ul hr.localization {
	width: 90%; color: rgb(195, 202, 206); background-color: rgb(195, 202, 206);
}
#conduit_ups ul p.localization {
	margin: 5px; text-align: center; color: rgb(195, 202, 206); font-size: 11px;
}
#conduit_ups ul li.dropdown:hover {
	background: rgb(60, 60, 60);
}
#conduit_ups ul li.dropdown > a {
	padding-right: 10px;
}
#conduit_ups ul li.dropdown > a::after {
	top: 11px; width: 0px; height: 0px; right: -2px; border-top-color: rgb(195, 202, 206); border-right-color: transparent; border-left-color: transparent; border-top-width: 4px; border-right-width: 4px; border-left-width: 4px; border-top-style: solid; border-right-style: solid; border-left-style: solid; display: inherit; position: absolute; content: "";
}
#conduit_ups span.ie7-dropicon {
	top: 14px; width: 0px; height: 0px; border-top-color: rgb(195, 202, 206); border-right-color: transparent; border-left-color: transparent; border-top-width: 4px; border-right-width: 4px; border-left-width: 4px; border-top-style: solid; border-right-style: solid; border-left-style: solid; display: none; position: absolute;
}
#conduit_ups .dropdown-logo span.ie7-dropicon {
	right: 5px;
}
#conduit_ups ul li.dropdown:hover > a {
	border-color: rgb(60, 60, 60) !important;
}
#conduit_ups ul li.dropdown:hover ul {
	display: block !important; opacity: 1;
}
#conduit_ups ul ul {
	background: rgb(60, 60, 60); border-radius: 0px 0px 6px 6px; transition:0.2s ease-in-out; left: -1px; top: 30px; display: none; position: absolute; opacity: 0; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out;
}
#conduit_ups ul ul li {
	padding: 0px; display: block; white-space: nowrap;
}
#conduit_ups ul ul li:last-child {
	border-radius: 0px 0px 6px 6px;
}
#conduit_ups ul ul li:hover {
	background: rgb(0, 0, 0);
}
#conduit_ups ul li.support ul li:first-child a {
	border-bottom-color: rgb(113, 113, 113); border-bottom-width: 2px; border-bottom-style: solid;
}
#conduit_ups ul ul li a {
	padding: 0px 15px; text-align: left; line-height: 30px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none; display: block;
}
#conduit_ups ul .dropdown-logo ul li a {
	min-width: 90px;
}
#conduit_ups ul .support li a {
	padding: 0px 15px 0px 30px;
}
#conduit_ups ul .support li a {
	background: url("/Images/Master/ups.png") no-repeat;
}
#conduit_ups ul .support .blog a {
	background-position: 5px -975px;
}
#conduit_ups ul .support .blog a:hover {
	background-position: 5px -65px;
}
#conduit_ups ul .support .help a {
	background-position: 5px -1325px;
}
#conduit_ups ul .support .help a:hover {
	background-position: 5px -415px;
}
#conduit_ups ul .support .faq a {
	background-position: 5px -1185px;
}
#conduit_ups ul .support .faq a:hover {
	background-position: 5px -275px;
}
#conduit_ups ul .support .videos a {
	background-position: 5px -1395px;
}
#conduit_ups ul .support .videos a:hover {
	background-position: 5px -485px;
}
#conduit_ups ul .support .resource a {
	background-position: 5px -1605px;
}
#conduit_ups ul .support .resource a:hover {
	background-position: 5px -695px;
}
#conduit_ups ul .support .api a {
	background-position: 5px -1115px;
}
#conduit_ups ul .support .api a:hover {
	background-position: 5px -205px;
}
#conduit_ups ul .support .marketing a {
	background-position: 5px -1535px;
}
#conduit_ups ul .support .marketing a:hover {
	background-position: 5px -625px;
}
#conduit_ups ul .support .forum a {
	background-position: 5px -1815px;
}
#conduit_ups ul .support .forum a:hover {
	background-position: 5px -905px;
}
#conduit_ups ul.left {
	float: left;
}
#conduit_ups .ups-logo {
	background: url("/Images/Master/ups.png") no-repeat 0px 0px; width: 80px; height: 20px; text-indent: -9999px; margin-top: 1px !important;
}
#conduit_ups ul.right {
	float: right !important;
}
#conduit_ups ul li {
	padding: 0px 10px; transition:0.2s ease-in-out; height: 30px; position: relative; background-image: none; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out;
}
#conduit_ups > ul > li::before {
	background: rgb(64, 64, 64); left: 0px; top: 8px; width: 1px; height: 15px; display: block; position: absolute; content: "";
}
#conduit_ups > ul > li:first-child::before {
	display: none;
}
#conduit_ups ul li {
	margin: inherit; vertical-align: middle; display: inline-block;
}
#conduit_ups .ups-logo {
	vertical-align: middle; display: inline-block;
}
#conduit_ups .dropdown-logo {
	width: 100px;
}
#conduit_ups .dropdown-logo-fixed {
	margin-right: 55px !important;
}
#conduit_ups ul li a {
	transition:border 0.2s ease-in-out; color: rgb(195, 202, 206); padding-top: 5px; text-decoration: none; border-top-color: rgb(30, 30, 30); border-top-width: 3px; border-top-style: solid; display: inline-block; position: relative; -webkit-transition: border .2s ease-in-out; -moz-transition: border .2s ease-in-out; -o-transition: border .2s ease-in-out;
}
#conduit_ups ul li a:hover {
	border-color: rgb(220, 129, 32); color: rgb(255, 255, 255); text-decoration: none !important;
}
#conduit_ups ul li.current a {
	border-color: rgb(220, 129, 32); color: rgb(255, 255, 255); text-decoration: none !important;
}
#conduit_ups .logged_in {
	display: none;
}
#conduit_ups .logged_out {
	display: inline-block; -ms-zoom: 1;
}
#conduit_ups .hide {
	display: none !important;
}
#conduit_ups .show {
	display: inline-block !important;
}
#conduit_ups ul li.dropdown:hover > a {
	border-color: rgb(60, 60, 60) !important;
}
#conduit_ups ul.ups_sub_logos {
	padding-right: 1px;
}
#conduit_ups ul.ups_sub_logos li {
	margin: 0px; padding: 0px; height: 40px; border-bottom-color: rgb(113, 113, 113); border-bottom-width: 2px; border-bottom-style: solid;
}
#conduit_ups ul.ups_sub_logos li:last-child {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
#conduit_ups ul.ups_sub_logos li a {
	background: url("/Images/Master/ups.png") no-repeat; text-indent: -9999px;
}
#conduit_ups ul.ups_sub_logos li.ups_wibiya_logo a {
	background-position: -6px -1874px; width: 65px; height: 40px;
}
#conduit_ups ul.ups_sub_logos li.ups_mobile_logo a {
	background-position: -6px -1928px; width: 65px; height: 40px;
}
#conduit_ups ul.ups_sub_logos li.ups_toolbar_logo a {
	background-position: 0px -2009px; width: 86px; height: 40px;
}
#conduit_ups ul ul {
	box-shadow: 0px 0px 2px #000; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000;
}
@media only screen and (min-width:120px)
{
#conduit_ups {
	padding: 0px;
}
}
@media only screen and (min-width:360px)
{
#conduit_ups {
	padding: 0px 15px 0px 14px;
}
}
html {
	margin: 0px; padding: 0px; height: 100%; color: rgb(140, 143, 145); line-height: 17px; font-family: "DIN Regular",trebuchet MS,Arial; font-size: 13px; position: relative; min-height: 100%;
}
body {
	margin: 0px; padding: 0px; height: 100%; color: rgb(140, 143, 145); line-height: 17px; font-family: "DIN Regular",trebuchet MS,Arial; font-size: 13px; position: relative; min-height: 100%;
}
body {
	-ms-overflow-y: scroll;
}
ul {
	list-style: none; margin: 0px; padding: 0px 0px 10px;
}
ul li {
	background-position: 0px 6px; list-style: none; padding: 0px 0px 6px 10px; background-image: url("/Images/Master/bullet.gif"); background-repeat: no-repeat;
}
ol li {
	padding-bottom: 6px;
}
a {
	color: rgb(0, 169, 224); text-decoration: none;
}
a:visited {
	color: rgb(0, 169, 224); text-decoration: none;
}
a:active {
	color: rgb(0, 169, 224); text-decoration: none;
}
a:link {
	color: rgb(0, 169, 224); text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
input {
	
}
select {
	
}
textarea {
	
}
b {
	font-family: "DIN Bold"; font-weight: normal;
}
strong {
	font-family: "DIN Bold"; font-weight: normal;
}
img {
	border: currentColor;
}
iframe {
	display: none;
}
.divFloatContainer {
	height: 100%; clear: both; float: none; display: block;
}
.divFloatContainer::after {
	height: 0px; line-height: 0; clear: both; font-size: 0px; display: block; visibility: hidden; content: ".";
}
.imageAlt {
	overflow: hidden !important; text-decoration: none !important; display: inline-block; position: relative;
}
.imageAlt span {
	margin: 0px !important; padding: 0px !important; left: 0px; top: 0px; width: 100% !important; height: 100% !important; position: absolute; z-index: 3 !important; background-repeat: no-repeat;
}
.imageAlt .bg {
	z-index: 2 !important; background-repeat: repeat-x !important;
}
.button {
	padding: 7px 17px 3px; border-radius: 3px; border: 1px solid rgb(195, 128, 71); color: rgb(255, 255, 255); line-height: 21px; font-family: "DIN Bold"; font-size: 17px; display: inline-block; cursor: pointer; box-shadow: inset 0px 0px 7px 0px rgba(93,68,9,0.8); background-color: rgb(237, 120, 36);
}
.button:hover {
	border: 1px solid rgb(180, 86, 51); box-shadow: inset 0px 0px 7px 0px rgba(40,29,3,0.75); background-color: rgb(199, 51, 0);
}
.bold {
	font-family: "DIN Bold"; font-weight: normal;
}
.orangeText {
	color: rgb(237, 120, 36) !important; line-height: 26px !important; font-family: "MuseoSansRounded-100","Lucida Sans",Arial !important; font-size: 24px !important;
}
.threeLine {
	height: 51px; overflow: hidden;
}
.wrapper {
	padding: 0px; height: 100%; position: relative; min-height: 100%; background-color: rgb(221, 221, 221);
}
.mainBG {
	left: 0px; width: 100%; height: 100%; position: fixed; background-color: rgb(221, 221, 221);
}
.container {
	margin: 0px auto; width: 1008px; height: 100%; position: relative; min-height: 100%;
}
.leftSide {
	width: 799px; height: 100%; float: left; display: inline-block; position: relative; min-height: 100%; background-color: rgb(255, 255, 255);
}
.rightSide {
	padding: 0px; top: 0px; width: 224px; height: 100%; right: 0px; border-right-color: rgb(212, 212, 212); border-right-width: 1px; border-right-style: solid; display: inline-block; position: absolute; z-index: 999;
}
.header {
	background-position: 0px -42px; margin: 30px 0px 0px; width: 799px; height: 69px; position: fixed; z-index: 201; background-image: url("/Images/Master/PixelSprite.png"); background-repeat: repeat-x;
}
.logo {
	margin: 6px 0px 0px 3px; width: 193px; height: 72px; float: left; display: inline-block; background-image: url("/Images/Master/Logo.png");
}
.mainMenu {
	margin: 30px 0px 0px 265px; width: 370px; float: left; display: inline-block;
}
.mainMenu ul {
	margin: 0px; height: 100%; padding-bottom: 8px; clear: both; float: none; display: block;
}
.mainMenu ul::after {
	height: 0px; line-height: 0; clear: both; font-size: 0px; display: block; visibility: hidden; content: ".";
}
.mainMenu ul li {
	padding: 0px 28px 0px 0px; color: rgb(255, 153, 0); line-height: 16px; font-size: 1.1em; font-weight: bold; text-decoration: none; margin-left: 8px; float: left; display: inline-block; position: relative; background-image: none;
}
.mainMenu ul li:first-child {
	margin-left: 0px;
}
.mainMenu ul li a {
	color: rgb(68, 68, 68); text-transform: uppercase; line-height: 16px; font-family: "Din Regular"; font-size: 0.8em; font-weight: normal; text-decoration: none;
}
.mainMenu ul li .CMSListMenuLinkHighlighted {
	color: rgb(68, 68, 68); text-transform: uppercase; line-height: 16px; font-family: "Din Regular"; font-size: 0.8em; font-weight: normal; text-decoration: none;
}
.mainMenu ul li a:hover {
	color: rgb(0, 169, 224);
}
.mainMenu ul li .CMSListMenuLinkHighlighted:hover {
	color: rgb(0, 169, 224);
}
.mainMenu ul li ul {
	margin: 0px; left: -19px; top: 28px; width: 148px; height: auto; display: none; position: absolute;
}
.mainMenu ul li ul .CMSListMenuLIlast {
	padding-right: 15px;
}
.mainMenu ul li ul li {
	margin: 0px; padding: 0px 15px; width: 118px; float: left; display: block; background-image: url("/Images/Master/MasterSprite.png"); background-repeat: no-repeat; background-size: 888px 44px;
}
.mainMenu ul li ul li:first-child {
	margin: 0px; padding: 0px 15px; width: 118px; float: left; display: block; background-image: url("/Images/Master/MasterSprite.png"); background-repeat: no-repeat; background-size: 888px 44px;
}
.mainMenu ul li ul li {
	background-position: -148px 0px;
}
.mainMenu ul li ul .CMSListMenuLIfirst {
	background-position: -296px 0px !important;
}
.mainMenu ul li ul li:first-child {
	background-position: -296px 0px !important;
}
.mainMenu ul li ul .last {
	background-position: -1px 0px; padding-bottom: 30px;
}
.mainMenu ul li ul .CMSListMenuHighlightedLIlast {
	background-position: -1px 0px; padding-bottom: 30px;
}
.mainMenu ul li ul li a {
	padding: 4px 5px; color: rgb(121, 121, 121); text-transform: none; line-height: 16px; font-family: "DIN Regular"; font-size: 12px; font-weight: normal; display: block;
}
.mainMenu ul li ul li .CMSListMenuLinkHighlighted {
	padding: 4px 5px; color: rgb(121, 121, 121); text-transform: none; line-height: 16px; font-family: "DIN Regular"; font-size: 12px; font-weight: normal; display: block;
}
.mainMenu ul li ul li a:hover {
	background-position: -445px 1px; color: rgb(102, 102, 102); background-image: url("/Images/Master/MasterSprite.png"); background-repeat: no-repeat; background-size: 888px 44px;
}
.searchBox {
	margin: 26px 15px 0px 0px; width: 130px; float: right; display: inline; position: relative;
}
.defaultValue.searchBox label {
	left: 8px; top: 4px; color: rgb(186, 186, 186); line-height: 16px; font-size: 12px; display: block; position: absolute;
}
.searchBox label {
	display: none;
}
.searchBox input {
	border: 0px solid rgb(255, 255, 255); line-height: 16px; font-family: "Din Regular"; font-size: 12px; float: left; display: inline; background-image: url("/Images/Master/MasterSprite.png"); background-repeat: no-repeat; background-size: 888px 44px; background-color: transparent;
}
.searchBox input[type='text'] {
	background-position: -590px -21px; padding: 3px 5px 1px; width: 96px; height: 18px; color: rgb(128, 128, 131);
}
.defaultValue.searchBox input[type='text'] {
	background-position: -590px 1px; color: rgb(186, 186, 186);
}
.searchBox input[type='button'] {
	background-position: -696px -21px; padding: 0px; width: 22px; height: 22px; text-indent: -60px; cursor: pointer;
}
.defaultValue.searchBox input[type='button'] {
	background-position: -696px 1px;
}
.MiniNav {
	top: 0px; right: 14px; display: none; position: absolute;
}
.MiniNav a {
	width: 37px; height: 36px; float: right; display: inline-block;
}
.MiniNav .facebook {
	background: url("/Images/Master/facebook.png");
}
.MiniNav .twitter {
	background: url("/Images/Master/twitter.png");
}
.MiniNav .blog {
	background: rgb(222, 224, 225); padding: 0px 10px; border-radius: 5px; border: 1px solid rgb(192, 194, 195); width: auto; height: 36px; color: rgb(119, 119, 119); line-height: 41px; font-size: 26px;
}
.DropDownMenu {
	margin: 0px; padding: 0px; display: none; position: relative; z-index: 1000;
}
.DropDownMenu select {
	width: 100% !important; height: 26px !important; line-height: 26px; position: relative; z-index: 10; opacity: 0;
}
.DropDownMenu span.select {
	background: linear-gradient(rgba(242, 244, 245, 1) 0px, rgba(242, 244, 245, 1) 45%, rgba(240, 242, 243, 1) 48%, rgba(222, 224, 225, 1) 50%, rgba(223, 225, 226, 1) 100%); border-width: 1px; border-style: solid; border-color: rgb(214, 215, 216) rgb(138, 138, 138) rgb(208, 208, 208) rgb(215, 215, 214); border-radius: 5px; left: 0px; width: 100%; height: 26px; bottom: 0px; color: rgb(122, 122, 122); line-height: 26px; text-indent: 10px; font-family: sans-serif; font-size: 18px; float: left; position: absolute; z-index: 1; cursor: default; box-shadow: inset 1px 1px 0px rgba(239,241,242,0.8), inset -1px -1px 0px rgba(239,241,242,0.8), -1px -1px 0px #e8e8e8, 1px 1px 0px #bbbbbc;
}
.DropDownMenu span.select::after {
	background: linear-gradient(rgba(195, 195, 195, 1) 0px, rgba(143, 143, 143, 1) 100%); border-radius: 0px 5px 5px 0px; top: 0px; width: 29px; height: 28px; right: 0px; border-left-color: rgb(155, 155, 155); border-left-width: 1px; border-left-style: solid; position: absolute; content: ""; box-shadow: inset 0px 1px 0px #dfdfdf, 0px -1px 0px #868686;
}
.DropDownMenu span.select::before {
	top: 0px; right: 8px; position: absolute; z-index: 10; content: url(/Images/Master/select-dropdown-arrow.png);
}
.DropDownMenu option.category {
	background: rgb(238, 238, 238); font-weight: bold !important;
}
.breadCrumbs {
	padding: 7px 0px 9px; height: 17px; color: rgb(126, 126, 126); text-transform: lowercase; font-size: 11px;
}
.breadCrumbs a {
	color: rgb(140, 143, 145); font-size: 11px;
}
.breadCrumbs span {
	font-size: 11px;
}
.wrapper .bottomShadow {
	background-position: 0px -114px; left: 0px; width: 100%; height: 23px; bottom: 0px; position: fixed; z-index: 201; background-image: url("/Images/Master/PixelSprite.png"); background-repeat: repeat-x;
}
.rightSide .grabbing.bottomShadow {
	cursor: url(/Images/Master/closedhand.cur), default !important;
}
.footer {
	background-position: 0px -137px; padding: 25px 0px 15px; left: 0px; width: 799px; height: 16px; bottom: 0px; display: block; position: absolute; z-index: 50; background-image: url("/Images/Master/PixelSprite.png"); background-repeat: repeat-x; background-color: rgb(250, 250, 250);
}
.footer ul {
	padding: 0px 0px 0px 10px; height: 100%; clear: both; float: left; display: block;
}
.footer ul::after {
	height: 0px; line-height: 0; clear: both; font-size: 0px; display: block; visibility: hidden; content: ".";
}
.footer p {
	margin: 0px; padding: 0px 200px 0px 0px; color: rgb(139, 139, 139); line-height: 16px; font-size: 12px; float: right;
}
.footer ul li {
	color: rgb(204, 204, 204); line-height: 16px; font-size: 12px; float: left; background-image: none;
}
.footer ul li a {
	padding: 0px 0px 0px 10px; color: rgb(139, 139, 139); line-height: 12px; font-size: 12px; border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid; display: inline-block;
}
.footer ul li:first-child a {
	padding: 0px; border-left-color: currentColor; border-left-width: medium; border-left-style: none;
}
.leftSide .socialLinks {
	margin: 0px 10px 0px 608px; padding: 0px; bottom: 9px; position: fixed; z-index: 202;
}
.leftSide .socialLinks::after {
	height: 0px; line-height: 0; clear: both; font-size: 0px; display: block; visibility: hidden; content: ".";
}
.leftSide .socialLinks li {
	margin: 0px 0px 0px 3px; padding: 8px 5px 7px 4px; float: left; position: relative; background-image: none;
}
.leftSide .socialLinks li a {
	padding: 0px; width: 21px; height: 21px; position: static; cursor: pointer; opacity: 0.8;
}
.leftSide .socialLinks li a:hover {
	opacity: 1;
}
.leftSide .socialLinks li span {
	background-image: url("/Images/Master/MasterSprite.png"); background-repeat: no-repeat; background-size: 888px 44px;
}
.leftSide .socialLinks li .facebook span {
	background-position: -738px -3px;
}
.leftSide .socialLinks li .twitter span {
	background-position: -768px -3px;
}
.leftSide .socialLinks li .linkedin span {
	background-position: -798px -3px;
}
.leftSide .socialLinks li .googlePlus span {
	background-position: -828px -3px;
}
.leftSide .socialLinks li .youtube span {
	background-position: -858px -3px;
}
.mainBodyMaskWrapper {
	overflow: hidden; position: relative; min-height: 100%;
}
.mainBodyMask {
	padding: 95px 30px 60px 241px; overflow: hidden; margin-bottom: 0px; min-height: 100%; background-color: rgb(255, 255, 255);
}
.leftShadow {
	left: -9px; width: 9px; height: 100%; position: absolute; z-index: 100; background-image: url("/Images/Master/MainLeftShadow.png"); background-repeat: repeat-y;
}
.whiteBottomFade {
	width: 799px; height: 31px; bottom: 0px; margin-left: -241px; position: fixed; z-index: 1; background-image: url("/Images/Master/LowFadetoWhite.png"); background-repeat: repeat-x;
}
.content iframe {
	display: block;
}
.content .leftSideTitle h1 {
	margin: 0px; padding: 19px 0px 17px; color: rgb(237, 120, 36); text-transform: uppercase; line-height: 26px; letter-spacing: -0.2pt; font-family: "MuseoSansRounded-900","Lucida Sans",Arial; font-size: 30px; font-weight: normal; position: relative;
}
.content .leftSideTitle h1 span {
	font-family: "MuseoSansRounded-100","Lucida Sans",Arial; display: block;
}
.content .leftSideTitle p {
	color: rgb(184, 184, 184); line-height: 26px; letter-spacing: -0.6pt; font-family: "MuseoSansRounded-100","Lucida Sans",Arial; font-size: 24px;
}
.content h2 {
	margin: 0px; padding: 55px 0px 21px; color: rgb(159, 159, 159); line-height: 28px; letter-spacing: -0.6pt; font-family: "MuseoSansRounded-100"; font-size: 24px; font-weight: normal;
}
.content h3 {
	margin: 0px; padding: 0px 0px 2px; color: rgb(184, 184, 184); line-height: 18px; font-family: "Din Bold"; font-size: 14px; font-weight: normal;
}
.content h4 {
	margin: 0px; padding: 0px; color: rgb(184, 184, 184); line-height: 17px; font-family: "Din Bold"; font-size: 13px; font-weight: normal;
}
.content p {
	margin: 0px 0px 16px; line-height: 17px; font-size: 13px; font-weight: normal;
}
.content li {
	line-height: 17px; font-size: 13px; font-weight: normal;
}
.rightSideContainer {
	margin: 30px 0px 0px; padding: 0px 34px 0px 36px; width: 154px; height: 100%; border-right-color: rgb(205, 205, 205); border-right-width: 1px; border-right-style: solid; display: inline-block; position: fixed; background-image: url("/Images/Master/right-pane-shadow.png"); background-repeat: repeat-y; background-color: rgb(233, 241, 244); -webkit-transform: translate3D(0, 0, 0);
}
.rightSide .topShadow {
	background-position: 0px -163px; padding: 0px; top: 0px; width: 224px; height: 100%; display: inline-block; position: fixed; z-index: 10; background-image: none; background-repeat: repeat-x;
}
.rightSide .bottomShadow {
	background-position: 0px bottom; padding: 0px; left: auto; top: 0px; width: 224px; height: 100%; display: inline-block; position: fixed; z-index: 10; cursor: url(/Images/Master/openhand.cur), default; background-image: none; background-repeat: repeat-x;
}
.rightSideMask {
	width: 100%; height: 100%; position: relative;
}
.rightSideMask .items {
	padding: 0px; width: 100%; height: 20000em; position: absolute;
}
.rightSide .rightSideMask .box {
	background-position: 0px bottom; margin: 0px; padding: 20px 10px 28px; height: 192px; color: rgb(130, 132, 135); background-image: url("/Images/Master/rightSideDot.png"); background-repeat: repeat-x;
}
.rightSide .rightSideMask :first-child.box {
	height: 196px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.rightSide .rightSideMask .box h3 {
	margin: 0px; padding: 0px; text-align: center; color: rgb(130, 132, 135); line-height: 64px; letter-spacing: -1.6pt; font-family: "DINCond-Medium"; font-size: 60px; font-weight: normal; display: block;
}
.rightSide .rightSideMask .box h3 span {
	font-size: 50px;
}
.rightSide .rightSideMask .box h4 {
	margin: 0px; padding: 0px 0px 105px 4px; text-align: center; color: rgb(130, 132, 135); line-height: 17px; font-family: "Din Bold"; font-size: 13px; font-weight: normal; display: block; background-image: url("/Images/Master/leftIcons.png"); background-repeat: no-repeat;
}
.rightSide .rightSideMask .box h5 {
	margin: 0px; text-align: center; color: rgb(130, 132, 135); line-height: 11px; font-family: "Din Bold"; font-size: 9px; font-weight: normal; display: block;
}
.rightSide .rightSideMask .users h4 {
	background-position: -1995px 57px;
}
.rightSide .rightSideMask .publishers h4 {
	background-position: -274px 49px;
}
.rightSide .rightSideMask .coffee h4 {
	background-position: -559px 67px;
}
.rightSide .rightSideMask .email h4 {
	background-position: -3000px 52px;
}
.rightSide .rightSideMask .smartphone h4 {
	background-position: -3571px 66px;
}
.rightSide .rightSideMask .officeSquare h4 {
	background-position: -2570px 61px;
}
.rightSide .rightSideMask .lamp h4 {
	background-position: -991px 51px;
}
.rightSide .rightSideMask .radio h4 {
	background-position: -3713px 37px;
}
.rightSide .rightSideMask .socialNetwork h4 {
	background-position: -131px 56px;
}
.rightSide .rightSideMask .engagement h4 {
	background-position: -415px 66px;
}
.rightSide .rightSideMask .patent h4 {
	background-position: -2711px 59px;
}
.rightSide .rightSideMask .telegraph h4 {
	background-position: -3141px 67px;
}
.rightSide .rightSideMask .ibm h4 {
	background-position: -3860px 47px;
}
.rightSide .rightSideMask .blog h4 {
	background-position: -1844px 73px;
}
.rightSide .rightSideMask .weddings h4 {
	background-position: -2134px 46px;
}
.rightSide .rightSideMask .wibiya h4 {
	background-position: -705px 66px;
}
.rightSide .rightSideMask .telephone h4 {
	background-position: -1134px 45px;
}
.rightSide .rightSideMask .tv h4 {
	background-position: -4147px 38px;
}
.rightSide .rightSideMask .mobileMainstream h4 {
	background-position: -1308px 60px;
}
.rightSide .rightSideMask .employees h4 {
	background-position: -2281px 61px;
}
.rightSide .rightSideMask .mailService h4 {
	background-position: -845px 72px;
}
.rightSide .rightSideMask .analogMobile h4 {
	background-position: -3284px 53px;
}
.rightSide .rightSideMask .wideAreaNetwork h4 {
	background-position: 20px 59px;
}
.rightSide .rightSideMask .browser h4 {
	background-position: -1420px 54px;
}
.rightSide .rightSideMask .births h4 {
	background-position: -2428px 54px;
}
.rightSide .rightSideMask .pigeonPost h4 {
	background-position: -2850px 42px;
}
.rightSide .rightSideMask .commercialMobilePhone h4 {
	background-position: -3428px 54px;
}
.rightSide .rightSideMask .digitalNetwork h4 {
	background-position: -4004px 62px;
}
.rightSide .rightSideMask .internetUsers h4 {
	background-position: -1564px 59px;
}
.rightSide .rightSideMask .ringtone h4 {
	background-position: -1705px 72px;
}
.rightSide .rightSideMask .cloud h4 {
	background-position: -4278px 75px;
}
.noTitle {
	padding: 102px 0px 0px;
}
.leftSideTitle {
	left: 34px; top: 173px; width: 165px; position: absolute;
}
.leftSideTitleImage {
	background-position: 1px 21px; left: 34px; top: 173px; width: 170px; height: 800px; position: absolute; background-image: url("../images/title.jpg"); background-repeat: no-repeat;
}
.popupContainer {
	left: 0px; top: 0px; position: fixed; z-index: 1000;
}
.popupContainer .overlay {
	left: 0px; top: 0px; width: 100%; height: 100%; display: none; position: fixed; z-index: 1001; opacity: 0.6; background-color: rgb(0, 0, 0);
}
.popupContainer .popup {
	padding: 10px; overflow: hidden; display: none; position: relative; z-index: 1002;
}
.popupContainer .popup .closePopup {
	top: 33px; width: 12px; height: 12px; right: 30px; position: absolute;
}
.popupContainer .popup .closePopup span {
	background-position: 0px -382px; background-image: url("/Images/Master/PopupSprite.png"); background-repeat: no-repeat; background-color: rgb(255, 255, 255);
}
.popupContainer .popup h3 {
	margin: 0px; left: 50px; top: 50px; color: rgb(223, 119, 37); line-height: 31px; font-family: "MuseoSansRounded-700","Lucida Sans",Arial; font-size: 27px; font-weight: normal; position: absolute;
}
.popupContainer .popup h4 {
	margin: 0px; left: 50px; top: 50px; color: rgb(223, 119, 37); line-height: 26px; font-family: "MuseoSansRounded-700","Lucida Sans",Arial; font-size: 22px; font-weight: normal; position: absolute;
}
.popupContainer .popup .top {
	height: 62px; background-image: url("/Images/Master/PopupSprite.png"); background-repeat: no-repeat;
}
.popupContainer .popup .top div {
	height: 62px; background-image: url("/Images/Master/PopupSprite.png"); background-repeat: no-repeat;
}
.popupContainer .popup .bottom {
	height: 62px; background-image: url("/Images/Master/PopupSprite.png"); background-repeat: no-repeat;
}
.popupContainer .popup .bottom div {
	height: 62px; background-image: url("/Images/Master/PopupSprite.png"); background-repeat: no-repeat;
}
.popupContainer .popup .top {
	padding: 0px 61px 0px 0px;
}
.popupContainer .popup .bottom {
	padding: 0px 61px 0px 0px;
}
.popupContainer .popup .top div {
	padding: 0px 0px 0px 61px;
}
.popupContainer .popup .bottom div {
	padding: 0px 0px 0px 61px;
}
.popupContainer .popup .top div div {
	padding: 0px; background-repeat: repeat-x;
}
.popupContainer .popup .bottom div div {
	padding: 0px; background-repeat: repeat-x;
}
.popupContainer .popup .top {
	background-position: right -61px;
}
.popupContainer .popup .bottom {
	background-position: right -123px;
}
.popupContainer .popup .top div {
	background-position: left 1px;
}
.popupContainer .popup .bottom div {
	background-position: left -185px;
}
.popupContainer .popup .top div div {
	background-position: 0px -247px;
}
.popupContainer .popup .bottom div div {
	background-position: 0px -309px;
}
.popupContainer .popup .middle {
	padding: 0px 0px 0px 12px; background-image: url("/Images/Master/popup-left.png"); background-repeat: repeat-y;
}
.popupContainer .popup .middle div {
	background-position: right 0px; padding: 0px 11px 0px 0px; background-image: url("/Images/Master/popup-right.png"); background-repeat: repeat-y;
}
.popupContainer .popup .middle div div {
	padding: 30px 20px 0px; width: auto; min-height: 160px; min-width: 520px; background-image: none; background-color: rgb(255, 255, 255);
}
.popupContainer .popup .middle iframe {
	display: block;
}
.startNowPopup {
	margin: 0px; padding: 0px 16px; width: 724px;
}
.startNowPopup li {
	padding: 19px 19px 17px; width: 200px; margin-left: 5px; float: left; display: inline-block; background-image: url("/Images/Master/startNowPopup.png");
}
.startNowPopup li:first-child {
	margin-left: 0px;
}
.startNowPopup li .imageAlt {
	margin: 14px 0px; width: 200px; height: 80px;
}
.startNowPopup li .imageAlt span {
	background-image: url("/Images/Master/startNowPopup.png");
}
.startNowPopup .toolbar .imageAlt span {
	background-position: -386px 0px;
}
.startNowPopup .mobile .imageAlt span {
	background-position: -386px -86px;
}
.startNowPopup .wibiya .imageAlt span {
	background-position: -386px -161px;
}
.startNowPopup li a {
	margin: 12px 0px 0px 31px; width: 138px; height: 46px; display: inline-block; background-image: url("/Images/Master/startNowPopup.png"); background-repeat: no-repeat;
}
.startNowPopup .toolbar a {
	background-position: -238px 0px;
}
.startNowPopup .toolbar a:hover {
	background-position: -238px -46px;
}
.startNowPopup .mobile a {
	background-position: -238px -92px;
}
.startNowPopup .mobile a:hover {
	background-position: -238px -138px;
}
.startNowPopup .wibiya a {
	background-position: -238px -184px;
}
.startNowPopup .wibiya a:hover {
	background-position: -238px -230px;
}
@media only screen and (min-width:120px)
{
.MiniNav .blog {
	height: 24px; line-height: 25px; font-size: 16px;
}
.MiniNav a {
	width: 27px; height: 26px; margin-left: 8px;
}
.MiniNav .twitter {
	background-image: url("/Images/Master/TwitterSmall.jpg");
}
.MiniNav .facebook {
	background-image: url("/Images/Master/FacebookSmall.jpg");
}
.logo {
	margin: 0px; left: 15px; top: 15px; width: 140px; height: 52px; position: absolute; z-index: 1000; background-image: url("/Images/Master/LogoSmall.jpg");
}
.rightSide {
	display: none;
}
.mainMenu {
	display: none;
}
.searchBox {
	display: none;
}
#conduit_ups ul {
	display: none;
}
.container {
	width: 100%;
}
.content {
	width: 100%;
}
.leftSide {
	width: 100%;
}
.leftSide .mainBodyMaskWrapper {
	width: 100%;
}
#conduit_ups_login_menu {
	display: none;
}
.socialLinks {
	display: none;
}
.MiniNav {
	display: block;
}
.DropDownMenu {
	display: block;
}
.header {
	margin: 0px; width: 100%; height: 40px; position: relative; background-image: none;
}
#conduit_ups {
	border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(255, 255, 255);
}
.fixed_ups#conduit_ups {
	width: 100%; position: absolute; box-sizing: border-box; -moz-box-sizing: border-box;
}
.leftSide .mainBodyMask {
	padding: 25px 14px 60px 15px;
}
.content {
	width: 100%; margin-right: 0px;
}
.footer {
	padding: 15px 0px 25px; width: 100%;
}
.leftSideTitle {
	width: auto; margin-top: 15px; position: static;
}
.content p {
	line-height: 20px; font-size: 16px;
}
.content li {
	line-height: 20px; font-size: 16px;
}
.content .leftSideTitle h1 span {
	display: inline;
}
.footer p {
	padding: 5px 0px 0px 20px; clear: both; float: left;
}
.noTitle {
	padding: 40px 0px 0px;
}
.fixed_ups#conduit_ups {
	position: static;
}
.container {
	position: static;
}
.mainMenu ul li ul li {
	background-image: url("/Images/Master/MasterSprite.png");
}
.mainMenu ul li ul li:first-child {
	background-image: url("/Images/Master/MasterSprite.png");
}
.mainMenu ul li ul li a:hover {
	background-image: url("/Images/Master/MasterSprite.png");
}
.searchBox input {
	background-image: url("/Images/Master/MasterSprite.png");
}
.leftSide .socialLinks li span {
	background-image: url("/Images/Master/MasterSprite.png");
}
}
@media not all, not all, not all, not all, only screen and (min-width:120px) and (min-resolution:192dpi), not all
{
.mainMenu ul li ul li {
	background-image: url("/Images/Master/MasterSprite.png");
}
.mainMenu ul li ul li:first-child {
	background-image: url("/Images/Master/MasterSprite.png");
}
.mainMenu ul li ul li a:hover {
	background-image: url("/Images/Master/MasterSprite.png");
}
.searchBox input {
	background-image: url("/Images/Master/MasterSprite.png");
}
.leftSide .socialLinks li span {
	background-image: url("/Images/Master/MasterSprite.png");
}
}
@media screen and (min-width:640px)
{
.logo {
	width: 193px; height: 72px; background-image: url("/Images/Master/Logo.png");
}
.MiniNav a {
	width: 37px; height: 36px;
}
.MiniNav .twitter {
	background-image: url("/Images/Master/twitter.png");
}
.MiniNav .facebook {
	background-image: url("/Images/Master/facebook.png");
}
.MiniNav .blog {
	height: 36px; line-height: 41px; font-size: 26px;
}
.footer {
	padding: 25px 0px 15px;
}
.footer p {
	padding: 0px 20px 0px 0px; clear: none; float: right;
}
}
@media screen and (min-width:810px)
{
#conduit_ups {
	border-bottom-color: rgb(173, 173, 173); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(30, 30, 30);
}
.mainMenu {
	display: inline-block;
}
.searchBox {
	display: inline-block;
}
.socialLinks {
	display: block;
}
#conduit_ups ul {
	display: block;
}
.header {
	margin: 30px 0px 0px; height: 68px; position: absolute; background-image: url("/Images/Master/PixelSprite.png");
}
.MiniNav {
	display: none;
}
.DropDownMenu {
	display: none;
}
.footer p {
	padding: 0px 200px 0px 0px;
}
.leftSide .socialLinks {
	right: 0px;
}
.leftSide .mainBodyMask {
	padding: 95px 30px 60px 36px;
}
.fixed_ups#conduit_ups {
	position: fixed;
}
.container {
	position: relative;
}
.fixed_ups#conduit_ups {
	position: absolute;
}
}
@media screen and (min-width:1024px)
{
.container {
	width: 1008px;
}
.rightSide {
	display: inline-block;
}
.leftSide .mainBodyMaskWrapper {
	width: 784px;
}
.header {
	width: 784px;
}
.header {
	position: fixed;
}
#conduit_ups {
	border-bottom-color: rgb(173, 173, 173); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(30, 30, 30);
}
.fixed_ups#conduit_ups {
	position: fixed;
}
.leftSideTitle {
	width: 165px; margin-top: 0px; position: absolute;
}
.leftSide .socialLinks {
	right: auto;
}
.content p {
	line-height: 17px; font-size: 13px;
}
.content li {
	line-height: 17px; font-size: 13px;
}
.content .leftSideTitle h1 span {
	display: block;
}
.noTitle {
	padding: 102px 0px 0px;
}
.leftSide .mainBodyMask {
	padding: 95px 30px 60px 241px;
}
}
@media only screen and (min-height:120px)
{
.wrapper .bottomShadow {
	display: none;
}
}
@media only screen and (min-height:640px)
{
.wrapper .bottomShadow {
	display: block;
}
}
