@font-face {
	font-family: Museo-900;
	src: url(webfonts/24E925_0_0.eot);
}
@font-face {
	font-family: Museo-700;
	src: url(webfonts/24E925_1_0.eot);
}
@font-face {
	font-family: Museo-300;
	src: url(webfonts/24E925_2_0.eot);
}
@font-face {
	font-family: Museo-100;
	src: url(webfonts/24E925_3_0.eot);
}
@font-face {
	font-family: Museo-500;
	src: url(webfonts/24E925_4_0.eot);
}
@font-face {
	font-family: MuseoSans-700;
	src: url(webfonts/24E925_5_0.eot);
}
@font-face {
	font-family: MuseoSans-300;
	src: url(webfonts/24E925_6_0.eot);
}
@font-face {
	font-family: MuseoSans-900Italic;
	src: url(webfonts/24E925_7_0.eot);
}
@font-face {
	font-family: MuseoSans-500;
	src: url(webfonts/24E925_8_0.eot);
}
@font-face {
	font-family: MuseoSans-100;
	src: url(webfonts/24E925_9_0.eot);
}
@font-face {
	font-family: MuseoSans-700Italic;
	src: url(webfonts/24E925_A_0.eot);
}
@font-face {
	font-family: MuseoSans-300Italic;
	src: url(webfonts/24E925_B_0.eot);
}
@font-face {
	font-family: MuseoSans-100Italic;
	src: url(webfonts/24E925_C_0.eot);
}
@font-face {
	font-family: MuseoSans-500Italic;
	src: url(webfonts/24E925_D_0.eot);
}
@font-face {
	font-family: MuseoSans-900;
	src: url(webfonts/24E925_E_0.eot);
}
@font-face {
	font-family: Museo-300Italic;
	src: url(webfonts/24E925_F_0.eot);
}
@font-face {
	font-family: Museo-900Italic;
	src: url(webfonts/24E925_10_0.eot);
}
@font-face {
	font-family: Museo-100Italic;
	src: url(webfonts/24E925_11_0.eot);
}
@font-face {
	font-family: Museo-500Italic;
	src: url(webfonts/24E925_12_0.eot);
}
@font-face {
	font-family: Museo-700Italic;
	src: url(webfonts/24E925_13_0.eot);
}
