.LayoutGrid {
	width: 946px; padding-right: 12px; padding-left: 12px; _height: 1em;
}
.LayoutGrid::after {
	height: 0px; clear: both; display: block; content: "\0020";
}
.LayoutGrid-1 {
	width: 228px;
}
.LayoutGrid-1-2 {
	width: 467px;
}
.LayoutGrid-1-3 {
	width: 706px;
}
.LayoutGrid-1-4 {
	width: 946px;
}
.LayoutGrid-2 {
	width: 227px;
}
.LayoutGrid-2-3 {
	width: 466px;
}
.LayoutGrid-2-4 {
	width: 706px;
}
.LayoutGrid-3 {
	width: 227px;
}
.LayoutGrid-3-4 {
	width: 467px;
}
.LayoutGrid-4 {
	width: 228px;
}
.LayoutGrid-1 {
	clear: left; margin-left: 0px;
}
.LayoutGrid-1-2 {
	clear: left; margin-left: 0px;
}
.LayoutGrid-1-3 {
	clear: left; margin-left: 0px;
}
.LayoutGrid-1-4 {
	clear: left; margin-left: 0px;
}
.LayoutGrid-2-3 .LayoutGrid-2 {
	clear: left; margin-left: 0px;
}
.LayoutGrid-2-4 .LayoutGrid-2 {
	clear: left; margin-left: 0px;
}
.LayoutGrid-2-4 .LayoutGrid-2-3 {
	clear: left; margin-left: 0px;
}
.LayoutGrid-3-4 .LayoutGrid-3 {
	clear: left; margin-left: 0px;
}
.LayoutGrid-1 {
	float: left;
}
.LayoutGrid-1-2 {
	float: left;
}
.LayoutGrid-1-3 {
	float: left;
}
.LayoutGrid-1-4 {
	float: left;
}
.LayoutGrid-2 {
	float: left;
}
.LayoutGrid-2-3 {
	float: left;
}
.LayoutGrid-2-4 {
	float: left;
}
.LayoutGrid-3 {
	float: left;
}
.LayoutGrid-3-4 {
	float: left;
}
.LayoutGrid-4 {
	float: left;
}
.LayoutGrid-2 {
	margin-left: 12px;
}
.LayoutGrid-2-3 {
	margin-left: 12px;
}
.LayoutGrid-2-4 {
	margin-left: 12px;
}
.LayoutGrid-3 {
	margin-left: 12px;
}
.LayoutGrid-3-4 {
	margin-left: 12px;
}
.LayoutGrid-4 {
	margin-left: 12px;
}
.LayoutGrid {
	padding: 0px; width: auto;
}
div[class*=LayoutGrid] {
	margin: 0px; width: auto; float: none;
}
.SiteFooter .LayoutGrid-1 {
	width: 169px;
}
.SiteFooter .LayoutGrid-2 {
	width: 169px;
}
.SiteFooter .LayoutGrid-3 {
	width: 169px;
}
.SiteFooter .LayoutGrid-4 {
	width: 169px;
}
.SiteFooter .LayoutGrid-1-2 {
	width: 349px;
}
.SiteFooter .LayoutGrid-2-3 {
	width: 349px;
}
.SiteFooter .LayoutGrid-3-4 {
	width: 349px;
}
.SiteFooter .LayoutGrid-1-3 {
	width: 529px;
}
.SiteFooter .LayoutGrid-2-4 {
	width: 529px;
}
.SiteFooter .LayoutGrid-1-4 {
	width: 709px;
}
.SiteFooter .LayoutGrid-1-5 {
	width: 940px;
}
.SiteFooter .LayoutGrid-2-5 {
	width: 760px;
}
.SiteFooter .LayoutGrid-3-5 {
	width: 580px;
}
.SiteFooter .LayoutGrid-4-5 {
	width: 400px;
}
.SiteFooter .LayoutGrid-5 {
	width: 220px;
}
.SiteFooter .LayoutGrid-1 {
	clear: left; margin-left: 0px;
}
.SiteFooter .LayoutGrid-1-2 {
	clear: left; margin-left: 0px;
}
.SiteFooter .LayoutGrid-1-3 {
	clear: left; margin-left: 0px;
}
.SiteFooter .LayoutGrid-1-4 {
	clear: left; margin-left: 0px;
}
.SiteFooter .LayoutGrid-1-5 {
	clear: left; margin-left: 0px;
}
.SiteFooter .LayoutGrid-2-3 .LayoutGrid-2 {
	clear: left; margin-left: 0px;
}
.SiteFooter .LayoutGrid-2-4 .LayoutGrid-2 {
	clear: left; margin-left: 0px;
}
.SiteFooter .LayoutGrid-2-4 .LayoutGrid-2-3 {
	clear: left; margin-left: 0px;
}
.SiteFooter .LayoutGrid-2-5 .LayoutGrid-2 {
	clear: left; margin-left: 0px;
}
.SiteFooter .LayoutGrid-2-5 .LayoutGrid-2-3 {
	clear: left; margin-left: 0px;
}
.SiteFooter .LayoutGrid-2-5 .LayoutGrid-2-4 {
	clear: left; margin-left: 0px;
}
.SiteFooter .LayoutGrid-3-4 .LayoutGrid-3 {
	clear: left; margin-left: 0px;
}
.SiteFooter .LayoutGrid-3-5 .LayoutGrid-3 {
	clear: left; margin-left: 0px;
}
.SiteFooter .LayoutGrid-3-5 .LayoutGrid-3-4 {
	clear: left; margin-left: 0px;
}
.SiteFooter .LayoutGrid-4-5 .LayoutGrid-4 {
	clear: left; margin-left: 0px;
}
.SiteFooter .LayoutGrid-1 {
	float: left;
}
.SiteFooter .LayoutGrid-1-2 {
	float: left;
}
.SiteFooter .LayoutGrid-1-3 {
	float: left;
}
.SiteFooter .LayoutGrid-1-4 {
	float: left;
}
.SiteFooter .LayoutGrid-1-5 {
	float: left;
}
.SiteFooter .LayoutGrid-2 {
	float: left;
}
.SiteFooter .LayoutGrid-2-3 {
	float: left;
}
.SiteFooter .LayoutGrid-2-4 {
	float: left;
}
.SiteFooter .LayoutGrid-2-5 {
	float: left;
}
.SiteFooter .LayoutGrid-3 {
	float: left;
}
.SiteFooter .LayoutGrid-3-4 {
	float: left;
}
.SiteFooter .LayoutGrid-3-5 {
	float: left;
}
.SiteFooter .LayoutGrid-4 {
	float: left;
}
.SiteFooter .LayoutGrid-4-5 {
	float: left;
}
.SiteFooter .LayoutGrid-5 {
	float: left;
}
.SiteFooter .LayoutGrid-2 {
	margin-left: 11px;
}
.SiteFooter .LayoutGrid-2-3 {
	margin-left: 11px;
}
.SiteFooter .LayoutGrid-2-4 {
	margin-left: 11px;
}
.SiteFooter .LayoutGrid-2-5 {
	margin-left: 11px;
}
.SiteFooter .LayoutGrid-3 {
	margin-left: 11px;
}
.SiteFooter .LayoutGrid-3-4 {
	margin-left: 11px;
}
.SiteFooter .LayoutGrid-3-5 {
	margin-left: 11px;
}
.SiteFooter .LayoutGrid-4 {
	margin-left: 11px;
}
.SiteFooter .LayoutGrid-4-5 {
	margin-left: 11px;
}
.SiteFooter .LayoutGrid-5 {
	margin-left: 11px;
}
.Mirror .SiteFooter .LayoutGrid-1 {
	float: right;
}
.Mirror .SiteFooter .LayoutGrid-1-2 {
	float: right;
}
.Mirror .SiteFooter .LayoutGrid-1-3 {
	float: right;
}
.Mirror .SiteFooter .LayoutGrid-1-4 {
	float: right;
}
.Mirror .SiteFooter .LayoutGrid-1-5 {
	float: right;
}
.Mirror .SiteFooter .LayoutGrid-2 {
	float: right;
}
.Mirror .SiteFooter .LayoutGrid-2-3 {
	float: right;
}
.Mirror .SiteFooter .LayoutGrid-2-4 {
	float: right;
}
.Mirror .SiteFooter .LayoutGrid-2-5 {
	float: right;
}
.Mirror .SiteFooter .LayoutGrid-3 {
	float: right;
}
.Mirror .SiteFooter .LayoutGrid-3-4 {
	float: right;
}
.Mirror .SiteFooter .LayoutGrid-3-5 {
	float: right;
}
.Mirror .SiteFooter .LayoutGrid-4 {
	float: right;
}
.Mirror .SiteFooter .LayoutGrid-4-5 {
	float: right;
}
.Mirror .SiteFooter .LayoutGrid-5 {
	float: right;
}
.Mirror .SiteFooter .LayoutGrid-2 {
	margin-right: 11px; margin-left: 0px;
}
.Mirror .SiteFooter .LayoutGrid-2-3 {
	margin-right: 11px; margin-left: 0px;
}
.Mirror .SiteFooter .LayoutGrid-2-4 {
	margin-right: 11px; margin-left: 0px;
}
.Mirror .SiteFooter .LayoutGrid-2-5 {
	margin-right: 11px; margin-left: 0px;
}
.Mirror .SiteFooter .LayoutGrid-3 {
	margin-right: 11px; margin-left: 0px;
}
.Mirror .SiteFooter .LayoutGrid-3-4 {
	margin-right: 11px; margin-left: 0px;
}
.Mirror .SiteFooter .LayoutGrid-3-5 {
	margin-right: 11px; margin-left: 0px;
}
.Mirror .SiteFooter .LayoutGrid-4 {
	margin-right: 11px; margin-left: 0px;
}
.Mirror .SiteFooter .LayoutGrid-4-5 {
	margin-right: 11px; margin-left: 0px;
}
.Mirror .SiteFooter .LayoutGrid-5 {
	margin-right: 11px; margin-left: 0px;
}
