body {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
hr {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
body {
	font: 12px/1.5 tahoma, arial, áä?; font-size-adjust: none; font-stretch: normal;
}
button {
	font: 12px/1.5 tahoma, arial, áä?; font-size-adjust: none; font-stretch: normal;
}
input {
	font: 12px/1.5 tahoma, arial, áä?; font-size-adjust: none; font-stretch: normal;
}
select {
	font: 12px/1.5 tahoma, arial, áä?; font-size-adjust: none; font-stretch: normal;
}
textarea {
	font: 12px/1.5 tahoma, arial, áä?; font-size-adjust: none; font-stretch: normal;
}
h1 {
	font-size: 100%;
}
h2 {
	font-size: 100%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 100%;
}
h5 {
	font-size: 100%;
}
h6 {
	font-size: 100%;
}
address {
	font-style: normal;
}
cite {
	font-style: normal;
}
dfn {
	font-style: normal;
}
em {
	font-style: normal;
}
var {
	font-style: normal;
}
code {
	font-family: courier new,courier,monospace;
}
kbd {
	font-family: courier new,courier,monospace;
}
pre {
	font-family: courier new,courier,monospace;
}
samp {
	font-family: courier new,courier,monospace;
}
small {
	font-size: 12px;
}
ul {
	list-style: none;
}
ol {
	list-style: none;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: text-bottom;
}
legend {
	color: rgb(0, 0, 0);
}
fieldset {
	border: 0px currentColor;
}
img {
	border: 0px currentColor;
}
button {
	font-size: 100%;
}
input {
	font-size: 100%;
}
select {
	font-size: 100%;
}
textarea {
	font-size: 100%;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
#page {
	margin-right: auto; margin-left: auto;
}
#header {
	margin-right: auto; margin-left: auto;
}
#content {
	margin-right: auto; margin-left: auto;
}
#footer {
	margin-right: auto; margin-left: auto;
}
.w950 {
	width: 950px;
}
.col-main {
	width: 100%; float: left; min-height: 1px;
}
.col-sub {
	float: left;
}
.col-extra {
	float: left;
}
.layout::after {
	height: 0px; clear: both; display: block; content: "\20";
}
.main-wrap::after {
	height: 0px; clear: both; display: block; content: "\20";
}
.col-sub::after {
	height: 0px; clear: both; display: block; content: "\20";
}
.col-extra::after {
	height: 0px; clear: both; display: block; content: "\20";
}
.layout {
	-ms-zoom: 1;
}
.main-wrap {
	-ms-zoom: 1;
}
.col-sub {
	-ms-zoom: 1;
}
.col-extra {
	-ms-zoom: 1;
}
html {
	
}
.sn-mobile {
	background: url("http://img04.taobaocdn.com/tps/i4/T1ZO94XBRbXXcqmXD0-439-73.png") no-repeat -9999px -9999px;
}
.sn-mobile-link {
	background: url("http://img04.taobaocdn.com/tps/i4/T1ZO94XBRbXXcqmXD0-439-73.png") no-repeat -9999px -9999px;
}
.sn-quick-menu .sn-mybrand .sn-mybrand-link {
	background: url("http://img04.taobaocdn.com/tps/i4/T1ZO94XBRbXXcqmXD0-439-73.png") no-repeat -9999px -9999px;
}
.sn-msg-hd {
	background: url("http://img04.taobaocdn.com/tps/i4/T1ZO94XBRbXXcqmXD0-439-73.png") no-repeat -9999px -9999px;
}
.sn-vip1 {
	background: url("http://img04.taobaocdn.com/tps/i4/T1ZO94XBRbXXcqmXD0-439-73.png") no-repeat -9999px -9999px;
}
.sn-vip2 {
	background: url("http://img04.taobaocdn.com/tps/i4/T1ZO94XBRbXXcqmXD0-439-73.png") no-repeat -9999px -9999px;
}
.sn-vip3 {
	background: url("http://img04.taobaocdn.com/tps/i4/T1ZO94XBRbXXcqmXD0-439-73.png") no-repeat -9999px -9999px;
}
.sn-vip-unactivated {
	background: url("http://img04.taobaocdn.com/tps/i4/T1ZO94XBRbXXcqmXD0-439-73.png") no-repeat -9999px -9999px;
}
.sn-vip1-unactivated {
	background: url("http://img04.taobaocdn.com/tps/i4/T1ZO94XBRbXXcqmXD0-439-73.png") no-repeat -9999px -9999px;
}
.sn-vip2-unactivated {
	background: url("http://img04.taobaocdn.com/tps/i4/T1ZO94XBRbXXcqmXD0-439-73.png") no-repeat -9999px -9999px;
}
.sn-vip3-unactivated {
	background: url("http://img04.taobaocdn.com/tps/i4/T1ZO94XBRbXXcqmXD0-439-73.png") no-repeat -9999px -9999px;
}
.sn-quick-menu .cart s {
	background: url("http://img04.taobaocdn.com/tps/i4/T1ZO94XBRbXXcqmXD0-439-73.png") no-repeat -9999px -9999px;
}
.sn-mcate-bd .sn-mcate-logo-link {
	background: url("http://img04.taobaocdn.com/tps/i4/T1ZO94XBRbXXcqmXD0-439-73.png") no-repeat -9999px -9999px;
}
.sn-mcate-item-channel {
	background: url("http://img04.taobaocdn.com/tps/i4/T1ZO94XBRbXXcqmXD0-439-73.png") no-repeat -9999px -9999px;
}
.sn-simple-logo-link {
	background: url("http://img04.taobaocdn.com/tps/i4/T1ZO94XBRbXXcqmXD0-439-73.png") no-repeat -9999px -9999px;
}
.sn-quick-menu .sitemap-more-link {
	background: url("http://img04.taobaocdn.com/tps/i4/T1ZO94XBRbXXcqmXD0-439-73.png") no-repeat -9999px -9999px;
}
.sn-mcate-bd .sn-mcate-item-bd a {
	background: url("http://img04.taobaocdn.com/tps/i4/T1ZO94XBRbXXcqmXD0-439-73.png") no-repeat -9999px -9999px;
}
#site-nav a:link {
	color: rgb(255, 208, 192);
}
#site-nav a:visited {
	color: rgb(255, 208, 192);
}
#site-nav .sn-container {
	color: rgb(255, 208, 192);
}
#site-nav a:hover {
	color: rgb(255, 255, 255);
}
#site-nav a:active {
	color: rgb(255, 255, 255);
}
#site-nav .menu-bd {
	color: rgb(255, 255, 255);
}
#site-nav .hover a.menu-hd {
	color: rgb(255, 255, 255);
}
#site-nav .sn-menu:hover a.menu-hd {
	color: rgb(255, 255, 255);
}
#site-nav a.sn-msg-title:link {
	color: rgb(191, 181, 181);
}
#site-nav a.sn-msg-title:visited {
	color: rgb(191, 181, 181);
}
#site-nav .menu-bd a:link {
	color: rgb(191, 181, 181);
}
#site-nav .menu-bd a:visited {
	color: rgb(191, 181, 181);
}
#site-nav a.sn-msg-title:hover {
	color: rgb(255, 208, 192); text-decoration: underline;
}
#site-nav a.sn-msg-title:active {
	color: rgb(255, 208, 192); text-decoration: underline;
}
#site-nav .menu-bd a:hover {
	color: rgb(255, 208, 192); text-decoration: underline;
}
#site-nav .menu-bd a:active {
	color: rgb(255, 208, 192); text-decoration: underline;
}
#site-nav {
	background: rgb(177, 0, 0); width: auto; height: 30px; position: relative !important; z-index: 99999; min-width: 990px; -webkit-transform: translate3d(0, 0, 0);
}
#sn-bg {
	display: none;
}
#site-nav .sn-edge {
	display: none;
}
#sn-bd {
	margin: auto; width: 990px; position: relative;
}
#sn-bd::after {
	height: 0px; clear: both; display: block; content: "\20";
}
#site-nav .sn-container::after {
	height: 0px; clear: both; display: block; content: "\20";
}
#site-nav .sn-container {
	width: auto !important; height: 30px; float: right; position: static !important;
}
#site-nav .hidden {
	display: none;
}
.sn-login-info {
	height: 30px; line-height: 30px; float: left; position: relative;
}
.sn-login-info .sn-user-nick {
	height: 30px; line-height: 30px; overflow: hidden; margin-left: -3px; display: inline-block; white-space: nowrap; -ms-text-overflow: ellipsis; max-width: 110px; _margin-left: 0; -o-text-overflow: ellipsis; -moz-text-overflow: ellipsis;
}
.sn-login-info span.sn-user-nick {
	display: inline;
}
.sn-login-info .sn-identity {
	top: 6px; width: 18px; height: 18px; text-decoration: none; margin-right: 3px; vertical-align: top; display: inline-block; position: relative;
}
.sn-login-info .sn-vip1.sn-identity {
	background-position: -107px -21px;
}
.sn-login-info .sn-vip2.sn-identity {
	background-position: -131px -21px;
}
.sn-login-info .sn-vip3.sn-identity {
	background-position: -155px -21px;
}
.sn-login-info .sn-vip1-unactivated.sn-identity {
	background-position: -107px 0px;
}
.sn-login-info .sn-vip2-unactivated.sn-identity {
	background-position: -131px 0px;
}
.sn-login-info .sn-vip3-unactivated.sn-identity {
	background-position: -155px 0px;
}
.sn-login-info .sn-vip-unactivated.sn-identity {
	background-position: -178px 0px;
}
.sn-login-info .sn-point {
	padding: 0px 9px 0px 2px; outline: 0px; position: relative;
}
.sn-login-info .sn-point-value {
	color: rgb(255, 255, 255); line-height: 29px; padding-left: 2px; font-family: Tahoma; font-weight: bold;
}
.sn-login-info .sn-msg-num {
	color: rgb(255, 255, 255); line-height: 29px; padding-left: 2px; font-family: Tahoma; font-weight: bold;
}
.sn-login-info .sn-message {
	outline: 0px; margin-right: 5px; position: relative;
}
.sn-login-info .sn-miao-message {
	outline: 0px; margin-right: 5px; position: relative;
}
.sn-login-info .sn-msg-box {
	top: 18px; right: 48px; display: block; position: absolute; z-index: 95000;
}
.sn-login-info .sn-msg-hd {
	background: 0px; border-width: 0px 6px 6px; border-style: dashed solid solid; border-color: rgb(177, 0, 0) rgb(177, 0, 0) rgb(99, 85, 85); top: 6px; width: 0px; height: 0px; right: 20px; font-size: 0px; display: block; position: absolute; z-index: 93420; _top: 4px;
}
.sn-login-info .sn-msg-bd {
	border-radius: 2px; top: 12px; height: 20px; right: 0px; line-height: 20px; padding-right: 22px; display: block; white-space: nowrap; position: absolute; z-index: 93410; background-color: rgb(99, 85, 85); -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
.sn-login-info a.sn-msg-title:link {
	overflow: hidden; text-decoration: none; margin-left: 6px; display: inline-block; -ms-text-overflow: ellipsis; max-width: 150px; -o-text-overflow: ellipsis;
}
.sn-login-info a.sn-msg-title:visited {
	overflow: hidden; text-decoration: none; margin-left: 6px; display: inline-block; -ms-text-overflow: ellipsis; max-width: 150px; -o-text-overflow: ellipsis;
}
.sn-login-info .sn-msg-title {
	color: rgb(191, 181, 181);
}
.sn-login-info .sn-msg-title:link {
	color: rgb(191, 181, 181);
}
.sn-login-info .sn-msg-title:visited {
	color: rgb(191, 181, 181);
}
.sn-login-info .sn-msg-close {
	color: rgb(191, 181, 181);
}
.sn-login-info .sn-msg-title:hover {
	color: rgb(255, 255, 255);
}
.sn-login-info .sn-msg-close:hover {
	color: rgb(255, 255, 255);
}
.sn-login-info b.sn-msg-close {
	border-radius: 16px; top: 1px; width: 14px; height: 16px; right: 2px; line-height: 16px; padding-left: 2px; font-size: 14px; font-weight: bold; position: absolute; cursor: pointer;
}
.sn-login-info b.sn-msg-close:hover {
	background: rgb(177, 0, 0); color: rgb(255, 255, 255);
}
.sn-login-info b.sn-msg-close:active {
	background: rgb(177, 0, 0); color: rgb(255, 255, 255);
}
.sn-login-info .sn-login {
	margin: 0px 5px;
}
.sn-login-info .sn-login:link {
	margin: 0px 5px;
}
.sn-login-info .sn-login:visited {
	margin: 0px 5px;
}
.sn-login-info .sn-separator {
	margin: 0px 2px 0px 5px; left: 0px; top: 9px; width: 0px; height: 12px; line-height: 12px; font-size: 0px; vertical-align: top; border-right-color: rgb(190, 0, 0); border-left-color: rgb(140, 0, 0); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; display: inline-block; position: relative;
}
.sn-simple-logo .sn-separator {
	margin: 0px 2px 0px 5px; left: 0px; top: 9px; width: 0px; height: 12px; line-height: 12px; font-size: 0px; vertical-align: top; border-right-color: rgb(190, 0, 0); border-left-color: rgb(140, 0, 0); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; display: inline-block; position: relative;
}
.sn-quick-menu .sn-separator {
	margin: 0px 2px 0px 5px; left: 0px; top: 9px; width: 0px; height: 12px; line-height: 12px; font-size: 0px; vertical-align: top; border-right-color: rgb(190, 0, 0); border-left-color: rgb(140, 0, 0); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; display: inline-block; position: relative;
}
.sn-login-info .sn-separator {
	margin-right: 0px;
}
.sn-login-info .sn-register {
	padding-right: 6px;
}
.sn-login-info .sn-point {
	
}
.sn-login-info .sn-message {
	
}
.sn-login-info .sn-logout {
	
}
.sn-login-info .sn-login {
	
}
.sn-login-info .sn-register {
	
}
.sn-login-info .sn-miao-message {
	
}
.sn-login-info .sn-logout {
	_vertical-align: baseline;
}
.sn-quick-menu {
	height: 30px; line-height: 30px; float: left;
}
.sn-quick-menu li {
	float: left; position: relative;
}
.sn-quick-menu .menu-item {
	position: relative; z-index: 93110;
}
.sn-quick-menu .menu-hd {
	padding: 0px 14px 0px 6px; height: 100%; display: block; position: relative; z-index: 93120; cursor: pointer;
}
.sn-quick-menu .sn-mytaobao .menu-hd {
	width: 48px;
}
.sn-quick-menu .sn-favorite .menu-hd {
	width: 36px;
}
.sn-quick-menu .sn-sitemap .menu-hd {
	width: 48px;
}
.sn-quick-menu .sn-mcate .menu-hd {
	_width: 78px;
}
.sn-quick-menu .menu-hd b {
	border-width: 3px; border-style: solid dashed dashed; border-color: rgb(255, 208, 192) transparent transparent; top: 14px; width: 0px; height: 0px; right: 6px; line-height: 0; font-size: 0px; position: absolute; -webkit-backface-visibility: hidden;
}
.sn-all-msg b {
	border-width: 3px; border-style: solid dashed dashed; border-color: rgb(255, 208, 192) transparent transparent; top: 14px; width: 0px; height: 0px; right: 6px; line-height: 0; font-size: 0px; position: absolute; -webkit-backface-visibility: hidden;
}
.sn-quick-menu .hover .menu-hd b {
	border-color: rgb(255, 255, 255) transparent transparent; transform-origin: 50% 30%; transition:transform 0.2s ease-in; transform: rotate(180deg); -webkit-transform: rotate(180deg); -webkit-transition: -webkit-transform .2s ease-in; -moz-transition: -moz-transform .2s ease-in; -o-transition: -o-transform .2s ease-in; -moz-transform: rotate(180deg); -moz-transform-origin: 50% 30%; -webkit-transform-origin: 50% 30%; -o-transform: rotate(180deg); -o-transform-origin: 50% 30%;
}
.sn-quick-menu .sn-menu:hover .menu-hd b {
	border-color: rgb(255, 255, 255) transparent transparent; transform-origin: 50% 30%; transition:transform 0.2s ease-in; transform: rotate(180deg); -webkit-transform: rotate(180deg); -webkit-transition: -webkit-transform .2s ease-in; -moz-transition: -moz-transform .2s ease-in; -o-transition: -o-transform .2s ease-in; -moz-transform: rotate(180deg); -moz-transform-origin: 50% 30%; -webkit-transform-origin: 50% 30%; -o-transform: rotate(180deg); -o-transform-origin: 50% 30%;
}
.sn-message:hover .sn-all-msg b {
	border-color: rgb(255, 255, 255) transparent transparent; transform-origin: 50% 30%; transition:transform 0.2s ease-in; transform: rotate(180deg); -webkit-transform: rotate(180deg); -webkit-transition: -webkit-transform .2s ease-in; -moz-transition: -moz-transform .2s ease-in; -o-transition: -o-transform .2s ease-in; -moz-transform: rotate(180deg); -moz-transform-origin: 50% 30%; -webkit-transform-origin: 50% 30%; -o-transform: rotate(180deg); -o-transform-origin: 50% 30%;
}
.sn-miao-message:hover .sn-all-msg b {
	border-color: rgb(255, 255, 255) transparent transparent; transform-origin: 50% 30%; transition:transform 0.2s ease-in; transform: rotate(180deg); -webkit-transform: rotate(180deg); -webkit-transition: -webkit-transform .2s ease-in; -moz-transition: -moz-transform .2s ease-in; -o-transition: -o-transform .2s ease-in; -moz-transform: rotate(180deg); -moz-transform-origin: 50% 30%; -webkit-transform-origin: 50% 30%; -o-transform: rotate(180deg); -o-transform-origin: 50% 30%;
}
.sn-quick-menu .menu-bd {
	background: rgb(99, 85, 85); left: 0px; top: 30px; display: none; position: absolute; z-index: 93110; opacity: 0.99;
}
.sn-quick-menu .menu-bd a:link {
	color: rgb(191, 181, 181);
}
.sn-quick-menu .menu-bd a:visited {
	color: rgb(191, 181, 181);
}
.sn-quick-menu .menu-bd a:hover {
	color: rgb(255, 208, 192);
}
.sn-quick-menu .menu-bd a:active {
	color: rgb(255, 208, 192);
}
#site-nav .sn-quick-menu iframe.menu-bd {
	background: 0px; border: 0px currentColor; float: left; z-index: -1;
}
.sn-quick-menu .menu-bd-panel a {
	line-height: 20px; display: block;
}
.sn-quick-menu .sn-menu {
	position: relative;
}
.sn-quick-menu .sn-menu a:hover {
	text-decoration: underline;
}
.sn-quick-menu .hover .menu-hd {
	background-color: rgb(114, 99, 99);
}
.sn-quick-menu .sn-menu:hover .menu-hd {
	background-color: rgb(114, 99, 99);
}
.sn-quick-menu .hover .menu-bd {
	display: block;
}
.sn-quick-menu .sn-menu:hover .menu-bd {
	display: block;
}
.sn-quick-menu .sn-mytaobao .menu-bd {
	padding: 8px 10px; line-height: 1.4;
}
.sn-quick-menu .sn-favorite .menu-bd {
	padding: 8px 10px; line-height: 1.4;
}
.sn-quick-menu .sn-sitemap .menu-bd {
	padding: 8px 10px; line-height: 1.4;
}
.sn-quick-menu .sn-mytaobao .menu-bd {
	width: 74px;
}
.sn-quick-menu .sn-favorite .menu-bd {
	width: 62px;
}
.sn-quick-menu .sn-sitemap .menu-bd {
	left: auto; width: 122px; right: 0px; overflow: hidden;
}
.sn-quick-menu .sn-sitemap ul {
	margin-top: -5px;
}
.sn-quick-menu .sn-sitemap li {
	padding: 5px 0px; height: auto; line-height: 1.4; border-bottom-color: rgb(130, 119, 119); border-bottom-width: 1px; border-bottom-style: dotted; float: none; display: block;
}
.sn-quick-menu .sn-sitemap h3 {
	color: rgb(255, 255, 255); font-weight: bold;
}
.sn-quick-menu .sn-sitemap li a {
	width: 48px; line-height: 22px; margin-right: 20px; display: inline-block;
}
.sn-quick-menu .sn-sitemap .sitemap-right {
	margin-right: 0px;
}
.sn-quick-menu .sn-sitemap a.sitemap-more {
	height: 20px; line-height: 20px; padding-top: 6px; display: block;
}
.sn-quick-menu .sitemap-more-link {
	background-position: -425px -59px; width: 15px; height: 15px; margin-left: 4px; vertical-align: middle; display: inline-block;
}
.sn-quick-menu .sn-mybrand a {
	display: inline;
}
.sn-quick-menu .sn-mobile a {
	display: inline;
}
.sn-quick-menu .sn-home a {
	display: inline;
}
.sn-quick-menu .sn-seller a {
	display: inline;
}
.sn-quick-menu .sn-mybrand {
	padding: 0px 4px 0px 5px;
}
.sn-quick-menu .sn-mobile {
	padding: 0px 4px 0px 5px;
}
.sn-quick-menu .sn-home {
	padding: 0px 4px 0px 5px;
}
.sn-quick-menu .sn-seller {
	padding: 0px 4px 0px 5px;
}
.sn-quick-menu .sn-mybrand .sn-mybrand-link {
	background-position: -2px -22px; padding-left: 20px;
}
.sn-quick-menu .sn-mobile .sn-mobile-link {
	background-position: -179px -23px; padding-left: 20px;
}
.sn-quick-menu .sn-mcate-hd {
	font-size: 12px; cursor: default;
}
#site-nav .sn-quick-menu .hover .sn-mcate-hd {
	background: rgb(111, 96, 96); color: rgb(255, 255, 255);
}
.sn-quick-menu .sn-menu:hover .sn-mcate-hd {
	color: rgb(255, 208, 192);
}
.sn-quick-menu .hover .sn-mcate-hd:hover {
	color: rgb(255, 255, 255);
}
.sn-mcate-bd {
	background: rgb(99, 85, 85); left: 0px; top: 30px; width: 100%; display: none; position: absolute; z-index: 9999999; min-width: 990px; opacity: 0.99;
}
.sn-mcate-bd .sn-mcate-ctn-con {
	margin: auto; padding: 50px 0px 30px; width: 990px; overflow: hidden; position: relative;
}
.sn-mcate-bd .sn-mcate-logo-link {
	background-position: -4px -42px; left: 0px; top: 0px; width: 190px; height: 30px; text-indent: -10000em; margin-top: 14px; display: inline-block; position: absolute; z-index: 99999999; opacity: 0.97;
}
.D950 .sn-mcate-bd .sn-mcate-logo-link {
	background-position: -267px -8px; width: 164px; height: 25px; margin-top: 15px;
}
a.sn-mcate-logo-link:hover {
	border-bottom-color: rgb(255, 255, 255); border-bottom-width: 2px; border-bottom-style: solid;
}
a.sn-mcate-logo-link:active {
	border-bottom-color: rgb(255, 255, 255); border-bottom-width: 2px; border-bottom-style: solid;
}
.sn-mcate-bd .sn-mcate-ctn {
	margin: auto; width: 1000px; -ms-zoom: 1;
}
.sn-mcate-bd .sn-mcate-ctn::after {
	height: 0px; clear: both; display: block; content: "\20";
}
.sn-mcate-bd .sn-mcate-ctn li {
	padding: 20px 9px 0px 16px; width: 175px; height: 65px; float: left; _display: inline;
}
.sn-mcate-bd .sn-mcate-ctn .sn-mcate-item-hd {
	color: rgb(255, 255, 255); padding-bottom: 3px; font-size: 12px; font-weight: bold; border-bottom-color: rgb(155, 146, 146); border-bottom-width: 1px; border-bottom-style: dotted;
}
.sn-mcate-bd a.sn-mcate-item-channel {
	background-position: -203px 0px; left: 5px; top: -2px; width: 50px; height: 16px; text-align: center; color: rgb(255, 255, 255); line-height: 16px; padding-left: 4px; font-size: 12px; font-weight: normal; text-decoration: none; vertical-align: middle; display: inline-block; position: relative;
}
.sn-mcate-bd a.sn-mcate-item-channel:hover {
	background-position: -203px -39px; color: rgb(114, 99, 99); text-decoration: none;
}
.sn-mcate-bd a.channelHover {
	background-position: -203px -39px; color: rgb(114, 99, 99); text-decoration: none;
}
.sn-mcate-bd .sn-mcate-item-bd {
	width: 100%; height: 44px; overflow: hidden; padding-top: 1px; font-size: 0px; _padding-top: 3px;
}
@media not all
{
.sn-mcate-bd .sn-mcate-item-bd a {
	letter-spacing: -5px;
}
}
.sn-mcate-bd .sn-mcate-item-bd a {
	background-position: -438px -39px; margin: 3px 0px 3px -8px; padding: 0px 16px 0px 8px; color: rgb(191, 181, 181); letter-spacing: normal; font-size: 12px; word-spacing: normal; display: inline-block;
}
.sn-mcate-bd .sn-mcate-item-bd a.no-sep-link {
	background: 0px;
}
.sn-mcate-bd .sn-mcate-ctn .sn-mcate-item-bd a:hover {
	color: rgb(255, 208, 192);
}
.sn-mcate-bd .sn-mcate-ctn .sn-mcate-item-bd a:active {
	color: rgb(255, 208, 192);
}
.sn-mcate-unready {
	height: auto !important; text-align: center; color: rgb(255, 255, 255); line-height: 335px; font-size: 16px; min-height: 335px;
}
.sn-quick-menu .cart {
	padding: 0px 5px 0px 25px; width: 36px; text-align: center; text-decoration: none; position: relative;
}
.sn-quick-menu .mini-cart {
	width: 70px; padding-right: 0px;
}
.sn-quick-menu .mini-cart .menu-hd {
	padding: 0px; text-decoration: none; position: static;
}
.sn-quick-menu .cart s {
	background-position: -2px -1px; left: 6px; top: 8px; width: 16px; height: 14px; position: absolute;
}
.sn-quick-menu .mc-count {
	padding: 0px 2px; color: rgb(255, 255, 255); font-family: Arial; font-weight: bold;
}
.sn-quick-menu .menu-hd:hover .mini-cart-line {
	left: 32px; top: 21px; width: 65px; height: 0px; line-height: 0; font-size: 0px; border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-top-style: solid; display: block; position: absolute; z-index: 93130;
}
#gb-msg-notice {
	padding: 5px 20px 5px 5px; border: 1px solid rgb(254, 191, 144); left: -9999px; top: 0px; color: rgb(64, 64, 64); position: absolute; background-color: rgb(255, 248, 217);
}
#gb-msg-notice a {
	color: rgb(51, 102, 204);
}
#gb-msg-notice a:link {
	color: rgb(51, 102, 204);
}
#gb-msg-notice a:hover {
	color: rgb(51, 102, 204);
}
#gb-msg-notice a:hover {
	color: rgb(255, 102, 0);
}
#gb-msg-notice .gb-msg-info {
	background: url("http://img04.taobaocdn.com/tps/i4/T1LjukXmNrXXXXXXXX-16-29.png") no-repeat 0px 3px; padding-left: 20px;
}
#gb-msg-notice .gb-msg-icon {
	width: 0px; height: 0px; line-height: 0; font-size: 0px; position: absolute;
}
#gb-msg-notice .gb-msg-close {
	background: url("http://img04.taobaocdn.com/tps/i4/T1LjukXmNrXXXXXXXX-16-29.png") no-repeat 0px -20px; top: 10px; width: 9px; height: 9px; right: 5px; cursor: pointer;
}
#gb-msg-notice .gb-msg-tri {
	border-width: 4px; border-style: dashed dashed solid solid; border-color: transparent transparent rgb(254, 191, 144) rgb(254, 191, 144); left: 20px; top: -8px;
}
#gb-msg-notice .gb-msg-tri-inner {
	border-width: 4px; border-style: dashed dashed solid solid; border-color: transparent transparent rgb(254, 191, 144) rgb(254, 191, 144); left: 20px; top: -8px;
}
#gb-msg-notice .gb-msg-tri-inner {
	left: -3px; top: -2px; border-bottom-color: rgb(255, 248, 217); border-left-color: rgb(255, 248, 217);
}
#system-announce {
	padding: 8px 0px; border: 1px solid rgb(238, 238, 238); text-align: center; color: rgb(255, 51, 0); line-height: 18px; clear: both; font-weight: bold; background-color: rgb(246, 246, 246);
}
.tml-mask-b2b {
	left: 0px; top: 0px; width: 100%; height: 100%; position: fixed; z-index: 100002; _position: absolute;
}
.tml-mask-b2b iframe {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: -1;
}
.tml-dialog-b2b {
	left: 50%; top: 50%; width: 627px; height: 370px; margin-top: -190px; margin-left: -315px; position: fixed; z-index: 100003; _position: absolute;
}
.tml-dialog-b2b .tml-dialog-skin {
	
}
.sn-simple-logo {
	left: 0px; top: 0px; width: 220px; height: 30px; line-height: 30px; margin-right: 20px; vertical-align: middle; position: absolute;
}
.sn-simple-logo-link {
	background-position: -199px -58px; margin: 7px 0px; width: 96px; height: 16px; text-indent: -9999px; overflow: hidden; float: left; display: block; position: relative;
}
.sn-simple-logo-shop {
	color: rgb(255, 255, 255); font-family: "Lucida Grande","Ú°?äºýÙ";
}
.w990 .sn-simple-container .sn-mobile {
	display: none;
}
.w990 .sn-simple-container .sn-home {
	display: none;
}
@media not all
{
.safari-font-fix {
	font-family: "Lucida Grande",tahoma,arial,"Ú°?äºýÙ","áä?";
}
}
.cart {
	top: -1px;
}
.sn-mybrand {
	top: -1px;
}
.sn-mobile {
	top: -1px;
}
.sn-home {
	top: -1px;
}
.sn-point {
	top: -1px;
}
.sn-message {
	top: -1px;
}
.sn-miao-message {
	top: -1px;
}
.sn-quick-menu .menu-hd b {
	top: 13px;
}
.sn-simple-logo {
	margin-top: -1px;
}
.sn-mcate-bd .sn-mcate-item-bd a {
	background-position: -438px -41px; _background-position: -438px -39px;
}
@media 
{
.sn-quick-menu .menu-hd b {
	top: 12px;
}
.sn-quick-menu .hover .menu-hd b {
	border-style: dashed dashed solid; border-color: transparent transparent rgb(255, 255, 255); top: 10px;
}
.sn-quick-menu .sn-menu:hover .menu-hd b {
	border-style: dashed dashed solid; border-color: transparent transparent rgb(255, 255, 255); top: 10px;
}
}
@media 
{
.sn-mytaobao {
	top: 1px;
}
.sn-mcate {
	top: 1px;
}
.sn-sitemap {
	top: 1px;
}
.sn-favorite {
	top: 1px;
}
.cart {
	top: 0px;
}
.sn-mybrand {
	top: 0px;
}
.sn-mobile {
	top: 0px;
}
.sn-home {
	top: 0px;
}
.sn-point {
	top: 0px;
}
.sn-message {
	top: 0px;
}
.sn-miao-message {
	top: 0px;
}
.sn-mcate-bd .sn-mcate-item-bd a {
	background-position: -438px -40px;
}
}
.sn-quick-menu .menu-hd b {
	_top: 14px;
}
.sn-quick-menu .hover .menu-hd b {
	_top: 12px;
}
.sn-quick-menu .sn-menu:hover .menu-hd b {
	_top: 12px;
}
.sn-quick-menu .sn-mybrand .sn-mybrand-link {
	_background-position: -2px -22px;
}
.sn-quick-menu .sn-mobile .sn-mobile-link {
	_background-position: -179px -23px;
}
.sn-simple-logo-shop {
	top: 1px; position: relative;
}
.sn-mybrand {
	
}
.sn-mobile {
	
}
.sn-simple-logo-link {
	
}
.sn-point {
	
}
.sn-message {
	
}
.sn-miao-message {
	
}
.cart {
	_top: 0;
}
.sn-mybrand {
	_top: 0;
}
.sn-mobile {
	_top: 0;
}
.sn-simple-logo-link {
	_top: 0;
}
.sn-point {
	_top: 0;
}
.sn-message {
	_top: 0;
}
.sn-miao-message {
	_top: 0;
}
.sn-mytaobao {
	_width: 68px;
}
.sn-sitemap {
	_width: 68px;
}
.sn-favorite {
	_width: 56px;
}
.sn-mcate {
	_width: 98px;
}
.sn-miao-message {
	height: 30px; float: left;
}
.sn-welcome-info {
	height: 30px; float: left;
}
.sn-welcome-info span {
	line-height: 30px; vertical-align: top; display: inline-block;
}
.sn-point {
	line-height: 30px; vertical-align: top; display: inline-block;
}
.sn-miao-message {
	_width: 56px;
}
.j_Message {
	_width: 56px;
}
.sn-miao-message .sn-msg-body {
	padding: 10px; left: 0px; width: 70px;
}
.sn-miao-message .sn-menu {
	display: block;
}
.sn-welcome-info {
	display: block;
}
.sn-miao-message {
	display: block;
}
.sn-msg-body {
	display: block;
}
.sn-miao-message .sn-all-msg {
	padding-right: 16px;
}
.sn-msg-body {
	line-height: 20px;
}
.sn-miao-message .sn-msg-body a:hover {
	text-decoration: none;
}
.sn-miao-message .sn-msg-body a:active {
	text-decoration: none;
}
.sn-msg-body a:hover span {
	text-decoration: underline;
}
.sn-msg-body a em {
	width: 15px; height: 20px; color: rgb(255, 255, 255); line-height: 20px; float: right; position: relative;
}
.sn-miao-message:hover {
	color: rgb(255, 255, 255); background-color: rgb(114, 99, 99);
}
.sn-miao-message:hover .menu-bd {
	display: block;
}
.mui-fix-float {
	
}
.mui-fix-float::after {
	height: 0px; clear: both; display: block; content: "\0020";
}
.mui-display-none {
	left: -9999px; top: -9999px; visibility: hidden; position: absolute;
}
.mui-inline-block {
	vertical-align: middle; display: inline-block; position: relative;
}
.mui-inline-block-icon {
	padding: 0px; line-height: 9999px; overflow: hidden; font-size: 0px; vertical-align: middle; display: inline-block; position: relative;
}
.mui-text-overflow {
	overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.mui-price-font {
	font-family: arial;
}
#site-nav .chnNew {
	background: url("http://img03.taobaocdn.com/tps/i3/T1Zs7TXiNcXXbmSHkB-191-207.png") no-repeat;
}
#site-nav .chnHot {
	background: url("http://img03.taobaocdn.com/tps/i3/T1Zs7TXiNcXXbmSHkB-191-207.png") no-repeat;
}
#site-nav .chnNew {
	background-position: -159px -75px; top: 0px; width: 23px; height: 13px; right: -1px; display: block; position: absolute; z-index: 1001;
}
#site-nav .chnHot {
	background-position: -158px -60px; top: 0px; width: 22px; height: 12px; right: -1px; display: block; position: absolute; z-index: 1001;
}
