.yk-footer {
	margin-bottom: 20px; min-width: 990px; _margin-bottom: 0;
}
.yk-footer .yk-con {
	padding: 0px 10px; width: 970px; overflow: hidden; margin-right: auto; margin-left: auto;
}
.yk-footer a {
	color: rgb(85, 85, 85); text-decoration: none;
}
.yk-footer a:hover {
	color: rgb(204, 51, 17);
}
.yk-footer ul {
	list-style: none;
}
.yk-footer ul {
	margin: 0px; padding: 0px; white-space: nowrap;
}
.yk-footer li {
	margin: 0px; padding: 0px; white-space: nowrap;
}
.yk-footer p {
	margin: 0px; padding: 0px; white-space: nowrap;
}
.yk-footer .footerBox {
	height: 70px; background-color: rgb(246, 246, 246);
}
.yk-footer .so {
	padding: 15px 0px; text-align: center; line-height: 0; font-size: 0px;
}
.yk-footer .txtSearch {
	background: rgb(255, 255, 255); border-width: 2px 0px 2px 2px; border-style: solid none solid solid; border-color: rgb(160, 160, 160) currentColor rgb(160, 160, 160) rgb(160, 160, 160); margin: 0px; padding: 8px; outline: 0px; width: 432px; height: 20px; color: rgb(85, 85, 85); line-height: 20px; font-family: arial, helvetica, verdana, tahoma, sans-serif; font-size: 14px; vertical-align: middle;
}
.yk-footer .txtSearch:focus {
	border-color: rgb(62, 171, 255); box-shadow: 0px 0px 1px #91bbd9, inset 1px 1px 2px #e5e5e5; -webkit-box-shadow: 0 0 1px #91bbd9, inset 1px 1px 2px #e5e5e5; -moz-box-shadow: 0 0 1px #91bbd9, inset 1px 1px 2px #e5e5e5;
}
.yk-footer .input-default {
	color: rgb(187, 187, 187);
}
.yk-footer button {
	background-position: 0px -17px; padding: 0px; border: 0px currentColor; width: 90px; height: 40px; line-height: 14px; text-indent: -999em; overflow: hidden; margin-left: -4px; vertical-align: middle; cursor: pointer;
}
.yk-footer button em {
	display: none;
}
.yk-footer .icon-footer-icp {
	background-image: url("/index/img/footer/footer.png"); background-repeat: no-repeat;
}
.yk-footer .icon-footer-union {
	background-image: url("/index/img/footer/footer.png"); background-repeat: no-repeat;
}
.yk-footer .icon-footer-report {
	background-image: url("/index/img/footer/footer.png"); background-repeat: no-repeat;
}
.yk-footer button {
	background-image: url("/index/img/footer/footer.png"); background-repeat: no-repeat;
}
.yk-footer .icon-footer-icp {
	width: 16px; height: 16px; vertical-align: middle; display: inline-block;
}
.yk-footer .icon-footer-union {
	width: 16px; height: 16px; vertical-align: middle; display: inline-block;
}
.yk-footer .icon-footer-report {
	width: 16px; height: 16px; vertical-align: middle; display: inline-block;
}
.yk-footer .icon-footer-icp {
	
}
.yk-footer .icon-footer-union {
	background-position: -16px 0px;
}
.yk-footer .icon-footer-report {
	background-position: -32px 0px;
}
.yk-footer .footer-link {
	margin: 20px -40px 20px 0px; font-size: 0px;
}
.yk-footer ul {
	margin-right: 35px; display: inline-block;
}
.yk-footer .narrow {
	margin-right: 5px;
}
.yk-footer li {
	color: rgb(144, 144, 144); margin-bottom: 8px;
}
.yk-footer li a {
	font-size: 12px; margin-right: 1em;
}
.yk-footer li label {
	font-size: 12px;
}
.yk-footer .cert {
	margin: 20px -100px 20px 0px; color: rgb(144, 144, 144); font-size: 0px; vertical-align: top;
}
.yk-footer .cert .cert-list {
	font-size: 12px; margin-right: 48px; vertical-align: top; display: inline-block;
}
.yk-footer .cert p {
	line-height: 16px; margin-bottom: 8px; vertical-align: middle;
}
.yk-footer .cert p span {
	line-height: 16px; font-size: 12px;
}
.yk-footer .cert p a {
	line-height: 16px; font-size: 12px;
}
.yk-footer .cert b {
	font-weight: normal;
}
.yk-w970 .yk-con {
	width: 970px;
}
.yk-w1190 .yk-con {
	width: 1190px;
}
.yk-w1190 .yk-footer .footer-link {
	margin-right: -80px;
}
.yk-w1190 .yk-footer ul {
	margin-right: 80px;
}
.yk-w1190 .yk-footer .narrow {
	margin-right: 10px;
}
.yk-w1190 .yk-footer .cert {
	margin-right: -123px;
}
.yk-w1190 .yk-footer .cert-list {
	margin-right: 108px;
}
