.yk-header .ico-user-l2 {
	background: url("/index/img/header/header.png") no-repeat;
}
.yk-header .ico-myspace-l2 {
	background: url("/index/img/header/header.png") no-repeat;
}
.yk-header .ico-channels-l2 {
	background: url("/index/img/header/header.png") no-repeat;
}
.yk-header .ico-videomanage-l2 {
	background: url("/index/img/header/header.png") no-repeat;
}
.yk-header .ico-notifications-l2 {
	background: url("/index/img/header/header.png") no-repeat;
}
.yk-header .ico-upload-l2 {
	background: url("/index/img/header/header.png") no-repeat;
}
.yk-header .ico-mydrama-l2 {
	background: url("/index/img/header/header.png") no-repeat;
}
.yk-header .ico-member-l2 {
	background: url("/index/img/header/header.png") no-repeat;
}
.yk-header .ico-VR-l2 {
	background: url("/index/img/header/header.png") no-repeat;
}
.yk-header .ico-subscription-l2 {
	background: url("/index/img/header/header.png") no-repeat;
}
.yk-header .ico-favorite-l2 {
	background: url("/index/img/header/header.png") no-repeat;
}
.yk-header .ico-record-l2 {
	background: url("/index/img/header/header.png") no-repeat;
}
.yk-header .ico-sharing-l2 {
	background: url("/index/img/header/header.png") no-repeat;
}
.yk-header .caret {
	background: url("/index/img/header/header.png") no-repeat;
}
.yk-nav .caret {
	background: url("/index/img/header/header.png") no-repeat;
}
.yk-ucenter .yk-playrecords .yk-records .records-list .r-del {
	background: url("/index/img/header/header.png") no-repeat;
}
.yk-ucenter .yk-playrecords .yk-notice .yk-notice-success .ico-notice-ok {
	background: url("/index/img/header/header.png") no-repeat;
}
.yk-header .yk-so-box button {
	background: url("/index/img/header/header.png") no-repeat;
}
.yk-ucenter .yk-msgbox .handle i {
	background: url("/index/img/header/header.png") no-repeat;
}
.yk-ucenter .yk-msgbox .videomsg .hint i {
	background: url("/index/img/header/header.png") no-repeat;
}
.yk-header a {
	color: rgb(85, 85, 85); text-decoration: none;
}
.yk-nav a {
	color: rgb(85, 85, 85); text-decoration: none;
}
.yk-header a:hover {
	color: rgb(204, 51, 17); text-decoration: none;
}
.yk-nav a:hover {
	color: rgb(204, 51, 17); text-decoration: none;
}
.yk-header ul {
	list-style: none; margin: 0px; padding: 0px;
}
.yk-nav ul {
	list-style: none; margin: 0px; padding: 0px;
}
.yk-header .splite {
	margin: 0px 5px; color: rgb(144, 144, 144);
}
.yk-nav .splite {
	margin: 0px 5px; color: rgb(144, 144, 144);
}
.yk-header .caret {
	background-position: -120px -4px; width: 8px; height: 4px; line-height: 0; overflow: hidden; font-size: 0px; vertical-align: middle; display: inline-block;
}
.yk-nav .caret {
	background-position: -120px -4px; width: 8px; height: 4px; line-height: 0; overflow: hidden; font-size: 0px; vertical-align: middle; display: inline-block;
}
.yk-header .dropdown {
	position: relative;
}
.yk-nav .dropdown {
	position: relative;
}
.yk-header .dropdown .handle {
	padding: 0px 10px; left: 0px; top: 0px; position: absolute; z-index: 3; cursor: default;
}
.yk-nav .dropdown .handle {
	padding: 0px 10px; left: 0px; top: 0px; position: absolute; z-index: 3; cursor: default;
}
.yk-header .dropdown .handle .caret {
	position: absolute;
}
.yk-nav .dropdown .handle .caret {
	position: absolute;
}
.yk-header .dropdown .panel {
	padding: 19px; left: 0px; top: 100%; display: none; position: absolute; z-index: 2;
}
.yk-nav .dropdown .panel {
	padding: 19px; left: 0px; top: 100%; display: none; position: absolute; z-index: 2;
}
.yk-header .dropdown .mask {
	background: rgb(255, 255, 255); border: 0px currentColor; left: 0px; top: 60px; width: 0px; height: 0px; display: none; position: absolute; z-index: 1; opacity: 0;
}
.yk-nav .dropdown .mask {
	background: rgb(255, 255, 255); border: 0px currentColor; left: 0px; top: 60px; width: 0px; height: 0px; display: none; position: absolute; z-index: 1; opacity: 0;
}
.yk-header .dropdown-open .handle {
	background: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221);
}
.yk-nav .dropdown-open .handle {
	background: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221);
}
.yk-header .dropdown-open .panel {
	background: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221);
}
.yk-nav .dropdown-open .panel {
	background: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221);
}
.yk-header .dropdown-open .handle {
	padding: 0px 9px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.yk-nav .dropdown-open .handle {
	padding: 0px 9px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.yk-header .dropdown-open .panel {
	display: block;
}
.yk-nav .dropdown-open .panel {
	display: block;
}
.yk-header .dropdown-open .mask {
	display: block;
}
.yk-nav .dropdown-open .mask {
	display: block;
}
.yk-header .w970-show {
	display: block;
}
.yk-nav .w970-show {
	display: block;
}
.yk-header .w1190-show {
	display: none;
}
.yk-nav .w1190-show {
	display: none;
}
.yk-header .ico-user-l2 {
	line-height: 0; font-size: 0px; vertical-align: middle; display: inline-block;
}
.yk-header .ico-myspace-l2 {
	line-height: 0; font-size: 0px; vertical-align: middle; display: inline-block;
}
.yk-header .ico-channels-l2 {
	line-height: 0; font-size: 0px; vertical-align: middle; display: inline-block;
}
.yk-header .ico-videomanage-l2 {
	line-height: 0; font-size: 0px; vertical-align: middle; display: inline-block;
}
.yk-header .ico-notifications-l2 {
	line-height: 0; font-size: 0px; vertical-align: middle; display: inline-block;
}
.yk-header .ico-upload-l2 {
	line-height: 0; font-size: 0px; vertical-align: middle; display: inline-block;
}
.yk-header .ico-mydrama-l2 {
	line-height: 0; font-size: 0px; vertical-align: middle; display: inline-block;
}
.yk-header .ico-member-l2 {
	line-height: 0; font-size: 0px; vertical-align: middle; display: inline-block;
}
.yk-header .ico-VR-l2 {
	line-height: 0; font-size: 0px; vertical-align: middle; display: inline-block;
}
.yk-header .ico-subscription-l2 {
	line-height: 0; font-size: 0px; vertical-align: middle; display: inline-block;
}
.yk-header .ico-favorite-l2 {
	line-height: 0; font-size: 0px; vertical-align: middle; display: inline-block;
}
.yk-header .ico-record-l2 {
	line-height: 0; font-size: 0px; vertical-align: middle; display: inline-block;
}
.yk-header .ico-sharing-l2 {
	line-height: 0; font-size: 0px; vertical-align: middle; display: inline-block;
}
.yk-header .ico-user-l2 {
	width: 20px; height: 20px;
}
.yk-header .ico-myspace-l2 {
	width: 20px; height: 20px;
}
.yk-header .ico-channels-l2 {
	width: 20px; height: 20px;
}
.yk-header .ico-videomanage-l2 {
	width: 20px; height: 20px;
}
.yk-header .ico-notifications-l2 {
	width: 20px; height: 20px;
}
.yk-header .ico-upload-l2 {
	width: 20px; height: 20px;
}
.yk-header .ico-mydrama-l2 {
	width: 20px; height: 20px;
}
.yk-header .ico-member-l2 {
	width: 20px; height: 20px;
}
.yk-header .ico-VR-l2 {
	width: 20px; height: 20px;
}
.yk-header .ico-subscription-l2 {
	width: 20px; height: 20px;
}
.yk-header .ico-favorite-l2 {
	width: 20px; height: 20px;
}
.yk-header .ico-record-l2 {
	width: 20px; height: 20px;
}
.yk-header .ico-sharing-l2 {
	width: 20px; height: 20px;
}
.yk-header .ico-user-l2 {
	
}
.yk-header .ico-myspace-l2 {
	background-position: -20px 0px;
}
.yk-header .ico-channels-l2 {
	background-position: -40px 0px;
}
.yk-header .ico-videomanage-l2 {
	background-position: 0px -20px;
}
.yk-header .ico-notifications-l2 {
	background-position: -20px -20px;
}
.yk-header .ico-upload-l2 {
	background-position: -40px -20px;
}
.yk-header .ico-mydrama-l2 {
	background-position: 0px -40px;
}
.yk-header .ico-member-l2 {
	background-position: -20px -40px;
}
.yk-header .ico-VR-l2 {
	background-position: -40px -40px;
}
.yk-header .ico-subscription-l2 {
	background-position: 0px -60px;
}
.yk-header .ico-favorite-l2 {
	background-position: -20px -60px;
}
.yk-header .ico-record-l2 {
	background-position: -40px -60px;
}
.yk-header .ico-sharing-l2 {
	background-position: 0px -80px;
}
.yk-header a:hover .ico-user-l2 {
	background-position: -60px 0px;
}
.yk-header a:hover .ico-myspace-l2 {
	background-position: -80px 0px;
}
.yk-header a:hover .ico-channels-l2 {
	background-position: -100px 0px;
}
.yk-header a:hover .ico-videomanage-l2 {
	background-position: -60px -20px;
}
.yk-header a:hover .ico-notifications-l2 {
	background-position: -80px -20px;
}
.yk-header a:hover .ico-upload-l2 {
	background-position: -100px -20px;
}
.yk-header a:hover .ico-mydrama-l2 {
	background-position: -60px -40px;
}
.yk-header a:hover .ico-member-l2 {
	background-position: -80px -40px;
}
.yk-header a:hover .ico-subscription-l2 {
	background-position: -60px -60px;
}
.yk-header a:hover .ico-favorite-l2 {
	background-position: -80px -60px;
}
.yk-header a:hover .ico-record-l2 {
	background-position: -100px -60px;
}
.yk-header a:hover .ico-sharing-l2 {
	background-position: -60px -80px;
}
.yk-ucenter .yk-msgbox .handle i {
	background-position: -120px -11px;
}
.yk-ucenter .yk-msgbox .handle:hover i {
	background-position: -120px -20px;
}
.yk-ucenter .yk-msgbox .videomsg .hint .ico-new {
	background-position: -120px -60px;
}
.yk-ucenter .yk-msgbox .videomsg .hint .ico-success {
	background-position: -120px -100px;
}
.yk-ucenter .yk-msgbox .videomsg .hint .ico-notice {
	background-position: -120px -120px;
}
.yk-header {
	height: 60px;
}
.yk-header-container {
	background: rgb(246, 246, 246); top: 0px; width: 100%; position: relative; z-index: 1290;
}
.yk-header-container * {
	font-family: "Microsoft YaHei","Ú°?äºýÙ",helvetica,arial,verdana,tahoma,sans-serif;
}
.yk-header-container .mask {
	background: rgb(255, 255, 255); border: 0px currentColor; left: 0px; top: 0px; width: 100%; height: 60px; position: absolute; z-index: -1; opacity: 0;
}
.yk-header-container .yk-box {
	margin: 0px auto; padding: 0px 10px; width: 970px; height: 60px; position: relative; z-index: 2;
}
.yk-header-container .yk-box::before {
	line-height: 0; display: table; content: "";
}
.yk-header-container .yk-box::after {
	line-height: 0; display: table; content: "";
}
.yk-header-container .yk-box::after {
	clear: both;
}
.yk-header-container .yk-logo {
	padding: 5px 0px; width: 300px; height: 50px; overflow: hidden; margin-right: 20px; float: left;
}
.yk-header-container .yk-logo img {
	border: 0px currentColor;
}
.yk-header-container .yk-logo object {
	border: 0px currentColor;
}
.yk-header-container .yk-menus {
	left: 160px; top: 0px; height: 60px; position: absolute; z-index: 1051;
}
.yk-header-container .yk-menus .yk-menus-item {
	height: 100%; line-height: 60px; float: left; _line-height: 58px;
}
.yk-header-container .yk-menus .yk-menus-item * {
	font-size: 14px;
}
.yk-header-container .yk-menus .yk-menus-item a {
	padding-right: 10px;
}
.yk-header-container .yk-guide {
	width: 74px; height: 100%;
}
.yk-header-container .yk-guide .dropdown {
	width: 74px; height: 100%;
}
.yk-header-container .yk-guide .handle {
	width: 54px; height: 24px; line-height: 24px; padding-top: 18px; padding-bottom: 18px;
}
.yk-header-container .yk-guide .handle i {
	margin-top: -2px; margin-right: 3px; _margin-top: 0; _vertical-align: text-bottom;
}
.yk-header-container .yk-guide .handle a {
	padding: 0px; color: rgb(85, 85, 85); line-height: 24px; display: block; cursor: default;
}
.yk-header-container .yk-guide .panel {
	padding: 10px; width: 684px;
}
.yk-header-container .yk-guide .dropdown-open .handle {
	padding-top: 17px; padding-bottom: 19px;
}
.yk-header-container .yk-guide .dropdown-open .handle .caret {
	top: 28px; right: 13px;
}
.yk-header-container .yk-guide .yk-guide-entry {
	margin-bottom: -10px; float: left;
}
.yk-header-container .yk-guide .yk-guide-entry .yk-guide-item {
	margin: 0px 0px 10px; height: 30px; white-space: nowrap;
}
.yk-header-container .yk-guide .yk-guide-entry .yk-guide-item dt {
	margin: 0px; float: left;
}
.yk-header-container .yk-guide .yk-guide-entry .yk-guide-item dd {
	margin: 0px; float: left;
}
.yk-header-container .yk-guide .yk-guide-entry .yk-guide-item label {
	padding: 0px 10px; line-height: 30px; float: left; display: block;
}
.yk-header-container .yk-guide .yk-guide-entry .yk-guide-item a {
	padding: 0px 10px; line-height: 30px; float: left; display: block;
}
.yk-header-container .yk-guide .yk-guide-entry .yk-guide-item label {
	width: 56px; color: rgb(144, 144, 144);
}
.yk-header-container .yk-guide .yk-guide-entry .yk-guide-item .current a {
	background: rgb(6, 167, 225); color: rgb(255, 255, 255);
}
.yk-header-container .yk-guide .yk-channels {
	width: 378px;
}
.yk-header-container .yk-guide .yk-services {
	width: 285px; height: 150px; padding-left: 10px; margin-left: 10px; border-left-color: rgb(228, 228, 228); border-left-width: 1px; border-left-style: dashed;
}
.yk-header-container .yk-so {
	height: 100%; float: left;
}
.yk-header-container .yk-so .yk-so-box {
	margin-top: 10px;
}
.yk-header-container .yk-ucenter {
	width: 330px; height: 100%; float: right; position: relative; z-index: 1050;
}
.yk-ucenter .yk-userlog-before .ico-user-l2 {
	margin-top: -2px; margin-right: 2px; _margin-top: 0; _vertical-align: text-bottom;
}
.yk-ucenter .yk-notifications .ico-notifications-l2 {
	margin-top: -2px; margin-right: 2px; _margin-top: 0; _vertical-align: text-bottom;
}
.yk-ucenter .yk-playrecords .ico-record-l2 {
	margin-top: -2px; margin-right: 2px; _margin-top: 0; _vertical-align: text-bottom;
}
.yk-ucenter .yk-upload .dropdown .handle .ico-upload-l2 {
	margin-top: -2px; margin-right: 2px; _margin-top: 0; _vertical-align: text-bottom;
}
.yk-ucenter .yk-upload {
	height: 100%; float: right;
}
.yk-ucenter .yk-playrecords {
	height: 100%; float: right;
}
.yk-ucenter .yk-notifications {
	height: 100%; float: right;
}
.yk-ucenter .yk-userlog {
	height: 100%; float: right;
}
.yk-ucenter .yk-upload .dropdown {
	height: 100%;
}
.yk-ucenter .yk-playrecords .dropdown {
	height: 100%;
}
.yk-ucenter .yk-notifications .dropdown {
	height: 100%;
}
.yk-ucenter .yk-userlog-after .dropdown {
	height: 100%;
}
.yk-ucenter .yk-userlog-before .dropdown {
	height: 100%;
}
.yk-ucenter .yk-upload .handle {
	padding: 18px 9px; height: 24px; line-height: 24px; font-size: 14px;
}
.yk-ucenter .yk-playrecords .handle {
	padding: 18px 9px; height: 24px; line-height: 24px; font-size: 14px;
}
.yk-ucenter .yk-notifications .handle {
	padding: 18px 9px; height: 24px; line-height: 24px; font-size: 14px;
}
.yk-ucenter .yk-userlog-after .handle {
	padding: 18px 9px; height: 24px; line-height: 24px; font-size: 14px;
}
.yk-ucenter .yk-userlog-before .handle {
	padding: 18px 9px; height: 24px; line-height: 24px; font-size: 14px;
}
.yk-ucenter .yk-upload .panel {
	width: 290px;
}
.yk-ucenter .yk-playrecords .panel {
	width: 290px;
}
.yk-ucenter .yk-notifications .panel {
	width: 290px;
}
.yk-ucenter .yk-userlog-after .panel {
	width: 290px;
}
.yk-ucenter .yk-userlog-before .panel {
	width: 290px;
}
.yk-ucenter .yk-upload .dropdown-open .handle {
	padding: 17px 8px 19px;
}
.yk-ucenter .yk-playrecords .dropdown-open .handle {
	padding: 17px 8px 19px;
}
.yk-ucenter .yk-notifications .dropdown-open .handle {
	padding: 17px 8px 19px;
}
.yk-ucenter .yk-userlog-after .dropdown-open .handle {
	padding: 17px 8px 19px;
}
.yk-ucenter .yk-userlog-before .dropdown-open .handle {
	padding: 17px 8px 19px;
}
.yk-ucenter .yk-upload {
	width: 70px;
}
.yk-ucenter .yk-notifications {
	width: 40px;
}
.yk-ucenter .yk-playrecords {
	width: 96px;
}
.yk-ucenter .yk-userlog-before {
	width: 116px;
}
.yk-ucenter .yk-userlog-after {
	width: 124px;
}
.yk-ucenter .yk-upload .dropdown {
	width: 70px; z-index: 2;
}
.yk-ucenter .yk-upload .handle {
	width: 52px;
}
.yk-ucenter .yk-upload .panel {
	left: auto; right: 0px;
}
.yk-ucenter .yk-upload .mask {
	left: auto; right: 0px;
}
.yk-ucenter .yk-notifications a {
	padding: 18px 10px; height: 24px; line-height: 24px; font-size: 14px; display: block; position: relative;
}
.yk-ucenter .yk-notifications .ico-notifications-l2 {
	margin-right: 0px;
}
.yk-ucenter .yk-notifications .yk-notifications-num {
	background: rgb(239, 63, 34); padding: 0px 4px; border-radius: 8px; left: 18px; top: 14px; height: 16px; color: rgb(255, 255, 255); line-height: 16px; font-family: arial,helvetica,verdana,tahoma,sans-serif; font-size: 12px; font-weight: bold; white-space: nowrap; position: absolute; z-index: 9; box-shadow: 0px 1px 1px #999; -webkit-border-radius: 8px; -moz-border-radius: 8px; -webkit-box-shadow: 0 1px 1px #999; -moz-box-shadow: 0 1px 1px #999;
}
.yk-ucenter .yk-playrecords .dropdown {
	width: 96px; z-index: 2;
}
.yk-ucenter .yk-playrecords .handle {
	width: 78px;
}
.yk-ucenter .yk-playrecords .panel {
	left: auto; right: -70px;
}
.yk-ucenter .yk-playrecords .mask {
	left: auto; right: -70px;
}
.yk-ucenter .yk-playrecords .yk-records {
	font-size: 12px;
}
.yk-ucenter .yk-playrecords .yk-records * {
	font-family: arial,helvetica,verdana,tahoma,sans-serif;
}
.yk-ucenter .yk-playrecords .yk-records .records-list {
	height: 315px; margin-right: -19px; position: relative; -ms-overflow-y: auto;
}
.yk-ucenter .yk-playrecords .yk-records .records-list ul {
	padding-right: 20px; margin-bottom: -7px;
}
.yk-ucenter .yk-playrecords .yk-records .records-list li {
	height: 40px; line-height: 20px; padding-bottom: 7px; margin-bottom: 7px; vertical-align: bottom; border-bottom-color: rgb(245, 245, 245); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.yk-ucenter .yk-playrecords .yk-records .records-list .r-title {
	height: 20px; overflow: hidden; margin-right: 60px; display: block;
}
.yk-ucenter .yk-playrecords .yk-records .records-list .r-stat {
	color: rgb(187, 187, 187); display: block;
}
.yk-ucenter .yk-playrecords .yk-records .records-list .r-action {
	top: 20px; right: 0px; position: absolute;
}
.yk-ucenter .yk-playrecords .yk-records .records-list .r-action a {
	color: rgb(51, 153, 224); text-decoration: none;
}
.yk-ucenter .yk-playrecords .yk-records .records-list .r-action a:hover {
	color: rgb(204, 51, 17);
}
.yk-ucenter .yk-playrecords .yk-records .records-list .r-update {
	top: 0px; right: 0px; color: rgb(144, 144, 144); position: absolute;
}
.yk-ucenter .yk-playrecords .yk-records .records-list .r-del {
	background-position: -120px -30px; top: 4px; width: 12px; height: 12px; right: 0px; display: none; position: absolute; cursor: pointer;
}
.yk-ucenter .yk-playrecords .yk-records .records-list .r-del:hover {
	background-position: -120px -48px;
}
.yk-ucenter .yk-playrecords .yk-records .records-list .hover .r-update {
	display: none;
}
.yk-ucenter .yk-playrecords .yk-records .records-list .hover .r-del {
	display: block;
}
.yk-ucenter .yk-playrecords .yk-records .records-null {
	height: 195px; text-align: center; line-height: 20px; padding-top: 120px; font-size: 12px; margin-top: 17px;
}
.yk-ucenter .yk-playrecords .yk-records .records-null span {
	color: rgb(85, 85, 85); display: block;
}
.yk-ucenter .yk-playrecords .yk-records .records-null a {
	color: rgb(51, 153, 224); text-decoration: none;
}
.yk-ucenter .yk-playrecords .yk-records .records-null a:hover {
	color: rgb(204, 51, 17);
}
.yk-ucenter .yk-playrecords .yk-records .records-action {
	background: rgb(242, 242, 242); margin: 10px -19px -19px; padding: 18px 19px; height: 20px; line-height: 20px;
}
.yk-ucenter .yk-playrecords .yk-records .records-action .append {
	font-family: "Microsoft YaHei","Ú°?äºýÙ",helvetica,arial,verdana,tahoma,sans-serif; font-size: 14px; margin-right: 20px; float: left;
}
.yk-ucenter .yk-playrecords .yk-records .records-action .extand {
	font-family: "Microsoft YaHei","Ú°?äºýÙ",helvetica,arial,verdana,tahoma,sans-serif; font-size: 14px; float: right;
}
.yk-ucenter .yk-playrecords .yk-notice {
	margin: -19px; font-family: arial,helvetica,verdana,tahoma,sans-serif; font-size: 12px;
}
.yk-ucenter .yk-playrecords .yk-notice .yk-notice-success {
	background: rgb(241, 250, 239); padding: 10px 19px; height: 20px; line-height: 20px; border-bottom-color: rgb(203, 224, 144); border-bottom-width: 1px; border-bottom-style: solid;
}
.yk-ucenter .yk-playrecords .yk-notice .yk-notice-success .ico-notice-ok {
	background-position: -120px -80px; width: 17px; height: 17px; vertical-align: middle; display: inline-block;
}
.yk-ucenter .yk-playrecords .yk-notice .yk-notice-mydrama li {
	padding: 5px 19px; height: 40px; line-height: 20px; vertical-align: bottom; position: relative; -ms-zoom: 1;
}
.yk-ucenter .yk-playrecords .yk-notice .yk-notice-mydrama .r-stat {
	color: rgb(187, 187, 187); display: block;
}
.yk-ucenter .yk-playrecords .yk-notice .yk-notice-mydrama .r-action {
	right: 19px; bottom: 5px; position: absolute;
}
.yk-ucenter .yk-playrecords .yk-notice .yk-notice-mydrama .r-action a {
	color: rgb(51, 153, 224); text-decoration: none;
}
.yk-ucenter .yk-playrecords .yk-notice .yk-notice-mydrama .r-action a:hover {
	color: rgb(204, 51, 17);
}
.yk-ucenter .yk-playrecords .yk-notice .yk-notice-mydrama .r-update {
	top: 5px; right: 19px; color: rgb(144, 144, 144); position: absolute;
}
.yk-ucenter .yk-playrecords .yk-notice .yk-notice-action a {
	background: rgb(242, 242, 242); padding: 5px 0px; height: 20px; text-align: center; line-height: 20px; display: block;
}
.yk-ucenter .yk-playrecords .yk-notice .yk-notice-action a .caret {
	margin-left: 5px;
}
.yk-ucenter .yk-userlog .yk-userlog-action {
	padding-bottom: 20px; margin-bottom: 20px; border-bottom-color: rgb(228, 228, 228); border-bottom-width: 1px; border-bottom-style: dashed;
}
.yk-ucenter .yk-userlog .yk-userlog-action h4 {
	margin: 0px 0px 15px; padding: 0px; font-family: "Microsoft YaHei","Ú°?äºýÙ",helvetica,arial,verdana,tahoma,sans-serif; font-size: 14px; font-weight: normal;
}
.yk-ucenter .yk-userlog .yk-userlog-action .btn-login {
	margin: 0px 20px 0px 0px; padding: 4px 9px; border-radius: 3px; border: 1px solid currentColor; width: 70px; height: 20px; text-align: center; line-height: 20px; font-family: "Microsoft YaHei","Ú°?äºýÙ",helvetica,arial,verdana,tahoma,sans-serif; font-size: 12px; text-decoration: none; vertical-align: middle; display: inline-block; white-space: nowrap; cursor: pointer; -moz-user-select: none; -webkit-user-select: none; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.yk-ucenter .yk-userlog .yk-userlog-action .btn-reg {
	margin: 0px 20px 0px 0px; padding: 4px 9px; border-radius: 3px; border: 1px solid currentColor; width: 70px; height: 20px; text-align: center; line-height: 20px; font-family: "Microsoft YaHei","Ú°?äºýÙ",helvetica,arial,verdana,tahoma,sans-serif; font-size: 12px; text-decoration: none; vertical-align: middle; display: inline-block; white-space: nowrap; cursor: pointer; -moz-user-select: none; -webkit-user-select: none; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.yk-ucenter .yk-userlog .yk-userlog-action .btn-login:hover {
	outline: 0px;
}
.yk-ucenter .yk-userlog .yk-userlog-action .btn-reg:hover {
	outline: 0px;
}
.yk-ucenter .yk-userlog .yk-userlog-action .btn-login:focus {
	outline: 0px;
}
.yk-ucenter .yk-userlog .yk-userlog-action .btn-reg:focus {
	outline: 0px;
}
.yk-ucenter .yk-userlog .yk-userlog-action .btn-login {
	border-color: rgb(26, 103, 203); color: rgb(255, 255, 255); background-image: linear-gradient(rgb(71, 164, 244), rgb(46, 142, 226) 5%, rgb(38, 131, 216)); background-repeat: no-repeat; background-color: rgb(44, 140, 224);
}
.yk-ucenter .yk-userlog .yk-userlog-action .btn-login:hover {
	background-image: linear-gradient(rgb(71, 164, 244), rgb(46, 142, 226) 5%, rgb(11, 114, 204)); background-repeat: no-repeat; background-color: rgb(39, 136, 222);
}
.yk-ucenter .yk-userlog .yk-userlog-action .btn-login:focus {
	background-image: linear-gradient(rgb(71, 164, 244), rgb(46, 142, 226) 5%, rgb(11, 114, 204)); background-repeat: no-repeat; background-color: rgb(39, 136, 222);
}
.yk-ucenter .yk-userlog .yk-userlog-action .btn-login:active {
	background-image: linear-gradient(rgb(71, 164, 244), rgb(46, 142, 226) 5%, rgb(45, 142, 226)); background-repeat: no-repeat; background-color: rgb(46, 142, 226);
}
.yk-ucenter .yk-userlog .yk-userlog-action .btn-reg {
	border-color: rgb(153, 153, 153); color: rgb(85, 85, 85); background-image: linear-gradient(rgb(255, 255, 255), rgb(244, 247, 249) 5%, rgb(228, 233, 240)); background-repeat: no-repeat; background-color: rgb(241, 244, 247);
}
.yk-ucenter .yk-userlog .yk-userlog-action .btn-reg:hover {
	background-image: linear-gradient(rgb(255, 255, 255), rgb(222, 231, 238) 5%, rgb(198, 211, 225)); background-repeat: no-repeat; background-color: rgb(217, 227, 235);
}
.yk-ucenter .yk-userlog .yk-userlog-action .btn-reg:focus {
	background-image: linear-gradient(rgb(255, 255, 255), rgb(222, 231, 238) 5%, rgb(198, 211, 225)); background-repeat: no-repeat; background-color: rgb(217, 227, 235);
}
.yk-ucenter .yk-userlog .yk-userlog-action .btn-reg:active {
	background-image: linear-gradient(rgb(255, 255, 255), rgb(198, 211, 225) 5%, rgb(222, 231, 238)); background-repeat: no-repeat; background-color: rgb(203, 215, 228);
}
.yk-ucenter .yk-userlog .yk-userlog-footer {
	background: rgb(242, 242, 242); margin: 20px -19px -19px; padding: 18px 19px; height: 20px; line-height: 20px;
}
.yk-ucenter .yk-userlog .yk-userlog-footer .append {
	font-family: "Microsoft YaHei","Ú°?äºýÙ",helvetica,arial,verdana,tahoma,sans-serif; font-size: 14px; margin-right: 20px; float: left;
}
.yk-ucenter .yk-userlog .yk-userlog-footer .extand {
	font-family: "Microsoft YaHei","Ú°?äºýÙ",helvetica,arial,verdana,tahoma,sans-serif; font-size: 14px; float: right;
}
.yk-ucenter .yk-userlog .yk-userlog-footer .splite {
	margin: 0px 10px; color: rgb(144, 144, 144); font-style: normal;
}
.yk-ucenter .yk-userlog-before {
	height: 100%;
}
.yk-ucenter .yk-userlog-before .dropdown {
	width: 116px; z-index: 2;
}
.yk-ucenter .yk-userlog-before .handle {
	padding: 18px 9px; width: 98px; height: 24px; line-height: 24px;
}
.yk-ucenter .yk-userlog-before .panel {
	left: auto; right: -166px;
}
.yk-ucenter .yk-userlog-before .mask {
	left: auto; right: -166px;
}
.yk-ucenter .yk-userlog-before .dropdown-open .handle {
	padding: 17px 8px 19px;
}
.yk-ucenter .yk-userlog-after {
	height: 100%;
}
.yk-ucenter .yk-userlog-after .dropdown {
	width: 124px; z-index: 2;
}
.yk-ucenter .yk-userlog-after .handle {
	padding: 15px 9px; width: 106px; height: 30px; line-height: 30px;
}
.yk-ucenter .yk-userlog-after .panel {
	left: auto; right: -206px;
}
.yk-ucenter .yk-userlog-after .mask {
	left: auto; right: -206px;
}
.yk-ucenter .yk-userlog-after .dropdown-open .handle {
	padding: 14px 8px 16px;
}
.yk-ucenter .yk-userlog-after .yk-userlog-info {
	height: 30px; text-align: center;
}
.yk-ucenter .yk-userlog-after .yk-userlog-info .yk-userlog-avatar {
	vertical-align: middle; display: inline-block;
}
.yk-ucenter .yk-userlog-after .yk-userlog-info .yk-userlog-name {
	vertical-align: middle; display: inline-block;
}
.yk-ucenter .yk-userlog-after .yk-userlog-info .yk-userlog-avatar {
	width: 30px; height: 30px; position: relative;
}
.yk-ucenter .yk-userlog-after .yk-userlog-info .yk-userlog-avatar img {
	background: rgb(153, 153, 153); width: 30px; height: 30px; margin-right: 5px; display: block;
}
.yk-ucenter .yk-userlog-after .yk-userlog-info .yk-userlog-name {
	height: 30px; line-height: 30px; overflow: hidden; font-size: 14px; vertical-align: middle; white-space: nowrap; max-width: 70px;
}
.yk-ucenter .yk-userlog-after .yk-userlog-info .yk-userlog-ico {
	left: 15px; top: 15px; width: 20px; height: 20px; overflow: hidden; position: absolute;
}
.yk-ucenter .yk-userlog-after .yk-userlog-info .yk-userlog-ico img {
	background: 0px; width: 20px; height: 20px;
}
.yk-ucenter .yk-userservices-list {
	margin-bottom: -10px;
}
.yk-ucenter .yk-userservices-list::before {
	line-height: 0; display: table; content: "";
}
.yk-ucenter .yk-userservices-list::after {
	line-height: 0; display: table; content: "";
}
.yk-ucenter .yk-userservices-list::after {
	clear: both;
}
.yk-ucenter .yk-userservices-list li {
	width: 100px; line-height: 20px; padding-left: 30px; font-size: 14px; margin-bottom: 10px; float: left; position: relative; -ms-zoom: 1;
}
.yk-ucenter .yk-userservices-list li span {
	color: rgb(255, 102, 0);
}
.yk-ucenter .yk-userservices-list li i {
	left: 3px; top: 0px; position: absolute; _top: -2px;
}
.yk-ucenter .yk-userservices-list-topborder {
	padding-top: 20px; margin-top: 20px; border-top-color: rgb(228, 228, 228); border-top-width: 1px; border-top-style: dashed;
}
.yk-ucenter .yk-msgbox {
	border: 1px solid rgb(236, 221, 160); left: 0px; top: 60px; width: 328px; position: absolute; z-index: 1; background-color: rgb(255, 255, 229);
}
.yk-ucenter .yk-msgbox .handle {
	padding: 4px; top: 8px; width: 8px; height: 8px; right: 8px; position: absolute; z-index: 1; cursor: pointer;
}
.yk-ucenter .yk-msgbox .handle i {
	width: 8px; height: 8px; overflow: hidden; display: block;
}
.yk-ucenter .yk-msgbox .content {
	padding: 0px 32px 0px 10px;
}
.yk-ucenter .yk-msgbox .videomsg {
	padding: 6px 0px; line-height: 20px;
}
.yk-ucenter .yk-msgbox .msglist {
	padding: 6px 0px; line-height: 20px;
}
.yk-ucenter .yk-msgbox .watchmsg {
	padding: 6px 0px; line-height: 20px;
}
.yk-ucenter .yk-msgbox .updatemsg {
	padding: 6px 0px; line-height: 20px;
}
.yk-ucenter .yk-msgbox .videomsg b {
	color: rgb(255, 102, 0); font-weight: normal;
}
.yk-ucenter .yk-msgbox .msglist b {
	color: rgb(255, 102, 0); font-weight: normal;
}
.yk-ucenter .yk-msgbox .watchmsg b {
	color: rgb(255, 102, 0); font-weight: normal;
}
.yk-ucenter .yk-msgbox .updatemsg b {
	color: rgb(255, 102, 0); font-weight: normal;
}
.yk-ucenter .yk-msgbox .videomsg {
	padding-left: 25px; border-bottom-color: rgb(223, 223, 223); border-bottom-width: 1px; border-bottom-style: dotted; position: relative; -ms-zoom: 1;
}
.yk-ucenter .yk-msgbox .videomsg .hint {
	left: 0px; top: 8px; width: 16px; height: 16px; position: absolute;
}
.yk-ucenter .yk-msgbox .videomsg .hint i {
	width: 16px; height: 16px; text-indent: -9999px; display: block;
}
.yk-ucenter .yk-msgbox .videomsg .ico-new {
	
}
.yk-ucenter .yk-msgbox .videomsg .ico-success {
	background-position: -30px 0px;
}
.yk-ucenter .yk-msgbox .videomsg .ico-notice {
	background-position: -60px 0px;
}
.yk-ucenter .yk-msgbox .watchmsg {
	height: 20px;
}
.yk-ucenter .yk-msgbox .watchmsg .info {
	color: rgb(144, 144, 144); float: left;
}
.yk-ucenter .yk-msgbox .watchmsg .action {
	float: right;
}
.yk-ucenter .yk-msgbox .updatemsg {
	height: 40px; position: relative; -ms-zoom: 1;
}
.yk-ucenter .yk-msgbox .updatemsg .updateinfo {
	display: block;
}
.yk-ucenter .yk-msgbox .updatemsg .status {
	color: rgb(144, 144, 144); display: block;
}
.yk-ucenter .yk-msgbox .updatemsg .action {
	right: 0px; bottom: 6px; position: absolute;
}
.yk-ucenter .yk-msgbox .break {
	margin: 0px 4px; color: rgb(187, 187, 187); font-style: normal;
}
.yk-ucenter .yk-msgbox .flink {
	color: rgb(51, 153, 224);
}
.yk-ucenter .yk-msgbox .flink:hover {
	color: rgb(204, 51, 17);
}
.yk-header .yk-so-box {
	width: 320px; height: 40px; position: relative; z-index: 1100;
}
.yk-header .yk-so-box input {
	background: rgb(255, 255, 255); border-width: 2px 0px 2px 2px; border-style: solid none solid solid; border-color: rgb(160, 160, 160) currentColor rgb(160, 160, 160) rgb(160, 160, 160); margin: 0px; padding: 8px; outline: 0px; width: 212px; height: 20px; color: rgb(85, 85, 85); line-height: 20px; font-family: arial,helvetica,verdana,tahoma,sans-serif; font-size: 14px; vertical-align: middle; float: left;
}
.yk-header .yk-so-box .input-default {
	color: rgb(187, 187, 187);
}
.yk-header .yk-so-box input:focus {
	border-color: rgb(62, 171, 255); box-shadow: 0px 0px 1px #91bbd9, inset 1px 1px 2px #e5e5e5; -webkit-box-shadow: 0 0 1px #91bbd9, inset 1px 1px 2px #e5e5e5; -moz-box-shadow: 0 0 1px #91bbd9, inset 1px 1px 2px #e5e5e5;
}
.yk-header .yk-so-box button {
	background-position: 0px -160px; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; top: 0px; width: 90px; height: 40px; right: 0px; overflow: hidden; position: absolute; cursor: pointer;
}
.yk-header .yk-so-box button em {
	display: none;
}
.kubox {
	background: rgb(255, 255, 255); padding: 4px; border: 2px solid rgb(62, 171, 255); left: 0px; top: 39px; width: 438px; overflow: visible; position: absolute;
}
.kubox iframe {
	opacity: 0;
}
.kubox .main {
	margin: 0px; padding: 0px; width: 438px; position: relative;
}
.kubox .autolist {
	background: rgb(255, 255, 255); width: 258px; margin-bottom: -1px; float: left;
}
.kubox .autolist li {
	height: 29px; color: rgb(102, 102, 102); line-height: 29px; overflow: hidden; padding-left: 5px; font-size: 14px; margin-top: -1px; vertical-align: middle; border-top-color: rgb(238, 238, 238); border-right-color: rgb(238, 238, 238); border-bottom-color: rgb(238, 238, 238); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; position: relative; cursor: pointer;
}
.kubox .autolist li.current {
	border-right-color: rgb(243, 243, 243); border-right-width: 1px; border-right-style: solid; background-color: rgb(243, 243, 243);
}
.kubox .autolist li b {
	color: rgb(0, 0, 0); font-size: 14px;
}
.kubox .autolist li i {
	color: rgb(0, 0, 0); font-size: 14px; font-style: normal; margin-left: 5px;
}
.kubox .autolist li .expand {
	top: 9px; width: 6px; height: 12px; right: 4px; text-indent: 2em; overflow: hidden; display: block; position: absolute;
}
.kubox .autolist li .goplay {
	top: 6px; width: 16px; height: 16px; right: 4px; overflow: hidden; display: block; position: absolute;
}
.kubox .autolist li .goplay em {
	display: none;
}
.kubox .autolist .kubox-records {
	top: 1px; right: 5px; color: rgb(144, 144, 144); font-size: 12px; position: absolute; _top: -1px; _vertical-align: baseline;
}
.kubox .autolist a {
	color: rgb(144, 144, 144); display: block;
}
.kubox .autolist a:hover {
	text-decoration: none;
}
.kubox .panels {
	background: rgb(243, 243, 243); top: -1px; margin-left: 258px; position: relative;
}
.kubox .panels .actorinfo {
	color: rgb(144, 144, 144);
}
.kubox .panel {
	display: none;
}
.kubox .panel .item .thumb {
	margin-right: 10px; float: left;
}
.kubox .panel .item .thumb {
	background: rgb(153, 153, 153); width: 70px; height: 105px;
}
.kubox .panel .item .thumb img {
	width: 70px; height: 105px; display: block;
}
.kubox .panel .item {
	padding: 10px; overflow: hidden; -ms-zoom: 1;
}
.kubox .panel .item i {
	font-size: 12px; font-style: normal; margin-left: 2px;
}
.kubox .panel .item .title {
	height: 22px; color: rgb(0, 0, 0); line-height: 22px; overflow: hidden; font-size: 14px;
}
.kubox .panel .item .pub {
	height: 22px; color: rgb(144, 144, 144); line-height: 22px; overflow: hidden;
}
.kubox .panel .item .actor {
	height: 22px; color: rgb(144, 144, 144); line-height: 22px; overflow: hidden;
}
.kubox .panel .item .play {
	margin-top: 5px;
}
.kubox .panel .item .goplay {
	margin-top: 5px;
}
.kubox .panel .item .period {
	height: 22px; color: rgb(144, 144, 144); line-height: 22px; overflow: hidden;
}
.kubox .panel .item .records {
	height: 22px; color: rgb(255, 102, 102); line-height: 22px; overflow: hidden;
}
.kubox .panel .item .title {
	color: rgb(0, 0, 0); font-size: 14px; font-weight: bold;
}
.kubox .panel .item .title a {
	color: rgb(0, 0, 0); font-size: 14px; font-weight: bold;
}
.kubox .panel .item .play a {
	width: 53px; height: 24px; overflow: hidden; display: block;
}
.kubox .panel .current {
	background: rgb(194, 223, 246);
}
.kubox .panel .item .play em {
	display: none;
}
.kubox .panel .item .goplay a {
	width: 65px; height: 24px; overflow: hidden; display: block;
}
.kubox .panel .item .goplay em {
	display: none;
}
.yk-header .kubox * {
	font-family: arial,helvetica,verdana,tahoma,sans-serif;
}
.yk-header .kubox {
	padding: 3px; top: 38px; width: 440px; overflow: visible; display: none;
}
.yk-header .kubox iframe {
	left: -2px; top: -2px; position: absolute; z-index: -1; opacity: 0;
}
.yk-header .kubox .main {
	width: 440px;
}
.yk-header .kubox .autolist {
	position: static;
}
.yk-header .kubox .panels {
	border: 0px currentColor; width: auto; height: auto; position: static;
}
.yk-header .kubox .panel {
	background: 0px; width: auto; height: auto; position: static;
}
.yk-header .kubox .panel .thumb {
	position: static;
}
.yk-header .kubox .panel .item {
	width: auto; height: auto;
}
.yk-header .kubox .panel .item .play {
	height: auto;
}
.yk-header .kubox .panel .item .goplay {
	height: auto;
}
.yk-header .kubox .autolist li .expand {
	background: url("/index/img/header/header.png") no-repeat 0px -237px;
}
.yk-header .kubox .autolist li .goplay {
	background: url("/index/img/header/header.png") no-repeat -64px -205px;
}
.yk-header .kubox .panel .item .play a {
	background: url("/index/img/header/header.png") no-repeat 0px -205px;
}
.yk-header .kubox .panel .item .goplay a {
	background: url("/index/img/header/header.png") no-repeat -64px -205px;
}
.yk-nav * {
	font-family: "Microsoft YaHei","Ú°?äºýÙ",helvetica,arial,verdana,tahoma,sans-serif;
}
.yk-nav .yk-box {
	background: rgb(255, 255, 255); margin: 0px auto; padding: 0px 10px; width: 970px; position: static;
}
.yk-nav .yk-nav-first {
	border-bottom-color: rgb(230, 230, 230); border-bottom-width: 3px; border-bottom-style: solid;
}
.yk-nav .yk-nav-first::before {
	line-height: 0; display: table; content: "";
}
.yk-nav .yk-nav-first::after {
	line-height: 0; display: table; content: "";
}
.yk-nav .yk-nav-first::after {
	clear: both;
}
.yk-nav .yk-nav-pills {
	list-style: none; margin: 0px; padding: 0px; font-family: "Microsoft YaHei","Ú°?äºýÙ",helvetica,arial,verdana,tahoma,sans-serif;
}
.yk-nav .yk-nav-pills-sub {
	list-style: none; margin: 0px; padding: 0px; font-family: "Microsoft YaHei","Ú°?äºýÙ",helvetica,arial,verdana,tahoma,sans-serif;
}
.yk-nav .yk-nav-pills::before {
	line-height: 0; display: table; content: "";
}
.yk-nav .yk-nav-pills-sub::before {
	line-height: 0; display: table; content: "";
}
.yk-nav .yk-nav-pills::after {
	line-height: 0; display: table; content: "";
}
.yk-nav .yk-nav-pills-sub::after {
	line-height: 0; display: table; content: "";
}
.yk-nav .yk-nav-pills::after {
	clear: both;
}
.yk-nav .yk-nav-pills-sub::after {
	clear: both;
}
.yk-nav .yk-nav-pills li {
	top: 3px; line-height: 20px; margin-right: 20px; float: left; white-space: nowrap; position: relative;
}
.yk-nav .yk-nav-pills-sub li {
	top: 3px; line-height: 20px; margin-right: 20px; float: left; white-space: nowrap; position: relative;
}
.yk-nav .yk-nav-pills li a {
	padding: 8px 0px; font-size: 16px; display: block;
}
.yk-nav .yk-nav-pills-sub li a {
	padding: 8px 0px; font-size: 16px; display: block;
}
.yk-nav .yk-nav-pills li.current a {
	color: rgb(51, 153, 224); text-decoration: none; border-bottom-color: rgb(6, 167, 225); border-bottom-width: 3px; border-bottom-style: solid;
}
.yk-nav .yk-nav-pills-sub li.current a {
	color: rgb(51, 153, 224); text-decoration: none; border-bottom-color: rgb(6, 167, 225); border-bottom-width: 3px; border-bottom-style: solid;
}
.yk-nav .yk-nav-pills a.current {
	color: rgb(51, 153, 224); text-decoration: none; border-bottom-color: rgb(6, 167, 225); border-bottom-width: 3px; border-bottom-style: solid;
}
.yk-nav .yk-nav-pills-sub a.current {
	color: rgb(51, 153, 224); text-decoration: none; border-bottom-color: rgb(6, 167, 225); border-bottom-width: 3px; border-bottom-style: solid;
}
.yk-nav .yk-nav-pills li.current a:hover {
	color: rgb(204, 51, 17);
}
.yk-nav .yk-nav-pills-sub li.current a:hover {
	color: rgb(204, 51, 17);
}
.yk-nav .yk-nav-pills a.current:hover {
	color: rgb(204, 51, 17);
}
.yk-nav .yk-nav-pills-sub a.current:hover {
	color: rgb(204, 51, 17);
}
.yk-nav .yk-nav-pills-sub .splite {
	margin: 0px 4px; padding: 7px 0px; font-size: 12px; float: left;
}
.yk-nav .yk-nav-pills-sub li a {
	padding: 7px 0px; font-size: 14px; float: left;
}
.yk-nav .yk-nav-pills-sub .dropdown {
	float: left; _width: 1%;
}
.yk-nav .yk-nav-pills-sub .dropdown .handle {
	padding: 0px 13px 0px 0px; left: 0px; top: 0px; height: 34px; position: relative;
}
.yk-nav .yk-nav-pills-sub .dropdown .handle a {
	float: none;
}
.yk-nav .yk-nav-pills-sub .dropdown .handle .caret {
	top: 16px; right: 1px; position: absolute; _top: 14px;
}
.yk-nav .yk-nav-pills-sub .dropdown .panel {
	padding: 9px 14px; width: 46px; z-index: 4;
}
.yk-nav .yk-nav-pills-sub .dropdown .panel {
	left: 50%; top: 34px; margin-left: -38px;
}
.yk-nav .yk-nav-pills-sub .dropdown .mask {
	left: 50%; top: 34px; margin-left: -38px;
}
.yk-nav .yk-nav-pills-sub .dropdown-open .handle {
	background: 0px; border: 0px currentColor;
}
.yk-nav .yk-nav-pills-sub .yk-nav-dropmenus li {
	margin: 0px 0px 10px; padding: 0px; height: 20px; text-align: center; line-height: 20px; vertical-align: bottom; float: none; display: block;
}
.yk-nav .yk-nav-pills-sub .yk-nav-dropmenus li a {
	padding: 0px; float: none; white-space: nowrap;
}
.yk-nav .yk-nav-pills-sub .yk-nav-dropmenus li.current a {
	color: rgb(51, 153, 224); text-decoration: none; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.yk-nav .yk-nav-pills-sub .yk-nav-dropmenus li.current a:hover {
	color: rgb(204, 51, 17);
}
.yk-nav .yk-nav-main {
	padding-top: 6px; float: left;
}
.yk-nav .yk-nav-main .yk-nav-pills {
	width: 328px; margin-right: 8px; float: left; _margin-right: -14px;
}
.yk-nav .yk-nav-main .yk-nav-pills li {
	height: 39px;
}
.yk-nav .yk-nav-main .yk-nav-pills-sub {
	width: 450px; margin-top: 2px; float: left;
}
.yk-nav .yk-nav-main .yk-nav-pills-sub li {
	z-index: 5;
}
.yk-nav .yk-nav-main .yk-nav-pills-sub-all {
	width: 680px;
}
.yk-nav .yk-nav-main .yk-nav-pills-sub-all li {
	margin-right: 10px;
}
.yk-nav .yk-nav-side {
	width: 172px; padding-top: 6px; float: right;
}
.yk-nav .yk-nav-side .yk-nav-pills-sub {
	margin-top: 2px; float: right;
}
.yk-nav .yk-nav-side .yk-nav-pills-sub li {
	margin-right: 0px; margin-left: 10px; float: right;
}
.yk-nav .yk-nav-second .yk-nav-pills-sub li {
	top: 0px;
}
.yk-nav .yk-nav-second .yk-nav-pills-sub li a {
	padding-bottom: 0px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
body.yk-w1190 .yk-header .yk-box {
	width: 1190px;
}
body.yk-w1190 .yk-nav .yk-box {
	width: 1190px;
}
body.yk-w1190 .yk-header .yk-so-box {
	width: 540px;
}
body.yk-w1190 .yk-header .yk-so-box input {
	width: 432px;
}
body.yk-w1190 .w970-show {
	display: none;
}
body.yk-w1190 .w1190-show {
	display: block;
}
