<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.w3.org/ns/widgets" xmlns:sec="http://samsungapps.com/ns/widgets" version="2.0 Beta" viewmodes="fullscreen" id="http://yourdomain/TestProject" width="320" height="480">  
	<icon src="icon.png"/>  
	<content src="index.html"/>  
	<name>TestProject</name>  
	<device-width src="338"/>  
	<device-height src="480"/>  
	<feature name="http://samsungapps.com/api/webapis" required="false"/>  
	<feature name="http://samsungapps.com/api/nfc.common" required="false"/>     
	<feature name="http://samsungapps.com/api/nfc.admin" required="false"/>     
	<feature name="http://samsungapps.com/api/nfc.tag" required="false"/>     
	<feature name="http://samsungapps.com/api/nfc.p2p" required="false"/>  
	<feature name="http://samsungapps.com/api/systeminfo" required="false"/>  
	<feature name="http://samsungapps.com/api/application" required="false"/>  
	<feature name="http://samsungapps.com/api/application.launch" required="false"/>  
	<feature name="http://samsungapps.com/api/application.kill" required="false"/>  
	<feature name="http://samsungapps.com/api/application.read" required="false"/>  
	<feature name="http://samsungapps.com/api/network" required="false"/>  
	<feature name="http://samsungapps.com/api/power" required="false"/> 
</widget>
