<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.samsung.SystemTest" android:versionCode="1" android:versionName="1.0">
  <android:uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17" />
  <application android:hardwareAccelerated="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name">
    <uses-library android:name="com.google.android.maps" android:required="false" />
    <activity android:name="SystemTest" android:label="@string/app_name" android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="android.samsung.webapis.nfc.WebApisNFCBeamActivity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <!--
            intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/android.samsung.wrtwidget" />
            </intent-filter



            -->
    </activity>
    <activity android:name="android.samsung.webapis.nfc.WebApisNFCManagerActivity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <!-- <activity android:name="android.samsung.webapis.WebApisNFCManagerActivity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.samsung.webapis.ACTION_TAG_DISCOVERED" />
        <action android:name="android.samsung.webapis.ACTION_NDEF_DISCOVERED" />
        <action android:name="android.samsung.webapis.ACTION_TECH_DISCOVERED" />
      </intent-filter>
    </activity> -->
    <activity android:name="android.samsung.webapis.WebApissendNDEFIntentActivity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:name="android.samsung.wrtwidgets.activity.WebApisLaunchServiceActivity" android:configChanges="orientation|keyboardHidden|screenSize" android:label="@string/app_name" android:launchMode="singleTop" android:multiprocess="true" android:theme="@android:style/Theme.NoDisplay">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
  </application>
  
  <uses-permission android:name="android.permission.GET_TASKS" />
  <uses-permission android:name="android.permission.NFC" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />  
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />  
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />    
  
  <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">
    <group gid="sdcard_rw" />
  </permission>
</manifest>

