HTML {
	FONT-SIZE: 12px; FONT-FAMILY: '±¼¸²', Gulim, Baekmuk Gulim, Undotum, Apple Gothic, Latin font, sans-serif; COLOR: #666666; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
BODY {
	FONT-SIZE: 12px; FONT-FAMILY: '±¼¸²', Gulim, Baekmuk Gulim, Undotum, Apple Gothic, Latin font, sans-serif; COLOR: #666666; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
BODY {
	BACKGROUND: url(/images/common/body_bg.gif) repeat-x left top
}
TABLE {
	FONT-SIZE: 12px; COLOR: #7b7b7b; PADDING-BOTTOM: 0px; TEXT-ALIGN: justify; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 16px; PADDING-RIGHT: 0px
}
TH {
	FONT-SIZE: 12px; COLOR: #7b7b7b; PADDING-BOTTOM: 0px; TEXT-ALIGN: justify; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 16px; PADDING-RIGHT: 0px
}
TD {
	FONT-SIZE: 12px; COLOR: #7b7b7b; PADDING-BOTTOM: 0px; TEXT-ALIGN: justify; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 16px; PADDING-RIGHT: 0px
}
DIV {
	FONT-SIZE: 12px; FONT-FAMILY: '±¼¸²', Gulim, Baekmuk Gulim, Undotum, Apple Gothic, Latin font, sans-serif; COLOR: #666666; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
FORM {
	FONT-SIZE: 12px; FONT-FAMILY: '±¼¸²', Gulim, Baekmuk Gulim, Undotum, Apple Gothic, Latin font, sans-serif; COLOR: #666666; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TABLE {
	BORDER-COLLAPSE: collapse
}
CAPTION {
	DISPLAY: none
}
A {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; COLOR: #666666; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 0px; TEXT-DECORATION: none; MARGIN: 0px; PADDING-RIGHT: 0px
}
A:link {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; COLOR: #666666; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 0px; TEXT-DECORATION: none; MARGIN: 0px; PADDING-RIGHT: 0px
}
A:visited {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; COLOR: #666666; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 0px; TEXT-DECORATION: none; MARGIN: 0px; PADDING-RIGHT: 0px
}
A:active {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; COLOR: #666666; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 0px; TEXT-DECORATION: none; MARGIN: 0px; PADDING-RIGHT: 0px
}
A:hover {
	COLOR: #227eb8; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; TEXT-DECORATION: none; MARGIN: 0px; PADDING-RIGHT: 0px
}
SELECT {
	BORDER-TOP: #d2d2d2 1px solid; FONT-FAMILY: '±¼¸²', Gulim, Baekmuk Gulim, Undotum, Apple Gothic, Latin font, sans-serif; BORDER-RIGHT: #d2d2d2 1px solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #d2d2d2 1px solid; COLOR: #666666; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-LEFT: #d2d2d2 1px solid; PADDING-RIGHT: 0px
}
INPUT {
	BORDER-TOP: #d2d2d2 1px solid; FONT-FAMILY: '±¼¸²', Gulim, Baekmuk Gulim, Undotum, Apple Gothic, Latin font, sans-serif; BORDER-RIGHT: #d2d2d2 1px solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #d2d2d2 1px solid; COLOR: #666666; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-LEFT: #d2d2d2 1px solid; PADDING-RIGHT: 0px
}
TEXTAREA {
	BORDER-TOP: #d2d2d2 1px solid; FONT-FAMILY: '±¼¸²', Gulim, Baekmuk Gulim, Undotum, Apple Gothic, Latin font, sans-serif; BORDER-RIGHT: #d2d2d2 1px solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #d2d2d2 1px solid; COLOR: #666666; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-LEFT: #d2d2d2 1px solid; PADDING-RIGHT: 0px
}
SELECT {
	FONT-SIZE: 11px
}
LEGEND {
	DISPLAY: none
}
FIELDSET {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
INPUT {
	BORDER-TOP: #d2d2d2 1px solid; FONT-FAMILY: '±¼¸²', Gulim, Baekmuk Gulim, Undotum, Apple Gothic, Latin font, sans-serif; BORDER-RIGHT: #d2d2d2 1px solid; BORDER-BOTTOM: #d2d2d2 1px solid; PADDING-BOTTOM: 1px; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-LEFT: #d2d2d2 1px solid; PADDING-RIGHT: 0px
}
INPUT.radio {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
UL {
	LIST-STYLE-TYPE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
LI {
	LIST-STYLE-TYPE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
OL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 1px; MARGIN: 0px 0px 0px 13px; PADDING-RIGHT: 0px
}
OL LI {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 1px; MARGIN: 0px 0px 0px 13px; PADDING-RIGHT: 0px
}
DL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DT {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DD {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
HR {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; DISPLAY: none; PADDING-RIGHT: 0px
}
SPAN {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 18px; PADDING-RIGHT: 0px
}
P {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 18px; PADDING-RIGHT: 0px
}
H1 {
	FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H2 {
	FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H3 {
	FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H4 {
	FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H5 {
	FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H6 {
	FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
EM {
	FONT-FAMILY: '±¼¸²', Gulim, Baekmuk Gulim, Undotum, Apple Gothic, Latin font, sans-serif; COLOR: #666666; PADDING-BOTTOM: 0px; FONT-STYLE: normal; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
OBJECT {
	OUTLINE-STYLE: none
}
.Auto-clear {
	CLEAR: both
}
.Auto-clearSelf:after {
	HEIGHT: 0px; CONTENT: "."; CLEAR: both; DISPLAY: block; VISIBILITY: hidden
}
.Auto-clearSelf {
	DISPLAY: inline-block
}
.Auto-hideLabel {
	POSITION: absolute; LEFT: -5000px; WIDTH: 0px
}
#skipToContent {
	POSITION: relative
}
#skipToContent A {
	OVERFLOW: hidden; MARGIN-BOTTOM: -1px; HEIGHT: 1px; WHITE-SPACE: nowrap; COLOR: #000; TEXT-ALIGN: center; DISPLAY: block; WIDTH: 1px
}
#skipToContent A:focus {
	BORDER-TOP: #5182ac 3px solid; HEIGHT: auto; BORDER-RIGHT: #5182ac 3px solid; BORDER-BOTTOM: #5182ac 3px solid; POSITION: absolute; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; LEFT: 100px; BORDER-LEFT: #5182ac 3px solid; TOP: 0px; PADDING-RIGHT: 5px; WIDTH: 200px
}
#skipToContent A:active {
	BORDER-TOP: #5182ac 3px solid; HEIGHT: auto; BORDER-RIGHT: #5182ac 3px solid; BORDER-BOTTOM: #5182ac 3px solid; POSITION: absolute; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; LEFT: 100px; BORDER-LEFT: #5182ac 3px solid; TOP: 0px; PADDING-RIGHT: 5px; WIDTH: 200px
}
#quick {
	BACKGROUND: url(/images/common/bg_quick02.gif) no-repeat left bottom; POSITION: absolute; ZOOM: 1; MARGIN-LEFT: 460px; LEFT: 50%; TOP: 143px; WIDTH: 89px
}
#quick UL {
	BACKGROUND: url(/images/common/bg_quick01.gif) no-repeat left top; ZOOM: 1; PADDING-BOTTOM: 22px; PADDING-TOP: 23px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
#quick UL LI {
	HEIGHT: 13px; BACKGROUND: url(/images/common/quick_line.gif) no-repeat left top; ZOOM: 1; PADDING-TOP: 5px; PADDING-LEFT: 2px
}
#quick UL LI IMG {
	VERTICAL-ALIGN: top
}
#quick UL LI.first {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#quick UL LI.top {
	BACKGROUND: none transparent scroll repeat 0% 0%; TEXT-ALIGN: center; PADDING-TOP: 7px
}
.dis_block {
	DISPLAY: block
}
.dis_inblock {
	DISPLAY: inline-block
}
.pl {
	LINE-HEIGHT: 18px
}
.font11 {
	FONT-SIZE: 11px
}
.al_r {
	TEXT-ALIGN: right
}
.al_l {
	TEXT-ALIGN: left
}
.al_c {
	TEXT-ALIGN: center
}
.al_j {
	TEXT-ALIGN: justify
}
.clear {
	CLEAR: both
}
.label_no {
	DISPLAY: none
}
.tp_1 {
	PADDING-TOP: 1px
}
.tp_2 {
	PADDING-TOP: 2px
}
.tp_3 {
	PADDING-TOP: 3px
}
.tp_4 {
	PADDING-TOP: 4px
}
.tp_5 {
	PADDING-TOP: 5px
}
.tp_6 {
	PADDING-TOP: 6px
}
.tp_7 {
	PADDING-TOP: 7px
}
.tp_8 {
	PADDING-TOP: 8px
}
.tp_9 {
	PADDING-TOP: 9px
}
.tp_10 {
	PADDING-TOP: 10px
}
.tp_11 {
	PADDING-TOP: 11px
}
.tp_12 {
	PADDING-TOP: 12px
}
.tp_13 {
	PADDING-TOP: 13px
}
.tp_14 {
	PADDING-TOP: 14px
}
.tp_15 {
	PADDING-TOP: 15px
}
.tp_16 {
	PADDING-TOP: 16px
}
.tp_17 {
	PADDING-TOP: 17px
}
.tp_18 {
	PADDING-TOP: 18px
}
.tp_27 {
	PADDING-TOP: 27px
}
.tp_20 {
	PADDING-TOP: 20px
}
.tp_30 {
	PADDING-TOP: 30px
}
.tp_35 {
	PADDING-TOP: 35px
}
.tp_40 {
	PADDING-TOP: 40px
}
.tp_43 {
	PADDING-TOP: 43px
}
.tp_60 {
	PADDING-TOP: 60px
}
.bp_6 {
	PADDING-BOTTOM: 6px
}
.bp_15 {
	PADDING-BOTTOM: 15px
}
.lp_1 {
	PADDING-LEFT: 1px
}
.lp_2 {
	PADDING-LEFT: 2px
}
.lp_3 {
	PADDING-LEFT: 3px
}
.lp_4 {
	PADDING-LEFT: 4px
}
.lp_5 {
	PADDING-LEFT: 5px
}
.lp_6 {
	PADDING-LEFT: 6px
}
.lp_7 {
	PADDING-LEFT: 7px
}
.lp_8 {
	PADDING-LEFT: 8px
}
.lp_9 {
	PADDING-LEFT: 9px
}
.lp_10 {
	PADDING-LEFT: 10px
}
.lp_20 {
	PADDING-LEFT: 20px
}
.lp_22 {
	PADDING-LEFT: 22px
}
.lp_25 {
	PADDING-LEFT: 25px
}
.rp_7 {
	PADDING-RIGHT: 7px
}
.rp_10 {
	PADDING-RIGHT: 10px
}
.tm_1 {
	MARGIN-TOP: 1px
}
.tm_2 {
	MARGIN-TOP: 2px
}
.tm_3 {
	MARGIN-TOP: 3px
}
.tm_4 {
	MARGIN-TOP: 4px
}
.tm_5 {
	MARGIN-TOP: 5px
}
.tm_6 {
	MARGIN-TOP: 6px
}
.tm_7 {
	MARGIN-TOP: 7px
}
.tm_8 {
	MARGIN-TOP: 8px
}
.tm_9 {
	MARGIN-TOP: 9px
}
.tm_10 {
	MARGIN-TOP: 10px
}
.tm_15 {
	MARGIN-TOP: 15px
}
.tm_23 {
	MARGIN-TOP: 23px
}
.tm_25 {
	MARGIN-TOP: 25px
}
.tm_30 {
	MARGIN-TOP: 30px
}
.tm_37 {
	MARGIN-TOP: 37px
}
.tm_39 {
	MARGIN-TOP: 39px
}
.tm_40 {
	MARGIN-TOP: 40px
}
.lm_2 {
	MARGIN-LEFT: 2px
}
.lm_7 {
	MARGIN-LEFT: 7px
}
.lm_10 {
	MARGIN-LEFT: 10px
}
.lm_17 {
	MARGIN-LEFT: 17px
}
.lm_20 {
	MARGIN-LEFT: 20px
}
.lm_22 {
	MARGIN-LEFT: 22px
}
.lm_23 {
	MARGIN-LEFT: 23px
}
.lm_24 {
	MARGIN-LEFT: 24px
}
.lm_25 {
	MARGIN-LEFT: 25px
}
.mgb15 {
	MARGIN-BOTTOM: 15px
}
.ft_s11 {
	FONT-SIZE: 11px
}
#wrap {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 906px
}
#header H1 {
	POSITION: absolute; LEFT: 11px; TOP: 32px
}
#header .t_login {
	OVERFLOW: hidden; RIGHT: 37px; POSITION: absolute; TOP: 9px
}
#header .t_login LI {
	BACKGROUND: url(/images/common/dot_utility.gif) no-repeat right 2px; FLOAT: left; PADDING-RIGHT: 10px; MARGIN-RIGHT: 10px
}
#header .t_login LI.last {
	BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
#header .gnb {
	HEIGHT: 96px; POSITION: relative; LEFT: 162px; Z-INDEX: 100; TOP: 37px; WIDTH: 745px
}
#header .gnb .gnb_menu {
	HEIGHT: 40px; POSITION: relative; LEFT: 0px; TOP: 0px; WIDTH: 100%
}
#header .gnb .gnb_menu LI {
	FLOAT: left
}
#header .gnb .gnb_menu LI .gnb_sub {
	BACKGROUND: url(/images/common/gnb_n_arr.gif) no-repeat 22px 10px; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 22px; PADDING-LEFT: 0px; LEFT: 5px; DISPLAY: none; TOP: 32px; PADDING-RIGHT: 11px
}
#header .gnb .gnb_menu LI UL {
	ZOOM: 1; PADDING-BOTTOM: 10px; PADDING-TOP: 0px; PADDING-LEFT: 0px; DISPLAY: inline-block; PADDING-RIGHT: 11px
}
#header .gnb .gnb_menu LI .private {
	LEFT: 188px; WIDTH: 238px
}
#header .gnb .gnb_menu LI .biz {
	LEFT: 346px; WIDTH: 240px
}
#header .gnb .gnb_menu LI .customer {
	LEFT: 508px; WIDTH: 111px
}
#header .gnb .gnb_menu LI .avg {
	LEFT: 664px; WIDTH: 111px
}
#header .gnb .gnb_menu LI .private UL {
	BACKGROUND: url(/images/common/gnb_n2_sbg.png) no-repeat 0px 0px
}
#header .gnb .gnb_menu LI .biz UL {
	BACKGROUND: url(/images/common/gnb_n3_sbg.png) no-repeat 0px 0px
}
#header .gnb .gnb_menu LI .customer UL {
	BACKGROUND: url(/images/common/gnb_n4_sbg.png) no-repeat 0px 0px
}
#header .gnb .gnb_menu LI .avg UL {
	BACKGROUND: url(/images/common/gnb_n5_sbg.png) no-repeat 0px 0px
}
#header .gnb .gnb_menu LI UL LI {
	FLOAT: none
}
#header .gnb .gnb_menu LI UL LI A {
	DISPLAY: block
}
#header .gnb .gnb_menu LI IMG {
	VERTICAL-ALIGN: top
}
#header .gnb .view {
	DISPLAY: block
}
#header .gnb .viewN {
	DISPLAY: none
}
#contaner {
	
}
#lnb {
	BACKGROUND: url(/images/common/bg_lnb_top.gif) no-repeat left top; FLOAT: left; PADDING-TOP: 10px; MARGIN-TOP: 45px; WIDTH: 215px
}
#lnb .h1_type {
	PADDING-LEFT: 15px
}
#lnb .lnb_submenu {
	BACKGROUND: url(/images/common/bg_lnb_mid.gif) repeat-y left top; PADDING-LEFT: 15px; WIDTH: 184px
}
#lnb .lnb_submenu LI.first {
	MARGIN-TOP: 15px
}
#lnb .lnb_submenu LI UL LI IMG {
	VERTICAL-ALIGN: top
}
#lnb .bg_lnbBot {
	HEIGHT: 18px; BACKGROUND: url(/images/common/bg_lnb_bot.gif) no-repeat left top; WIDTH: 100%
}
#lnb .lnb_banner {
	
}
#lnb .lnb_banner LI {
	MARGIN-TOP: 6px
}
#contentBox {
	FLOAT: left; MARGIN-TOP: 44px; WIDTH: 691px
}
#content {
	PADDING-BOTTOM: 0px; PADDING-TOP: 40px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
#content03 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 40px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px
}
#content04 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
#mvisual {
	OVERFLOW: hidden; ZOOM: 1; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; WIDTH: 900px
}
#mvisual IMG {
	VERTICAL-ALIGN: top
}
#mvisual .mv1 {
	HEIGHT: 329px; BORDER-BOTTOM: #e6e6e6 1px solid; FLOAT: left; WIDTH: 666px
}
#mvisual .mv2 {
	FLOAT: left; WIDTH: 234px
}
#mvisual .mv3 {
	BORDER-BOTTOM: #e6e6e6 1px solid; FLOAT: left; WIDTH: 234px
}
DIV.gnb2 {
	OVERFLOW: hidden; HEIGHT: 208px; PADDING-TOP: 10px; CLEAR: both; DISPLAY: inline-block; WIDTH: 900px
}
DIV.gnb2 P.go2 {
	MARGIN-BOTTOM: 20px; HEIGHT: 16px; BORDER-BOTTOM: #275a96 2px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px
}
DIV.gnb2 DIV.gnb2List1 {
	FLOAT: left; MARGIN-LEFT: 31px; DISPLAY: inline; WIDTH: 211px
}
DIV.gnb2 DIV.gnb2List2 {
	FLOAT: left; DISPLAY: inline; WIDTH: 249px
}
DIV.gnb2 DIV.gnb2List3 {
	FLOAT: left; DISPLAY: inline; WIDTH: 172px
}
DIV.gnb2 DIV.gnb2List4 {
	FLOAT: left; DISPLAY: inline; WIDTH: 128px
}
DIV.gnb2 DIV.gnb2List5 {
	FLOAT: left; DISPLAY: inline; WIDTH: 88px
}
DIV.gnb2 H2 {
	PADDING-BOTTOM: 9px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
DIV.gnb2 UL LI {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 2px; LINE-HEIGHT: 18px; PADDING-RIGHT: 0px
}
DIV.gnb2 UL LI A {
	FONT-SIZE: 11px
}
DIV.gnb2 UL LI A:hover {
	COLOR: #005e9f; TEXT-DECORATION: underline
}
#footer {
	MARGIN-BOTTOM: 20px; BORDER-TOP: #d5d9dc 1px solid; POSITION: relative; Z-INDEX: 150; WIDTH: 906px
}
#footer IMG {
	VERTICAL-ALIGN: top
}
#footer UL {
	FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 18px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
#footer UL LI {
	FLOAT: left
}
#footer H2 {
	FLOAT: left
}
#footer .snslink {
	POSITION: absolute; LEFT: 695px; TOP: 15px
}
#footer .snslink UL {
	OVERFLOW: hidden; FLOAT: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WIDTH: 84px
}
#footer .snslink UL LI {
	FLOAT: left; MARGIN-RIGHT: 4px
}
DIV.h2_title {
	HEIGHT: 29px; BORDER-BOTTOM: #c4c4c4 1px solid; POSITION: relative; WIDTH: 691px
}
DIV.h2_title H2 {
	FLOAT: left
}
DIV.h2_title P {
	FONT-SIZE: 11px; HEIGHT: 15px; RIGHT: 8px; POSITION: absolute; COLOR: #7c7c7c; MARGIN-TOP: 6px; DISPLAY: inline-block; TOP: 1px
}
DIV.h2_title P IMG {
	VERTICAL-ALIGN: middle
}
#contentBox02 {
	FLOAT: left; MARGIN-TOP: 44px; DISPLAY: inline
}
#content02 {
	PADDING-BOTTOM: 40px; PADDING-TOP: 40px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
DIV.h2_title02 {
	HEIGHT: 29px; BORDER-BOTTOM: #c4c4c4 1px solid; POSITION: relative; Z-INDEX: 10; DISPLAY: inline-block; WIDTH: 906px
}
DIV.h2_title02 H2 {
	FLOAT: left
}
DIV.h2_title02 P {
	FONT-SIZE: 11px; HEIGHT: 15px; RIGHT: 8px; POSITION: absolute; COLOR: #7c7c7c; Z-INDEX: 10; MARGIN-TOP: 6px; DISPLAY: inline-block; TOP: 1px
}
DIV.h2_title02 P IMG {
	VERTICAL-ALIGN: middle
}
DIV.boardType_layerBox {
	PADDING-BOTTOM: 0px; PADDING-TOP: 12px; PADDING-LEFT: 22px; PADDING-RIGHT: 22px
}
TABLE.boardType_layer {
	BORDER-TOP: #227eb8 2px solid; BORDER-BOTTOM: #98b8ca 1px solid
}
TABLE.boardType_layer TH {
	BORDER-RIGHT: #8fb2d2 1px solid; BACKGROUND: url(/images/common/th_bg01.gif) repeat-x left bottom; BORDER-BOTTOM: #8fb2d2 1px solid; PADDING-BOTTOM: 7px; TEXT-ALIGN: center; PADDING-TOP: 8px; PADDING-LEFT: 0px; BORDER-LEFT: #8fb2d2 1px solid; PADDING-RIGHT: 0px
}
TABLE.boardType_layer TH {
	FONT-SIZE: 11px; FONT-WEIGHT: bold; COLOR: #5587b5; LETTER-SPACING: -1px; LINE-HEIGHT: 11px
}
TABLE.boardType_layer TD {
	BORDER-RIGHT: #dcdee5 1px solid; BORDER-BOTTOM: #dcdee5 1px solid; PADDING-BOTTOM: 4px; TEXT-ALIGN: center; PADDING-TOP: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
TABLE.boardType_layer TD.btop {
	BACKGROUND: url(/images/common/td_bg01.gif) repeat-x left top
}
TABLE.boardType_layer .rno {
	BORDER-RIGHT-STYLE: none
}
TABLE.boardType_layer TH.bg2 {
	BACKGROUND: url(/images/common/th_bg02.gif) no-repeat left top
}
TABLE.boardType_layer TD.al_l {
	PADDING-BOTTOM: 4px; TEXT-ALIGN: left; PADDING-TOP: 6px; PADDING-LEFT: 15px; PADDING-RIGHT: 5px
}
TABLE.boardType_layer TD.al_l_BS {
	PADDING-BOTTOM: 4px; TEXT-ALIGN: left; PADDING-TOP: 6px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
TABLE.boardType_layer TH.BS {
	BACKGROUND: url(/images/common/th_bg01_BS.gif) repeat-x left top
}
TABLE.boardType_layer TH.BS_first {
	HEIGHT: 40px; BACKGROUND: url(/images/common/th_bg02_BS.gif) no-repeat left top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
DIV.langLayerBox {
	HEIGHT: 236px; POSITION: absolute; LEFT: 250px; Z-INDEX: 200; TOP: -400px; WIDTH: 407px
}
DIV.langLayerBox DIV.langLayer {
	HEIGHT: 236px; BACKGROUND: url(/images/common/bg_lang.png) no-repeat left top; TEXT-ALIGN: center; DISPLAY: inline-block; WIDTH: 407px
}
DIV.langLayerBox DIV.langLayer A:link {
	COLOR: #333333
}
DIV.langLayerBox DIV.langLayer A:visited {
	COLOR: #333333
}
DIV.langLayerBox DIV.langLayer A:active {
	COLOR: #333333
}
DIV.langLayerBox DIV.langLayer A:hover {
	COLOR: #629bcc
}
DIV.langLayerBox DIV.langLayer H2 {
	FLOAT: none !important; FONT-WEIGHT: bold; COLOR: #004f8a; MARGIN: 67px 0px 0px
}
DIV.langLayerBox DIV.langLayer P.first {
	FONT-WEIGHT: bold; COLOR: #333333; MARGIN: 44px 0px 0px
}
DIV.langLayerBox DIV.langLayer P.last {
	FONT-WEIGHT: bold; COLOR: #333333; MARGIN: 20px 0px 0px
}
DIV.langLayerBox P.lay_btn {
	RIGHT: 17px; POSITION: absolute; TOP: 18px
}
.iePngFix {
	BEHAVIOR: url(/common/css/iepngfix.htc)
}
