BODY {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H1 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H2 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H3 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H4 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H5 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H6 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
UL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
OL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
LI {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DT {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DD {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
FORM {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TH {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TD {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
PRE {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
P {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
HR {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H1 {
	FONT-SIZE: 100%
}
H2 {
	FONT-SIZE: 100%
}
H3 {
	FONT-SIZE: 100%
}
H4 {
	FONT-SIZE: 100%
}
H5 {
	FONT-SIZE: 100%
}
H6 {
	FONT-SIZE: 100%
}
OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
TABLE {
	BORDER-COLLAPSE: collapse; BORDER-SPACING: 0
}
CAPTION {
	FONT-WEIGHT: normal; TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
CITE {
	FONT-STYLE: normal
}
ADDRESS {
	FONT-STYLE: normal
}
SUB {
	LINE-HEIGHT: 2
}
SUP {
	LINE-HEIGHT: 2
}
IMG {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px
}
PRE {
	FONT-SIZE: 1.2em
}
CODE {
	FONT-SIZE: 1.2em
}
FIELDSET {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px
}
Q:before {
	CONTENT: ''
}
Q:after {
	CONTENT: ''
}
.blq-rst {
	FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
.blq-rst DL {
	FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px; BACKGROUND-COLOR: transparent
}
.blq-rst DT {
	FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px; BACKGROUND-COLOR: transparent
}
.blq-rst DD {
	FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px; BACKGROUND-COLOR: transparent
}
.blq-rst UL {
	FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px; BACKGROUND-COLOR: transparent
}
.blq-rst OL {
	FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px; BACKGROUND-COLOR: transparent
}
.blq-rst LI {
	FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px; BACKGROUND-COLOR: transparent
}
.blq-rst H1 {
	FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px; BACKGROUND-COLOR: transparent
}
.blq-rst H2 {
	FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px; BACKGROUND-COLOR: transparent
}
.blq-rst H3 {
	FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px; BACKGROUND-COLOR: transparent
}
.blq-rst H4 {
	FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px; BACKGROUND-COLOR: transparent
}
.blq-rst H5 {
	FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px; BACKGROUND-COLOR: transparent
}
.blq-rst H6 {
	FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px; BACKGROUND-COLOR: transparent
}
.blq-rst PRE {
	FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px; BACKGROUND-COLOR: transparent
}
.blq-rst FORM {
	FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px; BACKGROUND-COLOR: transparent
}
.blq-rst FIELDSET {
	FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px; BACKGROUND-COLOR: transparent
}
.blq-rst CAPTION {
	FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px; BACKGROUND-COLOR: transparent
}
.blq-rst P {
	FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px; BACKGROUND-COLOR: transparent
}
.blq-rst BLOCKQUOTE {
	FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px; BACKGROUND-COLOR: transparent
}
.blq-rst TH {
	FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px; BACKGROUND-COLOR: transparent
}
.blq-rst TD {
	FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px; BACKGROUND-COLOR: transparent
}
.blq-rst HR {
	FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px; BACKGROUND-COLOR: transparent
}
.blq-rst * {
	FONT-SIZE: 100%; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-TRANSFORM: none; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; TEXT-DECORATION: none; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px
}
.blq-rst INPUT {
	FONT-SIZE: 100%; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-TRANSFORM: none; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; TEXT-DECORATION: none; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px
}
.blq-rst A:link {
	FONT-SIZE: 100%; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-TRANSFORM: none; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; TEXT-DECORATION: none; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px
}
.blq-rst A:visited {
	FONT-SIZE: 100%; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-TRANSFORM: none; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; TEXT-DECORATION: none; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-RIGHT: 0px
}
.blq-rst TABLE {
	BORDER-COLLAPSE: collapse; BORDER-SPACING: 0
}
.blq-rst CAPTION {
	FONT-WEIGHT: normal; TEXT-ALIGN: left
}
.blq-rst LEGEND {
	FONT-WEIGHT: normal; TEXT-ALIGN: left
}
.blq-rst TH {
	TEXT-ALIGN: left
}
.blq-rst CITE {
	FONT-STYLE: normal
}
.blq-rst ADDRESS {
	FONT-STYLE: normal
}
.blq-rst OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
.blq-rst UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
.blq-rst SUB {
	LINE-HEIGHT: 2
}
.blq-rst SUP {
	LINE-HEIGHT: 2
}
.blq-rst IMG {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px
}
.blq-rst INPUT {
	FONT-SIZE: 1.1em
}
.blq-rst PRE {
	FONT-SIZE: 1.1em
}
.blq-rst CODE {
	FONT-SIZE: 1.1em
}
.blq-rst FIELDSET {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px
}
.blq-rst Q:before {
	CONTENT: ''
}
.blq-rst Q:after {
	CONTENT: ''
}
.blq-rst H1 {
	FONT-WEIGHT: bold
}
.blq-rst H2 {
	FONT-WEIGHT: bold
}
.blq-rst H3 {
	FONT-WEIGHT: bold
}
.blq-rst H4 {
	FONT-WEIGHT: bold
}
.blq-rst H5 {
	FONT-WEIGHT: bold
}
.blq-rst H6 {
	FONT-WEIGHT: bold
}
.blq-rst TH {
	FONT-WEIGHT: bold
}
.blq-rst STRONG {
	FONT-WEIGHT: bold
}
.blq-rst DT {
	FONT-WEIGHT: normal
}
.blq-hide {
	OVERFLOW: hidden; POSITION: absolute; LEFT: -2500px; WIDTH: 1px
}
.blq-clearfix {
	_height: 1%
}
.blq-clearfix:after {
	HEIGHT: 0px; CONTENT: "."; CLEAR: both; DISPLAY: block; VISIBILITY: hidden
}
BODY {
	BACKGROUND: #fff; COLOR: #000; FONT: 62.5%/1 verdana, helvetica, arial, sans-serif
}
#blq-container {
	MARGIN-TOP: -40px
}
#blq-container {
	POSITION: relative; PADDING-BOTTOM: 10px
}
#blq-global {
	BACKGROUND: #eee
}
#blq-pre-mast {
	MARGIN: 0px auto; WIDTH: 974px
}
#blq-container-inner {
	MARGIN: 0px auto; WIDTH: 974px
}
#blq-pre-mast {
	Z-INDEX: 1
}
#blq-container-inner {
	POSITION: relative; PADDING-TOP: 70px; BACKGROUND-COLOR: #fff
}
#blq-pre-mast {
	FONT-SIZE: 1.2em; POSITION: relative; COLOR: #fff; LINE-HEIGHT: 1.3
}
#blq-main {
	FONT-SIZE: 1.2em; POSITION: relative; COLOR: #fff; LINE-HEIGHT: 1.3
}
#blq-main {
	COLOR: #000; LINE-HEIGHT: 1; BACKGROUND-COLOR: #fff
}
#blq-mothball {
	MARGIN-BOTTOM: -40px; BACKGROUND: url(../img/mothball/bg.jpg) #fbfbfb repeat-x 0px 0px; MARGIN-TOP: 40px
}
#blq-mothball A {
	FONT-SIZE: 2em; HEIGHT: 56px; BACKGROUND: url(../img/mothball/i.gif) no-repeat 230px 10px; COLOR: #666; PADDING-TOP: 17px; PADDING-LEFT: 300px; TEXT-DECORATION: none; DISPLAY: block
}
#blq-mothball-sub {
	FONT-SIZE: 0.5em; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; PADDING-LEFT: 70px; DISPLAY: block; PADDING-RIGHT: 0px
}
#blq-mothball-sub SPAN {
	COLOR: #1a75bb; MARGIN-LEFT: 5px
}
A:hover #blq-mothball-sub SPAN {
	TEXT-DECORATION: underline
}
.blq-rtl #blq-eng {
	PADDING-BOTTOM: 0px; PADDING-TOP: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 13px
}
.blq-tooltip {
	HEIGHT: 32px; POSITION: absolute; FONT-WEIGHT: normal; MARGIN-LEFT: -2500px; TEXT-DECORATION: none; Z-INDEX: 999; MARGIN-TOP: -2.9em; LINE-HEIGHT: 1.1; WIDTH: 30em
}
A.blq-tooltipped:hover .blq-tooltip {
	MARGIN-LEFT: -50px
}
.blq-tooltipped:focus .blq-tooltip {
	MARGIN-LEFT: -50px
}
A.blq-tooltipped:hover .blq-tipunder {
	MARGIN-TOP: 1.8em
}
.blq-tooltipped:focus .blq-tipunder {
	MARGIN-TOP: 1.8em
}
A.blq-tooltipped:hover .blq-tipright {
	MARGIN-LEFT: -30em
}
.blq-tooltipped:focus .blq-tipright {
	MARGIN-LEFT: -30em
}
.blq-tooltip-l {
	BACKGROUND: url(../img/tooltip.png) no-repeat 0px -36px; FLOAT: left; COLOR: #000; PADDING-BOTTOM: 12px; PADDING-TOP: 6px; PADDING-LEFT: 13px; PADDING-RIGHT: 0px
}
.blq-tooltip-r {
	BACKGROUND: url(../img/tooltip.png) no-repeat right -36px; FLOAT: left; PADDING-BOTTOM: 12px; PADDING-TOP: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 3px
}
.blq-tipunder .blq-tooltip-l {
	BACKGROUND-POSITION: 0px 0px; PADDING-BOTTOM: 14px; PADDING-TOP: 10px; PADDING-LEFT: 13px; PADDING-RIGHT: 0px
}
.blq-tipunder .blq-tooltip-r {
	BACKGROUND-POSITION: right 0px; PADDING-BOTTOM: 14px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 3px
}
.blq-tipright .blq-tooltip-l {
	BACKGROUND-POSITION: right -72px; FLOAT: right; PADDING-BOTTOM: 14px; PADDING-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 8px
}
.blq-tipright .blq-tooltip-r {
	BACKGROUND-POSITION: 0px -72px; FLOAT: right; PADDING-BOTTOM: 14px; PADDING-TOP: 5px; PADDING-LEFT: 11px; PADDING-RIGHT: 0px
}
#blq-container .blq-foot-white {
	COLOR: #000; BACKGROUND-COLOR: #fff
}
.blq-foot-white #blq-bbclinks {
	COLOR: #000; BACKGROUND-COLOR: #fff
}
#blq-container .blq-foot-white A {
	COLOR: #000
}
#blq-container .blq-foot-white P {
	COLOR: #000
}
#blq-container .blq-foot-white A:hover {
	OUTLINE-WIDTH: 0px; OUTLINE-STYLE: none; TEXT-DECORATION: underline; OUTLINE-COLOR: invert
}
#blq-container .blq-foot-white A:focus {
	OUTLINE-WIDTH: 0px; OUTLINE-STYLE: none; TEXT-DECORATION: underline; OUTLINE-COLOR: invert
}
#blq-container .blq-foot-black {
	BACKGROUND-COLOR: #000
}
.blq-foot-black #blq-bbclinks {
	BACKGROUND-COLOR: #000
}
#blq-container .blq-foot-black A:hover {
	COLOR: #b2b2b2
}
.bbcdotcomAdvertsResetBottom .blq-dotcom #blq-sitelinks {
	WIDTH: 230px
}
.blq-dotcom #blq-sitelinks {
	WIDTH: 150px
}
#blq-container {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.blq-gvl-3 #blq-pre-mast {
	FONT-SIZE: 1.3em; FONT-FAMILY: arial, sans-serif; LINE-HEIGHT: 1.6em
}
.blq-gvl-3 #blq-main {
	FONT-SIZE: 1.3em; FONT-FAMILY: arial, sans-serif; LINE-HEIGHT: 1.6em
}
#blq-pre-mast {
	FONT-SIZE: 1.3em; FONT-FAMILY: arial, sans-serif; LINE-HEIGHT: 1.6em
}
#blq-main {
	FONT-SIZE: 1.3em; FONT-FAMILY: arial, sans-serif; LINE-HEIGHT: 1.6em
}
#blq-pre-mast {
	WIDTH: 976px
}
#blq-container-inner {
	WIDTH: 976px
}
#blq-container-inner {
	BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 40px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px
}
.blq-js .blq-overlay {
	OVERFLOW: visible; POSITION: absolute; DISPLAY: none
}
#blq-container .blq-foot-transparent {
	FONT-SIZE: 1.2em; PADDING-LEFT: 0px; CLEAR: both; WIDTH: 960px; BACKGROUND-COLOR: transparent
}
#blq-container .blq-foot-text-dark {
	BORDER-TOP: #4c4c4c 1px solid
}
#blq-container .blq-foot-text-dark A {
	COLOR: #4c4c4c
}
#blq-container .blq-foot-text-dark P {
	COLOR: #4c4c4c
}
#blq-container .blq-foot-text-dark #blq-copy {
	COLOR: #4c4c4c
}
#blq-container .blq-foot-text-light {
	BORDER-TOP: #fff 1px solid
}
#blq-container .blq-foot-text-light A {
	COLOR: #fff
}
#blq-container .blq-foot-text-light P {
	COLOR: #fff
}
#blq-container .blq-foot-opaque {
	
}
#blq-container .blq-foot-black {
	BACKGROUND-COLOR: black
}
.blq-foot-transparent#blq-foot #blq-promo {
	MARGIN-BOTTOM: 16px; MARGIN-LEFT: 0px; MARGIN-TOP: 0px
}
#blq-container {
	PADDING-TOP: 0px
}
#blq-container-inner {
	PADDING-TOP: 0px
}
#blq-main {
	BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 40px
}
#blq-masthead {
	MIN-WIDTH: 994px; POSITION: relative; Z-INDEX: 99
}
#blq-masthead .blq-masthead-container {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 8px; MARGIN: 0px auto; PADDING-RIGHT: 8px; WIDTH: 960px
}
#blq-panel .blq-masthead-container {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BACKGROUND-COLOR: #fff
}
#blq-mast {
	BORDER-BOTTOM: #eaeaea 1px solid; POSITION: relative; FONT: 1.3em/1.6 Arial, Helvetica, sans-serif; Z-INDEX: 2; WIDTH: 100%
}
.blq-mast-bg-black #blq-mast {
	BORDER-TOP-COLOR: #4c4c4c; BORDER-BOTTOM-COLOR: #4c4c4c; BORDER-RIGHT-COLOR: #4c4c4c; BORDER-LEFT-COLOR: #4c4c4c
}
.blq-mast-bg-transparent-medium #blq-mast {
	BORDER-TOP-COLOR: #575757; BORDER-BOTTOM-COLOR: #575757; BORDER-RIGHT-COLOR: #575757; BORDER-LEFT-COLOR: #575757
}
.blq-mast-bg-transparent #blq-mast {
	BORDER-TOP-COLOR: #888; BORDER-BOTTOM-COLOR: #888; BORDER-RIGHT-COLOR: #888; BORDER-LEFT-COLOR: #888
}
.blq-mast-text-dark #blq-mast {
	BORDER-TOP-COLOR: #5a5a5a; BORDER-BOTTOM-COLOR: #5a5a5a; BORDER-RIGHT-COLOR: #5a5a5a; BORDER-LEFT-COLOR: #5a5a5a
}
.blq-mast-bg-transparent-light #blq-mast {
	BORDER-TOP-COLOR: #7f7f7f; BORDER-BOTTOM-COLOR: #7f7f7f; BORDER-RIGHT-COLOR: #7f7f7f; BORDER-LEFT-COLOR: #7f7f7f
}
.blq-mast-bg-transparent-dark #blq-mast {
	BORDER-TOP-COLOR: #363636; BORDER-BOTTOM-COLOR: #363636; BORDER-RIGHT-COLOR: #363636; BORDER-LEFT-COLOR: #363636
}
.blq-masthead-focus #blq-mast {
	BORDER-TOP-COLOR: #ccc; BORDER-BOTTOM-COLOR: #ccc; BORDER-RIGHT-COLOR: #ccc; BORDER-LEFT-COLOR: #ccc
}
#blq-mast-bar {
	ZOOM: 1
}
#blq-mast-bar:after {
	FONT-SIZE: 0px; HEIGHT: 0px; CONTENT: "."; CLEAR: both; DISPLAY: block; VISIBILITY: hidden
}
.blq-not-bbc-co-uk #blq-sign-in {
	DISPLAY: none
}
#blq-sign-in {
	FLOAT: left
}
.blq-rtl #blq-sign-in {
	FLOAT: right
}
#blq-mast-background {
	HEIGHT: 100%; BACKGROUND: #000; POSITION: absolute; Z-INDEX: 1; DISPLAY: block; WIDTH: 100%; _height: 39px
}
#blq-mast-background SPAN {
	_display: block; _width: 994px
}
#blq-mast-background {
	BACKGROUND-COLOR: #000
}
#blq-mast {
	COLOR: #fff; TEXT-DECORATION: none
}
#blq-mast A {
	COLOR: #fff; TEXT-DECORATION: none
}
.blq-mast-text-dark #blq-mast {
	COLOR: #333
}
.blq-mast-text-dark #blq-mast A {
	COLOR: #333
}
.blq-mast-bg-transparent #blq-mast-background {
	FILTER: alpha(opacity = 0); BACKGROUND-COLOR: transparent; opacity: 0
}
.blq-mast-bg-transparent-light #blq-mast-background {
	FILTER: alpha(opacity = 20); opacity: .2
}
.blq-mast-bg-transparent-medium #blq-mast-background {
	FILTER: alpha(opacity = 40); opacity: .4
}
.blq-mast-bg-transparent-dark #blq-mast-background {
	FILTER: alpha(opacity = 70); opacity: .7
}
#blq-blocks {
	BORDER-TOP: #4c4c4c 1px solid; BORDER-RIGHT: #4c4c4c 1px solid; BORDER-BOTTOM: #4c4c4c 1px solid; BORDER-LEFT: #4c4c4c 1px solid
}
#blq-nav-main {
	BORDER-TOP: #4c4c4c 1px solid; BORDER-RIGHT: #4c4c4c 1px solid; BORDER-BOTTOM: #4c4c4c 1px solid; BORDER-LEFT: #4c4c4c 1px solid
}
#blq-nav-main LI {
	BORDER-TOP: #4c4c4c 1px solid; BORDER-RIGHT: #4c4c4c 1px solid; BORDER-BOTTOM: #4c4c4c 1px solid; BORDER-LEFT: #4c4c4c 1px solid
}
#blq-blocks {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px
}
#blq-nav-main {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px
}
.blq-rtl #blq-blocks {
	BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 0px
}
#blq-nav-main LI {
	BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px
}
#id-status {
	BORDER-TOP-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-BOTTOM-STYLE: solid; BORDER-RIGHT-STYLE: solid
}
.blq-mast-bg-black #blq-blocks {
	BORDER-TOP-COLOR: #4c4c4c; BORDER-BOTTOM-COLOR: #4c4c4c; BORDER-RIGHT-COLOR: #4c4c4c; BORDER-LEFT-COLOR: #4c4c4c
}
.blq-mast-bg-black #blq-nav-main {
	BORDER-TOP-COLOR: #4c4c4c; BORDER-BOTTOM-COLOR: #4c4c4c; BORDER-RIGHT-COLOR: #4c4c4c; BORDER-LEFT-COLOR: #4c4c4c
}
.blq-mast-bg-black #blq-nav-main LI {
	BORDER-TOP-COLOR: #4c4c4c; BORDER-BOTTOM-COLOR: #4c4c4c; BORDER-RIGHT-COLOR: #4c4c4c; BORDER-LEFT-COLOR: #4c4c4c
}
.blq-mast-bg-black #id-status {
	BORDER-TOP-COLOR: #4c4c4c; BORDER-BOTTOM-COLOR: #4c4c4c; BORDER-RIGHT-COLOR: #4c4c4c; BORDER-LEFT-COLOR: #4c4c4c
}
.blq-mast-bg-transparent-dark #blq-blocks {
	BORDER-TOP-COLOR: #363636; BORDER-BOTTOM-COLOR: #363636; BORDER-RIGHT-COLOR: #363636; BORDER-LEFT-COLOR: #363636
}
.blq-mast-bg-transparent-dark #blq-nav-main {
	BORDER-TOP-COLOR: #363636; BORDER-BOTTOM-COLOR: #363636; BORDER-RIGHT-COLOR: #363636; BORDER-LEFT-COLOR: #363636
}
.blq-mast-bg-transparent-dark #blq-nav-main LI {
	BORDER-TOP-COLOR: #363636; BORDER-BOTTOM-COLOR: #363636; BORDER-RIGHT-COLOR: #363636; BORDER-LEFT-COLOR: #363636
}
.blq-mast-bg-transparent-dark #id-status {
	BORDER-TOP-COLOR: #363636; BORDER-BOTTOM-COLOR: #363636; BORDER-RIGHT-COLOR: #363636; BORDER-LEFT-COLOR: #363636
}
.blq-mast-bg-transparent-medium #blq-blocks {
	BORDER-TOP-COLOR: #575757; BORDER-BOTTOM-COLOR: #575757; BORDER-RIGHT-COLOR: #575757; BORDER-LEFT-COLOR: #575757
}
.blq-mast-bg-transparent-medium #blq-nav-main {
	BORDER-TOP-COLOR: #575757; BORDER-BOTTOM-COLOR: #575757; BORDER-RIGHT-COLOR: #575757; BORDER-LEFT-COLOR: #575757
}
.blq-mast-bg-transparent-medium #blq-nav-main LI {
	BORDER-TOP-COLOR: #575757; BORDER-BOTTOM-COLOR: #575757; BORDER-RIGHT-COLOR: #575757; BORDER-LEFT-COLOR: #575757
}
.blq-mast-bg-transparent-medium #id-status {
	BORDER-TOP-COLOR: #575757; BORDER-BOTTOM-COLOR: #575757; BORDER-RIGHT-COLOR: #575757; BORDER-LEFT-COLOR: #575757
}
.blq-mast-bg-transparent-light #blq-blocks {
	BORDER-TOP-COLOR: #7f7f7f; BORDER-BOTTOM-COLOR: #7f7f7f; BORDER-RIGHT-COLOR: #7f7f7f; BORDER-LEFT-COLOR: #7f7f7f
}
.blq-mast-bg-transparent-light #blq-nav-main {
	BORDER-TOP-COLOR: #7f7f7f; BORDER-BOTTOM-COLOR: #7f7f7f; BORDER-RIGHT-COLOR: #7f7f7f; BORDER-LEFT-COLOR: #7f7f7f
}
.blq-mast-bg-transparent-light #blq-nav-main LI {
	BORDER-TOP-COLOR: #7f7f7f; BORDER-BOTTOM-COLOR: #7f7f7f; BORDER-RIGHT-COLOR: #7f7f7f; BORDER-LEFT-COLOR: #7f7f7f
}
.blq-mast-bg-transparent-light #id-status {
	BORDER-TOP-COLOR: #7f7f7f; BORDER-BOTTOM-COLOR: #7f7f7f; BORDER-RIGHT-COLOR: #7f7f7f; BORDER-LEFT-COLOR: #7f7f7f
}
.blq-mast-text-dark #blq-blocks {
	BORDER-TOP-COLOR: #5a5a5a; BORDER-BOTTOM-COLOR: #5a5a5a; BORDER-RIGHT-COLOR: #5a5a5a; BORDER-LEFT-COLOR: #5a5a5a
}
.blq-mast-text-dark #blq-nav-main {
	BORDER-TOP-COLOR: #5a5a5a; BORDER-BOTTOM-COLOR: #5a5a5a; BORDER-RIGHT-COLOR: #5a5a5a; BORDER-LEFT-COLOR: #5a5a5a
}
.blq-mast-text-dark #blq-nav-main LI {
	BORDER-TOP-COLOR: #5a5a5a; BORDER-BOTTOM-COLOR: #5a5a5a; BORDER-RIGHT-COLOR: #5a5a5a; BORDER-LEFT-COLOR: #5a5a5a
}
.blq-mast-text-dark #id-status {
	BORDER-TOP-COLOR: #5a5a5a; BORDER-BOTTOM-COLOR: #5a5a5a; BORDER-RIGHT-COLOR: #5a5a5a; BORDER-LEFT-COLOR: #5a5a5a
}
.blq-mast-text-light #blq-blocks {
	BORDER-TOP-COLOR: #888; BORDER-BOTTOM-COLOR: #888; BORDER-RIGHT-COLOR: #888; BORDER-LEFT-COLOR: #888
}
.blq-mast-text-light #blq-nav-main {
	BORDER-TOP-COLOR: #888; BORDER-BOTTOM-COLOR: #888; BORDER-RIGHT-COLOR: #888; BORDER-LEFT-COLOR: #888
}
.blq-mast-text-light #blq-nav-main LI {
	BORDER-TOP-COLOR: #888; BORDER-BOTTOM-COLOR: #888; BORDER-RIGHT-COLOR: #888; BORDER-LEFT-COLOR: #888
}
.blq-mast-text-light #id-status {
	BORDER-TOP-COLOR: #888; BORDER-BOTTOM-COLOR: #888; BORDER-RIGHT-COLOR: #888; BORDER-LEFT-COLOR: #888
}
.blq-masthead-focus #blq-blocks {
	BORDER-TOP-COLOR: #ccc; BORDER-BOTTOM-COLOR: #ccc; BORDER-RIGHT-COLOR: #ccc; BORDER-LEFT-COLOR: #ccc
}
.blq-masthead-focus #blq-nav-main {
	BORDER-TOP-COLOR: #ccc; BORDER-BOTTOM-COLOR: #ccc; BORDER-RIGHT-COLOR: #ccc; BORDER-LEFT-COLOR: #ccc
}
.blq-masthead-focus #blq-nav-main LI {
	BORDER-TOP-COLOR: #ccc; BORDER-BOTTOM-COLOR: #ccc; BORDER-RIGHT-COLOR: #ccc; BORDER-LEFT-COLOR: #ccc
}
.blq-masthead-focus #id-status {
	BORDER-TOP-COLOR: #ccc; BORDER-BOTTOM-COLOR: #ccc; BORDER-RIGHT-COLOR: #ccc; BORDER-LEFT-COLOR: #ccc
}
.blq-masthead-focus #blq-mast-background {
	BACKGROUND: #fff; FILTER: none; opacity: 1
}
.blq-masthead-focus #blq-mast {
	COLOR: #333
}
.blq-masthead-focus #blq-mast A {
	COLOR: #333
}
.blq-masthead-focus #blq-blocks {
	BORDER-TOP-COLOR: #ccc; BORDER-BOTTOM-COLOR: #ccc; BORDER-RIGHT-COLOR: #ccc; BORDER-LEFT-COLOR: #ccc
}
.blq-masthead-focus #blq-nav-main {
	BORDER-TOP-COLOR: #ccc; BORDER-BOTTOM-COLOR: #ccc; BORDER-RIGHT-COLOR: #ccc; BORDER-LEFT-COLOR: #ccc
}
.blq-masthead-focus #blq-nav-main LI {
	BORDER-TOP-COLOR: #ccc; BORDER-BOTTOM-COLOR: #ccc; BORDER-RIGHT-COLOR: #ccc; BORDER-LEFT-COLOR: #ccc
}
#blq-blocks {
	FLOAT: left; MARGIN: 0px
}
.blq-rtl #blq-blocks {
	FLOAT: right
}
#blq-blocks IMG {
	FILTER: alpha(opacity = 0); opacity: 0
}
#blq-blocks A {
	BACKGROUND: url(../img/blq-sprite_alpha.png) 0px -180px; MARGIN: 8px 8px 7px 0px; DISPLAY: block; _zoom: 1; _cursor: pointer
}
.blq-mast-text-dark #blq-blocks A {
	BACKGROUND-POSITION: 0px -106px
}
.blq-rtl #blq-blocks A {
	MARGIN-LEFT: 8px; MARGIN-RIGHT: 0px
}
#blq-blocks IMG {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; DISPLAY: block
}
.blq-masthead-focus #blq-blocks IMG {
	FILTER: none; opacity: 1
}
#blq-acc-links {
	POSITION: relative; FLOAT: left; Z-INDEX: 1
}
.blq-rtl #blq-acc-links {
	FLOAT: right
}
#blq-acc-links LI {
	DISPLAY: inline
}
#blq-acc-links H2 {
	POSITION: absolute; Z-INDEX: 1; TOP: -999em
}
#blq-acc-links A {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; FONT-WEIGHT: bold; COLOR: #333; OUTLINE-WIDTH: 0px; PADDING-BOTTOM: 7px; PADDING-TOP: 7px; OUTLINE-STYLE: none; PADDING-LEFT: 10px; TEXT-DECORATION: none; BORDER-LEFT: #ccc 1px solid; Z-INDEX: 1; DISPLAY: block; OUTLINE-COLOR: invert; LINE-HEIGHT: 1.2; TOP: -999em; PADDING-RIGHT: 10px; WIDTH: 150px
}
.blq-ltr #blq-acc-links A {
	LEFT: -100px
}
.blq-rtl #blq-acc-links A {
	RIGHT: -100px
}
#blq-acc-links A:focus {
	TOP: 45px
}
#blq-acc-links A:active {
	TOP: 45px
}
#blq-acc-links A:hover {
	BACKGROUND: #000; COLOR: #fff
}
#blq-nav {
	POSITION: relative; FLOAT: right
}
.blq-rtl #blq-nav {
	FLOAT: left
}
#blq-nav H2 {
	POSITION: absolute; LEFT: -999em
}
.blq-rtl #blq-nav H2 {
	LEFT: auto; TOP: -999em
}
.id-in .blq-dropdown-arrow {
	HEIGHT: 3px; BACKGROUND: url(../img/blq-sprite_alpha.png) no-repeat 0px 0px; POSITION: absolute; DISPLAY: block; WIDTH: 6px; _background-image: url(../img/blq-arrows.gif); _font-size: 0
}
.id-in .blq-dropdown-arrow SPAN {
	HEIGHT: 3px; BACKGROUND: url(../img/blq-sprite_alpha.png) no-repeat 0px 0px; POSITION: absolute; DISPLAY: block; WIDTH: 6px; _background-image: url(../img/blq-arrows.gif); _font-size: 0
}
.blq-dropdown-arrow {
	RIGHT: 16px; POSITION: absolute; Z-INDEX: 1; TOP: 17px
}
.blq-rtl .blq-dropdown-arrow {
	RIGHT: auto; LEFT: 16px
}
.blq-rtl .blq-has-promo .blq-dropdown-arrow {
	LEFT: 12px
}
.id-in .blq-dropdown-arrow SPAN {
	BACKGROUND-POSITION: 0px -53px
}
.blq-masthead-focus .blq-dropdown-arrow SPAN {
	FILTER: alpha(opacity = 0); opacity: 0
}
.blq-mast-text-dark .blq-dropdown-arrow SPAN {
	FILTER: alpha(opacity = 0); opacity: 0
}
#blq-nav-main {
	LIST-STYLE-TYPE: none; FLOAT: left; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px 8px 0px 0px; PADDING-RIGHT: 0px; _margin: 0 4px 0 0
}
.blq-has-promo #blq-nav-main {
	MARGIN-RIGHT: 8px; _margin-right: 4px
}
.blq-rtl #blq-nav-main {
	MARGIN: 0px 0px 0px 16px; _margin: 0 0 0 8px
}
#blq-nav-main LI {
	FLOAT: left
}
#blq-nav-main LI:focus {
	OUTLINE-WIDTH: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert
}
#blq-nav-main A {
	BORDER-BOTTOM: #fff 0px solid; POSITION: relative; FONT-WEIGHT: bold; PADDING-BOTTOM: 9px; PADDING-TOP: 6px; PADDING-LEFT: 15px; DISPLAY: block; LINE-HEIGHT: 24px; PADDING-RIGHT: 16px; BOTTOM: -1px; _display: inline-block
}
.blq-has-promo #blq-nav-main A {
	PADDING-LEFT: 11px; PADDING-RIGHT: 12px
}
.blq-default-worldwide #blq-nav-main A {
	PADDING-LEFT: 11px; PADDING-RIGHT: 12px
}
.blq-cbeebies-worldwide #blq-nav-main A {
	PADDING-LEFT: 11px; PADDING-RIGHT: 12px
}
.blq-journalism-worldwide #blq-nav-main A {
	PADDING-LEFT: 11px; PADDING-RIGHT: 12px
}
#blq-nav-main A:focus {
	TEXT-DECORATION: underline
}
#blq-nav-main A:active {
	TEXT-DECORATION: underline
}
#blq-nav-main A:hover {
	TEXT-DECORATION: underline
}
.blq-js #blq-nav-main A:focus {
	BORDER-BOTTOM-WIDTH: 4px; OUTLINE-WIDTH: 0px; PADDING-BOTTOM: 5px; OUTLINE-STYLE: none; TEXT-DECORATION: none; OUTLINE-COLOR: invert
}
.blq-mast-bg-white #blq-nav-main A:focus {
	BORDER-BOTTOM-WIDTH: 4px; OUTLINE-WIDTH: 0px; PADDING-BOTTOM: 5px; OUTLINE-STYLE: none; TEXT-DECORATION: none; OUTLINE-COLOR: invert
}
.blq-js #blq-nav-main A:active {
	BORDER-BOTTOM-WIDTH: 4px; OUTLINE-WIDTH: 0px; PADDING-BOTTOM: 5px; OUTLINE-STYLE: none; TEXT-DECORATION: none; OUTLINE-COLOR: invert
}
.blq-mast-bg-white #blq-nav-main A:active {
	BORDER-BOTTOM-WIDTH: 4px; OUTLINE-WIDTH: 0px; PADDING-BOTTOM: 5px; OUTLINE-STYLE: none; TEXT-DECORATION: none; OUTLINE-COLOR: invert
}
.blq-js #blq-nav-main A:hover {
	BORDER-BOTTOM-WIDTH: 4px; OUTLINE-WIDTH: 0px; PADDING-BOTTOM: 5px; OUTLINE-STYLE: none; TEXT-DECORATION: none; OUTLINE-COLOR: invert
}
.blq-mast-bg-white #blq-nav-main A:hover {
	BORDER-BOTTOM-WIDTH: 4px; OUTLINE-WIDTH: 0px; PADDING-BOTTOM: 5px; OUTLINE-STYLE: none; TEXT-DECORATION: none; OUTLINE-COLOR: invert
}
.blq-js .blq-id-v4#id-status {
	DISPLAY: none
}
.blq-masthead-focus #blq-nav-main A {
	BORDER-BOTTOM-COLOR: #757575
}
#blq-nav-news A {
	BORDER-BOTTOM-COLOR: #9b2313
}
.blq-masthead-focus #blq-nav-news A {
	BORDER-BOTTOM-COLOR: #9b2313
}
#blq-nav-sport A {
	BORDER-BOTTOM-COLOR: #ffe711
}
.blq-masthead-focus #blq-nav-sport A {
	BORDER-BOTTOM-COLOR: #ffe711
}
#blq-nav-weather A {
	BORDER-BOTTOM-COLOR: #77cdff
}
.blq-masthead-focus #blq-nav-weather A {
	BORDER-BOTTOM-COLOR: #77cdff
}
#blq-nav-travel A {
	BORDER-BOTTOM-COLOR: #0c835b
}
.blq-masthead-focus #blq-nav-travel A {
	BORDER-BOTTOM-COLOR: #0c835b
}
#blq-nav-iplayer A {
	BORDER-BOTTOM-COLOR: #ed3482
}
.blq-masthead-focus #blq-nav-iplayer A {
	BORDER-BOTTOM-COLOR: #ed3482
}
#blq-nav-culture A {
	BORDER-BOTTOM-COLOR: #fff
}
#blq-nav-autos A {
	BORDER-BOTTOM-COLOR: #c29a58
}
.blq-masthead-focus #blq-nav-autos A {
	BORDER-BOTTOM-COLOR: #c29a58
}
#blq-nav-newsround A {
	BORDER-BOTTOM-COLOR: #34b6e4
}
.blq-masthead-focus #blq-nav-culture A {
	BORDER-BOTTOM-COLOR: #000
}
.blq-masthead-focus #blq-nav-tv A {
	BORDER-BOTTOM-COLOR: #333
}
.blq-masthead-focus #blq-nav-radio A {
	BORDER-BOTTOM-COLOR: #333
}
#blq-nav-more {
	POSITION: relative
}
.blq-mast-text-dark #id-status .id-icon SPAN {
	FILTER: none; opacity: 1
}
.blq-lang-cy-GB #blq-nav-main A {
	PADDING-LEFT: 11px; PADDING-RIGHT: 12px
}
.blq-lang-gd-GB #blq-nav-main A {
	PADDING-LEFT: 11px; PADDING-RIGHT: 12px
}
.blq-lang-ga-GB #blq-nav-main A {
	PADDING-LEFT: 11px; PADDING-RIGHT: 12px
}
#blq-mast {
	transition: none .2s ease-in-out; -moz-transition: none .2s ease-in-out; -webkit-transition: none .2s ease-in-out; transition-property: opacity, border-color, background-color; -moz-transition-property: opacity, border-color, background-color; -webkit-transition-property: opacity, border-color, background-color; -o-transition-property: opacity, border-color, background-color; -o-transition-duration: .2s; -o-transition-timing-function: ease-in-out
}
#blq-mast-background {
	transition: none .2s ease-in-out; -moz-transition: none .2s ease-in-out; -webkit-transition: none .2s ease-in-out; transition-property: opacity, border-color, background-color; -moz-transition-property: opacity, border-color, background-color; -webkit-transition-property: opacity, border-color, background-color; -o-transition-property: opacity, border-color, background-color; -o-transition-duration: .2s; -o-transition-timing-function: ease-in-out
}
#blq-blocks {
	transition: none .2s ease-in-out; -moz-transition: none .2s ease-in-out; -webkit-transition: none .2s ease-in-out; transition-property: opacity, border-color, background-color; -moz-transition-property: opacity, border-color, background-color; -webkit-transition-property: opacity, border-color, background-color; -o-transition-property: opacity, border-color, background-color; -o-transition-duration: .2s; -o-transition-timing-function: ease-in-out
}
#blq-nav-search INPUT {
	transition: none .2s ease-in-out; -moz-transition: none .2s ease-in-out; -webkit-transition: none .2s ease-in-out; transition-property: opacity, border-color, background-color; -moz-transition-property: opacity, border-color, background-color; -webkit-transition-property: opacity, border-color, background-color; -o-transition-property: opacity, border-color, background-color; -o-transition-duration: .2s; -o-transition-timing-function: ease-in-out
}
.id-small-nav#id-status {
	transition: none .2s ease-in-out; -moz-transition: none .2s ease-in-out; -webkit-transition: none .2s ease-in-out; transition-property: opacity, border-color, background-color; -moz-transition-property: opacity, border-color, background-color; -webkit-transition-property: opacity, border-color, background-color; -o-transition-property: opacity, border-color, background-color; -o-transition-duration: .2s; -o-transition-timing-function: ease-in-out
}
#blq-panel {
	OVERFLOW: hidden; BACKGROUND: #fff; BORDER-BOTTOM: #ccc 1px solid; POSITION: relative; Z-INDEX: 1; _zoom: 1
}
#blq-masthead .blq-panel-inactive {
	DISPLAY: none
}
#blq-nav-search {
	HEIGHT: 23px; RIGHT: 0px; POSITION: absolute; Z-INDEX: 1; MARGIN-TOP: 8px; WIDTH: 0px; BACKGROUND-COLOR: #fff
}
.blq-masthead-focus #blq-nav-search {
	BORDER-TOP-COLOR: #e4e4e4; BORDER-BOTTOM-COLOR: #e4e4e4; BORDER-RIGHT-COLOR: #e4e4e4; BACKGROUND-COLOR: #e4e4e4; BORDER-LEFT-COLOR: #e4e4e4
}
.blq-masthead-focus #blq-nav-search INPUT#blq-search-q {
	BORDER-TOP-COLOR: #e4e4e4; BORDER-BOTTOM-COLOR: #e4e4e4; BORDER-RIGHT-COLOR: #e4e4e4; BACKGROUND-COLOR: #e4e4e4; BORDER-LEFT-COLOR: #e4e4e4
}
.blq-rtl #blq-nav-search {
	LEFT: 0px; PADDING-RIGHT: 208px
}
#blq-nav {
	PADDING-RIGHT: 212px
}
#blq-nav-search {
	PADDING-RIGHT: 212px
}
.blq-lang-cy-GB .blq-default-domestic #blq-nav {
	PADDING-RIGHT: 175px
}
.blq-lang-cy-GB .blq-default-domestic #blq-nav-search {
	PADDING-RIGHT: 175px
}
.blq-lang-cy-GB .blq-cbeebies-domestic #blq-nav {
	PADDING-RIGHT: 175px
}
.blq-lang-cy-GB .blq-cbeebies-domestic #blq-nav-search {
	PADDING-RIGHT: 175px
}
.blq-lang-cy-GB .blq-journalism-domestic #blq-nav {
	PADDING-RIGHT: 175px
}
.blq-lang-cy-GB .blq-journalism-domestic #blq-nav-search {
	PADDING-RIGHT: 175px
}
.blq-lang-cy-GB .blq-worldservice-domestic #blq-nav {
	PADDING-RIGHT: 175px
}
.blq-lang-cy-GB .blq-worldservice-domestic #blq-nav-search {
	PADDING-RIGHT: 175px
}
.blq-lang-gd-GB .blq-default-domestic #blq-nav {
	PADDING-RIGHT: 175px
}
.blq-lang-gd-GB .blq-default-domestic #blq-nav-search {
	PADDING-RIGHT: 175px
}
.blq-lang-ga-GB .blq-cbbc-domestic #blq-nav {
	PADDING-RIGHT: 175px
}
.blq-lang-ga-GB .blq-cbbc-domestic #blq-nav-search {
	PADDING-RIGHT: 175px
}
.blq-lang-gd-GB .blq-journalism-domestic #blq-nav {
	PADDING-RIGHT: 175px
}
.blq-lang-gd-GB .blq-journalism-domestic #blq-nav-search {
	PADDING-RIGHT: 175px
}
.blq-lang-gd-GB .blq-worldservice-domestic #blq-nav {
	PADDING-RIGHT: 175px
}
.blq-lang-gd-GB .blq-worldservice-domestic #blq-nav-search {
	PADDING-RIGHT: 175px
}
.blq-lang-en-GB .blq-default-worldwide #blq-nav {
	PADDING-RIGHT: 140px
}
.blq-lang-en-GB .blq-default-worldwide #blq-nav-search {
	PADDING-RIGHT: 140px
}
.blq-lang-cy-GB .blq-default-worldwide #blq-nav {
	PADDING-RIGHT: 140px
}
.blq-lang-cy-GB .blq-default-worldwide #blq-nav-search {
	PADDING-RIGHT: 140px
}
.blq-lang-ga-GB .blq-default-worldwide #blq-nav {
	PADDING-RIGHT: 140px
}
.blq-lang-ga-GB .blq-default-worldwide #blq-nav-search {
	PADDING-RIGHT: 140px
}
.blq-lang-en-GB .blq-cbeebies-domestic #blq-nav {
	PADDING-RIGHT: 140px
}
.blq-lang-en-GB .blq-cbeebies-domestic #blq-nav-search {
	PADDING-RIGHT: 140px
}
.blq-lang-ga-GB .blq-cbeebies-domestic #blq-nav {
	PADDING-RIGHT: 140px
}
.blq-lang-ga-GB .blq-cbeebies-domestic #blq-nav-search {
	PADDING-RIGHT: 140px
}
.blq-lang-en-GB .blq-cbeebies-worldwide #blq-nav {
	PADDING-RIGHT: 140px
}
.blq-lang-en-GB .blq-cbeebies-worldwide #blq-nav-search {
	PADDING-RIGHT: 140px
}
.blq-lang-cy-GB .blq-cbeebies-worldwide #blq-nav {
	PADDING-RIGHT: 140px
}
.blq-lang-cy-GB .blq-cbeebies-worldwide #blq-nav-search {
	PADDING-RIGHT: 140px
}
.blq-lang-ga-GB .blq-cbeebies-worldwide #blq-nav {
	PADDING-RIGHT: 140px
}
.blq-lang-ga-GB .blq-cbeebies-worldwide #blq-nav-search {
	PADDING-RIGHT: 140px
}
.blq-lang-en-GB .blq-journalism-worldwide #blq-nav {
	PADDING-RIGHT: 140px
}
.blq-lang-en-GB .blq-journalism-worldwide #blq-nav-search {
	PADDING-RIGHT: 140px
}
.blq-lang-cy-GB .blq-journalism-worldwide #blq-nav {
	PADDING-RIGHT: 140px
}
.blq-lang-cy-GB .blq-journalism-worldwide #blq-nav-search {
	PADDING-RIGHT: 140px
}
.blq-lang-ga-GB .blq-journalism-worldwide #blq-nav {
	PADDING-RIGHT: 140px
}
.blq-lang-ga-GB .blq-journalism-worldwide #blq-nav-search {
	PADDING-RIGHT: 140px
}
.blq-lang-gd-GB .blq-default-worldwide #blq-nav {
	PADDING-RIGHT: 113px
}
.blq-lang-gd-GB .blq-default-worldwide #blq-nav-search {
	PADDING-RIGHT: 113px
}
.blq-lang-gd-GB .blq-cbeebies-domestic #blq-nav {
	PADDING-RIGHT: 113px
}
.blq-lang-gd-GB .blq-cbeebies-domestic #blq-nav-search {
	PADDING-RIGHT: 113px
}
.blq-lang-gd-GB .blq-cbeebies-worldwide #blq-nav {
	PADDING-RIGHT: 113px
}
.blq-lang-gd-GB .blq-cbeebies-worldwide #blq-nav-search {
	PADDING-RIGHT: 113px
}
.blq-lang-gd-GB .blq-journalism-worldwide #blq-nav {
	PADDING-RIGHT: 113px
}
.blq-lang-gd-GB .blq-journalism-worldwide #blq-nav-search {
	PADDING-RIGHT: 113px
}
.blq-has-promo #blq-nav {
	PADDING-RIGHT: 99px
}
.blq-has-promo #blq-nav-search {
	PADDING-RIGHT: 99px
}
.blq-rtl #blq-nav {
	PADDING-LEFT: 200px; PADDING-RIGHT: 0px
}
#blq-nav-search INPUT {
	BOX-SIZING: border-box; BORDER-TOP: 0px; HEIGHT: 1.8em; BORDER-RIGHT: #fff 29px solid; BACKGROUND: #fff; BORDER-BOTTOM: 0px; POSITION: absolute; OUTLINE-WIDTH: 0px; FONT: bold 1em/1.6 Arial, Helvetica, sans-serif; OUTLINE-STYLE: none; LEFT: 0px; BORDER-LEFT: #fff 8px solid; Z-INDEX: 1; OUTLINE-COLOR: invert; WIDTH: 100%; BOTTOM: 0px; _height: 22px; _width: 106px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; _top: 1px; _line-height: 1.5
}
.blq-rtl #blq-nav-search INPUT {
	HEIGHT: 1.6em; BORDER-RIGHT: #fff 8px solid; RIGHT: 0px; LEFT: auto; BORDER-LEFT: #fff 29px solid; PADDING-RIGHT: 1px
}
.blq-has-promo #blq-nav-search INPUT {
	_width: 60px
}
#blq-nav-search BUTTON {
	CURSOR: pointer; BORDER-TOP: 0px; BORDER-RIGHT: 0px; BACKGROUND: 0px 50%; RIGHT: 8px; BORDER-BOTTOM: 0px; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; BORDER-LEFT: 0px; Z-INDEX: 1; PADDING-RIGHT: 0px; BOTTOM: 6px; _bottom: 4px
}
.blq-rtl #blq-nav-search BUTTON {
	RIGHT: auto; LEFT: 8px
}
#blq-nav-search BUTTON SPAN {
	HEIGHT: 13px; DISPLAY: block; WIDTH: 13px
}
#blq-nav-search IMG {
	DISPLAY: block
}
#blq-search-mask {
	HEIGHT: 2px; RIGHT: 0px; POSITION: absolute; DISPLAY: none; TOP: 31px; WIDTH: 107px; BACKGROUND-COLOR: #fff; _right: -2px
}
#blq-autosuggest DIV:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: transparent
}
#blq-autosuggest .gelui-container {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; BACKGROUND: #fff; BORDER-BOTTOM: 0px; POSITION: absolute; COLOR: #333; FONT: 1.3em Arial, Helvetica, sans-serif; LEFT: -9px; BORDER-LEFT: #ccc 1px solid; Z-INDEX: 1; TOP: 8px; WIDTH: 221px
}
#blq-autosuggest .blq-has-promo .gelui-container {
	LEFT: -123px; TOP: 9px
}
.blq-rtl#blq-autosuggest .gelui-container {
	BORDER-RIGHT: #ccc 1px solid; LEFT: -8px; BORDER-LEFT: medium none
}
#blq-autosuggest .blq-default-worldwide .gelui-container {
	WIDTH: 149px
}
#blq-autosuggest .blq-cbeebies-domestic .gelui-container {
	WIDTH: 149px
}
#blq-autosuggest .blq-cbeebies-worldwide .gelui-container {
	WIDTH: 149px
}
#blq-autosuggest .blq-journalism-worldwide .gelui-container {
	WIDTH: 149px
}
#blq-autosuggest LI {
	CURSOR: pointer; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 16px; PADDING-RIGHT: 16px
}
#blq-autosuggest .gelui-active {
	BACKGROUND: #333; COLOR: #fff
}
#blq-autosuggest EM {
	FONT-WEIGHT: bold; FONT-STYLE: normal
}
#blq-ie6-upgrade {
	OVERFLOW: hidden; BACKGROUND: #ebebeb; ZOOM: 1; PADDING-BOTTOM: 15px; PADDING-TOP: 10px; PADDING-LEFT: 20px; DISPLAY: none; PADDING-RIGHT: 20px; _display: block
}
#blq-ie6-upgrade P {
	FONT-FAMILY: arial, sans-serif; LINE-HEIGHT: 1.2
}
#blq-ie6-upgrade SPAN {
	FONT-SIZE: 1.3em; BACKGROUND: url(../img/ie6_upgrade_icons.png) no-repeat 0px -60px; FLOAT: left; PADDING-LEFT: 46px; WIDTH: 540px
}
#blq-ie6-upgrade A {
	FONT-SIZE: 1.4em; BACKGROUND: url(../img/ie6_upgrade_icons.png) no-repeat 0px 0px; FLOAT: left; FONT-WEIGHT: bold; COLOR: #000; PADDING-LEFT: 21px; TEXT-DECORATION: none; MARGIN: 1.4em 38px 0px
}
.blq-rtl #blq-ie6-upgrade SPAN {
	BACKGROUND-POSITION: 100% -60px; PADDING-LEFT: 0px; PADDING-RIGHT: 46px
}
.blq-rtl #blq-ie6-upgrade A {
	BACKGROUND-POSITION: 100% 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 36px; MARGIN-RIGHT: 23px
}
#blq-ie6-upgrade A:focus {
	TEXT-DECORATION: underline
}
#blq-ie6-upgrade A:hover {
	TEXT-DECORATION: underline
}
#blq-ie6-upgrade A SPAN {
	POSITION: absolute; LEFT: -999em
}
.blq-rtl #blq-ie6-upgrade SPAN {
	FLOAT: right
}
.blq-rtl #blq-ie6-upgrade A {
	FLOAT: right
}
.blq-rtl #blq-ie6-upgrade A SPAN {
	RIGHT: -999em
}
#blq-foot {
	POSITION: relative; COLOR: #fff; PADDING-BOTTOM: 13px; DIRECTION: ltr; PADDING-TOP: 16px; FONT: 1.2em/1.6 arial, sans-serif; PADDING-LEFT: 16px; CLEAR: both; PADDING-RIGHT: 16px; WIDTH: 944px; BACKGROUND-COLOR: #646464
}
.blq-rtl #blq-foot {
	DIRECTION: rtl
}
#blq-foot P {
	COLOR: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: normal
}
#blq-foot UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none; MARGIN: 0px; LINE-HEIGHT: 1.3
}
#blq-foot LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none; COLOR: #fff; MARGIN: 0px; LINE-HEIGHT: normal
}
#blq-foot A {
	FONT-WEIGHT: normal; COLOR: #fff; TEXT-DECORATION: none; LINE-HEIGHT: normal
}
#blq-foot A:hover {
	TEXT-DECORATION: underline
}
#blq-foot A:focus {
	TEXT-DECORATION: underline
}
#blq-promo {
	MARGIN: -16px 0px 16px -16px
}
.blq-foot-transparent #blq-promo {
	MARGIN-LEFT: 0px; MARGIN-TOP: 0px
}
#blq-footlinks {
	FLOAT: right; MARGIN: -4px 0px 0px; WIDTH: 500px
}
.blq-rtl #blq-footlinks {
	FLOAT: left
}
#blq-footlinks UL {
	FLOAT: right; CLEAR: both
}
.blq-rtl #blq-footlinks UL {
	FLOAT: left
}
#blq-footlinks .blq-footlinks-row {
	DISPLAY: block
}
#blq-footlinks .blq-footlinks-row LI {
	DISPLAY: inline-block; PADDING-RIGHT: 8px; WIDTH: 150px
}
#blq-foot-blocks {
	MARGIN-BOTTOM: 23px; HEIGHT: 24px; FLOAT: left; WIDTH: 84px
}
.blq-rtl #blq-foot-blocks {
	FLOAT: right
}
#bbccom_bottom {
	HEIGHT: 60px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px 0px 8px 16px; PADDING-RIGHT: 0px; WIDTH: 468px
}
#blq-disclaim {
	FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; CLEAR: left; MARGIN: 0px; LINE-HEIGHT: 16px; PADDING-RIGHT: 0px; WIDTH: 307px
}
.blq-rtl #blq-disclaim {
	FLOAT: right; CLEAR: right
}
#blq-copy {
	FONT-WEIGHT: bold; COLOR: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
#blq-copy IMG {
	POSITION: relative; TOP: 5px
}
#blq-obit {
	DISPLAY: none; VISIBILITY: hidden
}
.blq-rtl #blq-nav-search {
	FONT-SIZE: 1.15em; FONT-FAMILY: BBCNassim, arial, helvetica, sans-serif
}
#id-status {
	BORDER-LEFT-WIDTH: 0px; HEIGHT: 39px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; POSITION: relative; OUTLINE-WIDTH: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; BORDER-TOP-WIDTH: 0px; _width: 0
}
.id-small-nav#id-status {
	BORDER-RIGHT-WIDTH: 1px
}
.blq-rtl .id-small-nav#id-status {
	BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 0px
}
.blq-rtl #id-status {
	TEXT-ALIGN: right
}
#id-status .id-in {
	FONT-SIZE: 0.85em
}
#id-status ABBR {
	BORDER-BOTTOM: 0px; LINE-HEIGHT: 24px
}
#blq-idstatus-text {
	COLOR: inherit; LINE-HEIGHT: 24px
}
#id-status .id-out {
	FONT-WEIGHT: bold; LINE-HEIGHT: 24px
}
#id-status .id-out #blq-idstatus-text {
	FONT-WEIGHT: bold; LINE-HEIGHT: 24px
}
#id-status .id-spinner {
	HEIGHT: 14px; RIGHT: 16px; POSITION: absolute; DISPLAY: block; TOP: 12px; WIDTH: 14px
}
.blq-rtl #id-status .id-spinner {
	RIGHT: auto; LEFT: 16px
}
#id-status .id-status-working .id-spinner {
	BACKGROUND: url(../img/spinner.gif) no-repeat 0px 0px
}
#id-status .id-icon {
	POSITION: absolute; LEFT: 16px; TOP: 12px
}
.blq-rtl #id-status .id-icon {
	RIGHT: 16px; LEFT: auto
}
#id-status .id-icon {
	HEIGHT: 12px; BACKGROUND: url(../img/blq-sprite_alpha.png) no-repeat 0px -316px; DISPLAY: block; LINE-HEIGHT: 0; WIDTH: 13px; _display: none
}
#id-status .id-icon SPAN {
	HEIGHT: 12px; BACKGROUND: url(../img/blq-sprite_alpha.png) no-repeat 0px -316px; DISPLAY: block; LINE-HEIGHT: 0; WIDTH: 13px; _display: none
}
#id-status .id-icon SPAN {
	BACKGROUND-POSITION: 0px -254px; FILTER: alpha(opacity = 0); opacity: 0
}
.blq-js #id-status .id-jsstatusbar {
	VISIBILITY: hidden
}
#id-status .id-gel A {
	OVERFLOW: hidden; MIN-WIDTH: 90px; BORDER-BOTTOM: #fff 0px solid; POSITION: absolute; FONT-WEIGHT: bold; OUTLINE-WIDTH: 0px; PADDING-BOTTOM: 6px; PADDING-TOP: 7px; OUTLINE-STYLE: none; PADDING-LEFT: 38px; LEFT: 0px; MARGIN: 0px; DISPLAY: block; OUTLINE-COLOR: invert; LINE-HEIGHT: 24px; PADDING-RIGHT: 16px; _width: 90px; _padding-left: 16px
}
#blq-idstatus-link {
	OVERFLOW: hidden; MIN-WIDTH: 90px; BORDER-BOTTOM: #fff 0px solid; POSITION: absolute; FONT-WEIGHT: bold; OUTLINE-WIDTH: 0px; PADDING-BOTTOM: 6px; PADDING-TOP: 7px; OUTLINE-STYLE: none; PADDING-LEFT: 38px; LEFT: 0px; MARGIN: 0px; DISPLAY: block; OUTLINE-COLOR: invert; LINE-HEIGHT: 24px; PADDING-RIGHT: 16px; _width: 90px; _padding-left: 16px
}
.blq-masthead-focus #id-status .id-gel A {
	BORDER-BOTTOM: #757575 0px solid
}
#id-status .id-gel A:focus {
	BORDER-BOTTOM-WIDTH: 4px; PADDING-BOTTOM: 5px
}
#id-status .id-gel A:hover {
	BORDER-BOTTOM-WIDTH: 4px; PADDING-BOTTOM: 5px
}
#id-status .id-gel A:active {
	BORDER-BOTTOM-WIDTH: 4px; PADDING-BOTTOM: 5px
}
.blq-rtl #id-status .id-gel A {
	RIGHT: 0px; PADDING-LEFT: 8px; LEFT: auto; PADDING-RIGHT: 38px; _padding-right: 16px
}
#id-status A ABBR {
	BORDER-BOTTOM: 0px
}
.blq-masthead-focus #id-status .id-icon SPAN {
	FILTER: none; opacity: 1
}
.id-panel-css-load-test {
	WIDTH: 50px
}
.blq-masthead-focus #blq-mast A SPAN {
	COLOR: inherit
}
#id-status-nav {
	BACKGROUND: #fff; POSITION: absolute; LEFT: -1px; BORDER-LEFT: #ccc 1px solid; Z-INDEX: 2; DISPLAY: none; TOP: 39px
}
.gelui-overlay-container #id-status-nav {
	DISPLAY: block; TOP: 39px
}
.blq-rtl #id-status-nav {
	BORDER-RIGHT: #ccc 1px solid; RIGHT: -1px; LEFT: auto; BORDER-LEFT: medium none
}
#id-status-nav UL {
	Z-INDEX: 1
}
#id-status-nav H2 {
	OVERFLOW: hidden; POSITION: absolute; LEFT: -2500px; WIDTH: 1px
}
#id-status-nav A {
	FONT-SIZE: 1.3em; FONT-WEIGHT: bold; COLOR: #333; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 16px; DISPLAY: block; LINE-HEIGHT: 24px; PADDING-RIGHT: 16px
}
#id-status-nav A:hover {
	COLOR: #fff; OUTLINE-WIDTH: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; BACKGROUND-COLOR: #333
}
#id-status-nav A:focus {
	COLOR: #fff; OUTLINE-WIDTH: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; BACKGROUND-COLOR: #333
}
#id-status-nav A:active {
	COLOR: #fff; OUTLINE-WIDTH: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; BACKGROUND-COLOR: #333
}
#bbccookies {
	PADDING-BOTTOM: 16px; PADDING-TOP: 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #323232
}
#bbccookies-prompt {
	OVERFLOW: hidden; POSITION: relative; MARGIN: 0px auto; WIDTH: 740px
}
#bbccookies-prompt {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
#bbccookies-prompt BUTTON {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
#bbccookies-prompt H2 {
	FONT-SIZE: 1.8em; FLOAT: left; FONT-WEIGHT: bold; COLOR: #fff; TEXT-ALIGN: right; LINE-HEIGHT: 1.12; WIDTH: 140px
}
#bbccookies-prompt P {
	FONT-SIZE: 1.3em; FLOAT: left; COLOR: #bebebe; MARGIN-LEFT: 20px; LINE-HEIGHT: 1.24; WIDTH: 424px
}
#bbccookies-prompt A {
	FONT-SIZE: 1em; FONT-WEIGHT: bold; COLOR: #f6a21d; TEXT-DECORATION: none; LINE-HEIGHT: 1.24
}
#bbccookies-prompt A:hover {
	COLOR: #fff
}
#bbccookies-prompt UL {
	POSITION: absolute; FONT-WEIGHT: bold; LEFT: 600px; BOTTOM: 0px
}
#bbccookies-continue BUTTON:hover {
	COLOR: #fff
}
#bbccookies-more A:hover {
	COLOR: #fff
}
#bbccookies-prompt BUTTON {
	BACKGROUND-IMAGE: url(../img/bbccookies/cookie_prompt_sprite.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: transparent
}
#bbccookies-more A {
	BACKGROUND-IMAGE: url(../img/bbccookies/cookie_prompt_sprite.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: transparent
}
#bbccookies-continue BUTTON {
	CURSOR: pointer; FONT-SIZE: 1.8em; BORDER-TOP: 0px; BORDER-RIGHT: 0px; BORDER-BOTTOM: 0px; BACKGROUND-POSITION: 0px -251px; COLOR: #f6a21d; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 24px; BORDER-LEFT: 0px; PADDING-RIGHT: 0px
}
#bbccookies-continue BUTTON:hover {
	BACKGROUND-POSITION: 0px -314px
}
#bbccookies-more A {
	FONT-SIZE: 1.3em; BACKGROUND-POSITION: 1px -123px; COLOR: #f6a21d; PADDING-BOTTOM: 1px; PADDING-TOP: 3px; PADDING-LEFT: 27px; DISPLAY: block; LINE-HEIGHT: 1.38; PADDING-RIGHT: 0px
}
#bbccookies-more A:hover {
	BACKGROUND-POSITION: 1px -187px
}
#blq-panel .blq-masthead-container {
	PADDING-BOTTOM: 11px; PADDING-TOP: 11px; PADDING-LEFT: 8px; MIN-HEIGHT: 72px; PADDING-RIGHT: 8px; _height: 72px
}
#blq-panel .blq-panel-container {
	OVERFLOW: hidden
}
#blq-panel A {
	COLOR: #000; TEXT-DECORATION: none
}
#blq-panel A:focus {
	TEXT-DECORATION: underline
}
#blq-panel A:active {
	TEXT-DECORATION: underline
}
#blq-panel A:hover {
	TEXT-DECORATION: underline
}
#blq-panel .panel-header {
	FLOAT: left; MIN-HEIGHT: 63px; _height: 63px
}
#blq-panel .panel-component {
	FLOAT: left; MIN-HEIGHT: 63px; _height: 63px
}
.blq-rtl #blq-panel .panel-header {
	FLOAT: right
}
.blq-rtl #blq-panel .panel-component {
	FLOAT: right
}
#blq-panel .panel-paneltype-more .panel-component {
	MARGIN-LEFT: 113px
}
.blq-rtl #blq-panel .panel-component {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 8px
}
#blq-panel .panel-loading {
	HEIGHT: 40px; BACKGROUND: url(../img/promo_spinner.gif) no-repeat 0px 0px; POSITION: absolute; MARGIN-LEFT: -20px; LEFT: 50%; MARGIN-TOP: -20px; TOP: 50%; WIDTH: 40px
}
#blq-panel .panel-loading SPAN {
	POSITION: absolute; TOP: -999em
}
#blq-panel .panel-error {
	HEIGHT: 52px; BACKGROUND-IMAGE: url(../img/degraded_content_icon.gif); BACKGROUND-REPEAT: no-repeat; POSITION: relative; BACKGROUND-POSITION: 0px 2px; PADDING-LEFT: 40px; MARGIN-LEFT: -135px; LEFT: 50%; MARGIN-TOP: 7px; WIDTH: 230px
}
#blq-panel .panel-error H2 {
	FONT-SIZE: 1.54em; POSITION: relative; COLOR: #757575; MARGIN-TOP: -4px
}
#blq-panel .panel-error P {
	COLOR: #757575; MARGIN-TOP: 3px
}
#blq-panel-more .panel-header {
	MAX-WIDTH: 210px; _width: 210px
}
#blq-panel-more .panel-header H2 A {
	TEXT-TRANSFORM: uppercase; COLOR: #333; FONT: 2.9em/1 "Gill Sans", "Gill Sans MT", Arial, sans-serif
}
#blq-panel-more .panel-header-links {
	MARGIN-TOP: 21px
}
#blq-panel-more .panel-header H2 A:hover {
	TEXT-DECORATION: none
}
.blq-rtl #blq-panel-more .panel-header {
	FLOAT: right; TEXT-ALIGN: right
}
#blq-panel-more .panel-links {
	FLOAT: left
}
.blq-rtl #blq-panel-more .panel-links {
	FLOAT: left
}
#blq-panel-more .panel-links UL {
	FLOAT: left
}
#blq-panel-more .panel-links A {
	FONT-SIZE: 1.4em; COLOR: #333; PADDING-LEFT: 7px; DISPLAY: block; LINE-HEIGHT: 1.8; WIDTH: 135px
}
#blq-panel-more .panel-header-links {
	FONT-SIZE: 1.4em; COLOR: #333; PADDING-LEFT: 7px; DISPLAY: block; LINE-HEIGHT: 1.8; WIDTH: 135px
}
#blq-panel-more .panel-links A:focus {
	COLOR: #fff; OUTLINE-WIDTH: 0px; OUTLINE-STYLE: none; TEXT-DECORATION: none; OUTLINE-COLOR: invert; BACKGROUND-COLOR: #333
}
#blq-panel-more .panel-links A:active {
	COLOR: #fff; OUTLINE-WIDTH: 0px; OUTLINE-STYLE: none; TEXT-DECORATION: none; OUTLINE-COLOR: invert; BACKGROUND-COLOR: #333
}
#blq-panel-more .panel-links A:hover {
	COLOR: #fff; OUTLINE-WIDTH: 0px; OUTLINE-STYLE: none; TEXT-DECORATION: none; OUTLINE-COLOR: invert; BACKGROUND-COLOR: #333
}
#blq-panel-more .panel-header-links:focus {
	COLOR: #fff; OUTLINE-WIDTH: 0px; OUTLINE-STYLE: none; TEXT-DECORATION: none; OUTLINE-COLOR: invert; BACKGROUND-COLOR: #333
}
#blq-panel-more .panel-header-links:active {
	COLOR: #fff; OUTLINE-WIDTH: 0px; OUTLINE-STYLE: none; TEXT-DECORATION: none; OUTLINE-COLOR: invert; BACKGROUND-COLOR: #333
}
#blq-panel-more .panel-header-links:hover {
	COLOR: #fff; OUTLINE-WIDTH: 0px; OUTLINE-STYLE: none; TEXT-DECORATION: none; OUTLINE-COLOR: invert; BACKGROUND-COLOR: #333
}
#blq-eng {
	FONT-SIZE: 1.7em; HEIGHT: 22px; COLOR: #000; PADDING-TOP: 3px
}
#blq-panel-promo {
	FONT-SIZE: 1.3em; POSITION: relative
}
#blq-panel-promo .panel-component A {
	COLOR: #323232
}
#blq-panel-promo .panel-header H2 {
	MARGIN: 0px
}
#blq-panel-promo .panel-header A {
	FONT-WEIGHT: bold; COLOR: #333; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 8px; DISPLAY: block; LINE-HEIGHT: 1.8; PADDING-RIGHT: 8px; WIDTH: 88px
}
#blq-panel-promo .panel-header A.panel-header-link:focus {
	COLOR: #fff; TEXT-DECORATION: none; BACKGROUND-COLOR: #333
}
#blq-panel-promo .panel-header A.panel-header-link:active {
	COLOR: #fff; TEXT-DECORATION: none; BACKGROUND-COLOR: #333
}
#blq-panel-promo .panel-header A.panel-header-link:hover {
	COLOR: #fff; TEXT-DECORATION: none; BACKGROUND-COLOR: #333
}
#blq-panel-promo .panel-header IMG {
	MARGIN-BOTTOM: 14px; MARGIN-LEFT: -8px; MARGIN-TOP: 4px; DISPLAY: block
}
#blq-panel-promo .panel-links {
	MARGIN: 0px 14px 0px 0px; WIDTH: 104px
}
#blq-panel-promo .panel-links A {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 8px; MARGIN-TOP: 0px; DISPLAY: block; LINE-HEIGHT: 1.8; PADDING-RIGHT: 8px
}
#blq-panel-promo .panel-links .panel-first A:focus {
	COLOR: #fff; TEXT-DECORATION: none; BACKGROUND-COLOR: #333
}
#blq-panel-promo .panel-links .panel-first A:active {
	COLOR: #fff; TEXT-DECORATION: none; BACKGROUND-COLOR: #333
}
#blq-panel-promo .panel-links .panel-first A:hover {
	COLOR: #fff; TEXT-DECORATION: none; BACKGROUND-COLOR: #333
}
#blq-panel-promo .panel-promo-1 {
	CURSOR: pointer; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 124px; MARGIN: 4px 0px 0px; PADDING-RIGHT: 5px; WIDTH: 117px
}
#blq-panel-promo .active.panel-clickable.panel-promo-1 {
	BACKGROUND-COLOR: #ededed
}
#blq-panel-promo .panel-clickable.panel-promo-1 A:hover {
	TEXT-DECORATION: none
}
#blq-panel-promo .active.panel-clickable.panel-promo-1 IMG {
	FILTER: alpha(opacity = 70); opacity: .7
}
#blq-panel-promo .panel-promo-1 H3 {
	MARGIN: 0px; LINE-HEIGHT: 1.24
}
#blq-panel-promo .panel-promo-1 A {
	MARGIN: 0px; LINE-HEIGHT: 1.24
}
#blq-panel-promo .panel-promo-1 P {
	MARGIN: 0px; LINE-HEIGHT: 1.24
}
#blq-panel-promo .panel-promo-1 H3 A {
	FONT-WEIGHT: bold
}
#blq-panel-promo .panel-promo-1 IMG {
	POSITION: absolute; LEFT: 0px; BORDER-LEFT: #000 4px solid; TOP: 0px
}
#blq-panel-promo .panel-theme-event IMG {
	BORDER-TOP-COLOR: #ff6f33; BORDER-BOTTOM-COLOR: #ff6f33; BORDER-RIGHT-COLOR: #ff6f33; BORDER-LEFT-COLOR: #ff6f33
}
#blq-panel-promo A.panel-theme-event {
	COLOR: #ff6f33
}
#blq-panel-promo .panel-theme-event H3 A {
	COLOR: #ff6f33
}
#blq-panel-promo .panel-theme-torch IMG {
	BORDER-TOP-COLOR: #ff6f33; BORDER-BOTTOM-COLOR: #ff6f33; BORDER-RIGHT-COLOR: #ff6f33; BORDER-LEFT-COLOR: #ff6f33
}
#blq-panel-promo A.panel-theme-torch {
	COLOR: #ff6f33
}
#blq-panel-promo .panel-theme-torch H3 A {
	COLOR: #ff6f33
}
#blq-panel-promo .panel-theme-festival IMG {
	BORDER-TOP-COLOR: #c30f88; BORDER-BOTTOM-COLOR: #c30f88; BORDER-RIGHT-COLOR: #c30f88; BORDER-LEFT-COLOR: #c30f88
}
#blq-panel-promo A.panel-theme-festival {
	COLOR: #c30f88
}
#blq-panel-promo .panel-theme-festival H3 A {
	COLOR: #c30f88
}
#blq-panel-promo .panel-theme-sport IMG {
	BORDER-TOP-COLOR: #000; BORDER-BOTTOM-COLOR: #000; BORDER-RIGHT-COLOR: #000; BORDER-LEFT-COLOR: #000
}
#blq-panel-promo A.panel-theme-sport {
	COLOR: #000
}
#blq-panel-promo .panel-theme-sport H3 A {
	COLOR: #000
}
