#ui_controls_css {
	display: none;
}
.selector_container {
	-ms-zoom: 1;
}
.checkbox_container {
	-ms-zoom: 1;
}
.selector_container {
	background: rgb(255, 255, 255);
}
.selector_container table.selector_table {
	margin: 0px; border: 1px solid rgb(192, 202, 213); width: 100%; z-index: 0;
}
.selector_container table td {
	vertical-align: middle;
}
.selector_container td.selector {
	padding: 2px 0px 0px 2px; border: currentColor; height: 1%; overflow: hidden; position: relative;
}
.selector_container.big td.selector {
	padding: 3px 0px 0px 3px;
}
.selector_container td.selector::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.selector_container td.selector .placeholder_wrap1 {
	width: 0px; height: 0px; position: relative;
}
.selector_container td.selector .placeholder_wrap2 {
	left: 3px; top: 2px; position: absolute;
}
.selector_container.big td.selector .placeholder_wrap2 {
	left: 7px; top: 4px;
}
.selector_container td.selector .placeholder_content {
	line-height: normal; white-space: nowrap;
}
.selector_container td.selector .placeholder_cover {
	left: 0px; top: 0px; right: 0px; bottom: 0px; position: absolute;
}
.selector_container td.selector input {
	font: 11px/1.09em tahoma, verdana, arial, sans-serif; margin: 0px 0px 1px; padding: 1px 0px 1px 3px !important; border: currentColor; width: 100px; height: 15px; float: left; position: relative; font-size-adjust: none; font-stretch: normal;
}
.selector_container.big td.selector input {
	padding: 3px 0px 1px 7px !important; margin-bottom: 6px;
}
.selector_container.dropdown_container td.selector input {
	cursor: default;
}
.selector_container td.selector input.ph {
	color: rgb(175, 184, 194);
}
.selector_container td.selector input.selected {
	color: rgb(0, 0, 0);
}
.selector_container td.selector input.focused {
	color: rgb(0, 0, 0);
}
.selector_container td.selector .token {
	background: rgb(218, 226, 232); border-width: 0px 2px 2px 0px; border-style: solid; border-color: rgb(255, 255, 255); margin: 0px; padding: 2px 2px 3px 4px !important; color: rgb(0, 0, 0); line-height: 1em; font-size: 1em; float: left; display: block; white-space: nowrap; cursor: default;
}
.selector_container.big td.selector .token {
	border-width: 0px; margin: 0px 3px 3px 0px; padding: 5px 3px 6px 7px !important; border-radius: 2px;
}
.selector_container td.selector .token_hover {
	background: rgb(88, 125, 161); color: rgb(255, 255, 255);
}
.selector_container td.selector .token_selected {
	background: rgb(42, 88, 131); color: rgb(255, 255, 255);
}
.selector_container td.selector .token span.x {
	background: url("/images/tag_remove.png") no-repeat center / 8px 8px; margin: 2px 0px 0px 2px !important; padding: 0px; width: 16px; height: 8px !important; vertical-align: top; display: inline-block; cursor: pointer;
}
.selector_container td.selector .token span.x_hover {
	background: url("/images/tag_remove.png") no-repeat center / 8px 8px; margin: 2px 0px 0px 2px !important; padding: 0px; width: 16px; height: 8px !important; vertical-align: top; display: inline-block; cursor: pointer;
}
.is_2x .selector_container td.selector .token span.x {
	background-image: url("/images/tag_remove_2x.png");
}
.is_2x .selector_container td.selector .token span.x_hover {
	background-image: url("/images/tag_remove_2x.png");
}
.selector_container td.selector_dropdown {
	background: url("/images/darr_dd_out.gif") no-repeat center / 7px 4px; border-width: medium medium medium 1px; border-style: none none none solid; border-color: currentColor currentColor currentColor rgb(255, 255, 255); padding: 0px; width: 16px; z-index: 0; cursor: default;
}
.is_2x .selector_container td.selector_dropdown {
	background-image: url("/images/darr_dd_out_2x.gif");
}
.selector_container.big td.selector_dropdown {
	background: url("/images/wide_dd.gif") no-repeat 2px 2px / 21px 24px; width: 25px;
}
.is_2x .selector_container.big td.selector_dropdown {
	background-image: url("/images/wide_dd_2x.png");
}
.selector_container.big td.selector_dropdown:hover {
	cursor: pointer;
}
.selector_container.selector_focused td.selector_dropdown {
	border-left-color: rgb(210, 219, 224); border-left-width: 1px; border-left-style: solid; background-color: rgb(225, 232, 237);
}
.selector_container.selector_focused.big td.selector_dropdown {
	border-left-color: transparent; background-color: transparent;
}
.selector_container.disabled {
	background: rgb(245, 245, 245);
}
.selector_container.disabled table.selector_table {
	border-color: rgb(202, 202, 202);
}
.selector_container.disabled td.selector input {
	color: rgb(119, 119, 119);
}
.selector_container.disabled td.selector .token {
	background: rgb(231, 231, 231); color: rgb(119, 119, 119);
}
.selector_container.disabled td.selector_dropdown {
	background-position: center; border-left-color: transparent; background-image: url("/images/darr_dd_disabled.gif");
}
.is_2x .selector_container.disabled td.selector_dropdown {
	background-image: url("/images/darr_dd_disabled_2x.gif");
}
.selector_container.disabled.big td.selector_dropdown {
	background-image: url("/images/wide_dd.gif");
}
.is_2x .selector_container.disabled.big td.selector_dropdown {
	background-image: url("/images/wide_dd_2x.png");
}
.results_container {
	position: absolute; z-index: 100;
}
.result_list_shadow {
	margin: 0px; border: 0px currentColor; left: 0px; height: 2px; overflow: hidden; display: none; position: absolute; z-index: 100;
}
.reverse.result_list_shadow {
	visibility: hidden;
}
.result_list_shadow .shadow1 {
	height: 1px; overflow: hidden; opacity: 0.12; background-color: rgb(0, 0, 0);
}
.result_list_shadow .shadow2 {
	height: 1px; overflow: hidden; opacity: 0.12; background-color: rgb(0, 0, 0);
}
.result_list_shadow .shadow2 {
	opacity: 0.05;
}
.result_list {
	border-width: 1px 0px 0px; border-style: solid; border-color: rgb(173, 173, 173); margin: -1px 0px 0px; left: 0px; position: absolute; z-index: 100; -ms-overflow-y: hidden; opacity: 0.95;
}
.result_list_scrollable {
	border-width: 1px 0px; border-style: solid; border-color: rgb(173, 173, 173); -ms-overflow-y: scroll;
}
.reverse.result_list_scrollable {
	border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
.result_list ul {
	background: rgb(255, 255, 255); margin: 0px; padding: 0px; position: relative; -ms-zoom: 1;
}
.result_list li.disabled {
	background: rgb(238, 238, 238); border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); padding: 5px 5px 4px 6px; text-align: left; cursor: default;
}
.reverse.result_list li.disabled {
	border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
.result_list ul li {
	border-width: 0px 1px 1px; border-style: solid; border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(255, 255, 255); margin: -1px 0px 0px; padding: 3px 0px 3px 10px; text-align: left; color: rgb(0, 0, 0); line-height: 1.18em; overflow: hidden; font-size: 1em; list-style-type: none; position: relative; cursor: pointer;
}
.big .result_list ul li {
	padding-top: 5px; padding-bottom: 5px;
}
.dividing_line ul li {
	border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.result_list ul li.first {
	padding-top: 3px; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
.big .result_list ul li.first {
	padding-top: 5px;
}
.result_list ul li.last {
	border-bottom-color: rgb(173, 173, 173); border-bottom-width: 1px; border-bottom-style: solid;
}
.result_list ul li.active {
	background: rgb(88, 125, 161); border: 1px solid rgb(42, 88, 131); color: rgb(255, 255, 255); padding-top: 2px; z-index: 1;
}
.big .result_list ul li.active {
	padding-top: 4px;
}
.result_list ul li.active.first {
	padding-top: 2px; margin-top: 0px;
}
.big .result_list ul li.active.first {
	padding-top: 4px;
}
.result_list_scrollable ul li.last {
	padding-bottom: 3px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 0px; border-bottom-style: solid;
}
.big .result_list_scrollable ul li.last {
	padding-bottom: 5px;
}
.result_list_scrollable ul li.active.first {
	border-top-color: rgb(42, 88, 131); border-top-width: 1px; border-top-style: solid;
}
.result_list_scrollable ul li.active.last {
	padding-bottom: 2px; border-bottom-color: rgb(42, 88, 131); border-bottom-width: 1px; border-bottom-style: solid;
}
.big .result_list_scrollable ul li.active.last {
	padding-bottom: 4px;
}
.result_list ul li span {
	color: rgb(119, 119, 119); padding-top: 2px; font-size: 7pt; display: block;
}
.big .result_list ul li span {
	padding-top: 3px; font-size: 11px;
}
.result_list ul li em {
	background: rgb(218, 226, 232); color: rgb(0, 0, 0); font-style: normal; font-weight: bold;
}
.result_list ul li.active span {
	color: rgb(170, 187, 212);
}
.result_list ul li.active em {
	background: rgb(42, 88, 131); color: rgb(255, 255, 255);
}
.mobile_selector_container input {
	-webkit-appearance: none;
}
.mobile_selector_container .result_list {
	opacity: 1;
}
.checkbox_container {
	cursor: pointer;
}
.radiobtn_container {
	cursor: pointer;
}
.checkbox_container table {
	margin: 5px 0px; width: 100%; z-index: 0;
}
.radiobtn_container table {
	margin: 5px 0px; width: 100%; z-index: 0;
}
.checkbox_container table td {
	vertical-align: middle;
}
.radiobtn_container table td {
	vertical-align: middle;
}
.checkbox_container table td.checkbox {
	padding: 2px 0px 0px; width: 20px;
}
.checkbox_container table td.checkbox_label {
	padding: 0px 0px 0px 3px; text-align: left; line-height: 140%;
}
.radiobtn_container table td.radiobtn_label {
	padding: 0px 0px 0px 3px; text-align: left; line-height: 140%;
}
.checkbox_container table td.checkbox_label {
	padding-top: 1px;
}
.checkbox_container table td .checkbox_on {
	background: url("/images/icons/check.gif?1") no-repeat 0px 0px; width: 15px; height: 14px; overflow: hidden;
}
.checkbox_container table td .checkbox_off {
	background: url("/images/icons/check.gif?1") no-repeat 0px 0px; width: 15px; height: 14px; overflow: hidden;
}
.checkbox_container table td .checkbox_on_over {
	background: url("/images/icons/check.gif?1") no-repeat 0px 0px; width: 15px; height: 14px; overflow: hidden;
}
.checkbox_container table td .checkbox_off_over {
	background: url("/images/icons/check.gif?1") no-repeat 0px 0px; width: 15px; height: 14px; overflow: hidden;
}
.checkbox_container table td .checkbox_on {
	background-position: 0px -14px;
}
.checkbox_container table td .checkbox_off_over {
	background-position: 0px -28px;
}
.checkbox_container table td .checkbox_on_over {
	background-position: 0px -42px;
}
.radiobtn_container table td.radiobtn {
	padding: 1px 0px 0px; width: 20px;
}
.radiobtn_container input {
	display: none;
}
.radiobtn_container table td .radiobtn_on {
	width: 15px; height: 14px; overflow: hidden;
}
.radiobtn_container table td .radiobtn_off {
	width: 15px; height: 14px; overflow: hidden;
}
.radiobtn_container table td .radiobtn_on_over {
	width: 15px; height: 14px; overflow: hidden;
}
.radiobtn_container table td .radiobtn_off_over {
	width: 15px; height: 14px; overflow: hidden;
}
.radiobtn_container table td .radiobtn_on div {
	background: url("/images/icons/radio.gif") no-repeat 0px 0px / 14px 56px; width: 14px; height: 56px; -ms-behavior: url(/js/iepngfix.htc);
}
.radiobtn_container table td .radiobtn_off div {
	background: url("/images/icons/radio.gif") no-repeat 0px 0px / 14px 56px; width: 14px; height: 56px; -ms-behavior: url(/js/iepngfix.htc);
}
.radiobtn_container table td .radiobtn_on_over div {
	background: url("/images/icons/radio.gif") no-repeat 0px 0px / 14px 56px; width: 14px; height: 56px; -ms-behavior: url(/js/iepngfix.htc);
}
.radiobtn_container table td .radiobtn_off_over div {
	background: url("/images/icons/radio.gif") no-repeat 0px 0px / 14px 56px; width: 14px; height: 56px; -ms-behavior: url(/js/iepngfix.htc);
}
.is_2x .radiobtn_container table td .radiobtn_on div {
	background-image: url("/images/icons/radio_2x.gif");
}
.is_2x .radiobtn_container table td .radiobtn_off div {
	background-image: url("/images/icons/radio_2x.gif");
}
.is_2x .radiobtn_container table td .radiobtn_on_over div {
	background-image: url("/images/icons/radio_2x.gif");
}
.is_2x .radiobtn_container table td .radiobtn_off_over div {
	background-image: url("/images/icons/radio_2x.gif");
}
.radiobtn_container table td .radiobtn_on div {
	margin-top: -14px;
}
.radiobtn_container table td .radiobtn_off_over div {
	margin-top: -28px;
}
.radiobtn_container table td .radiobtn_on_over div {
	margin-top: -42px;
}
a.dd_menu_target:hover {
	text-decoration: none !important;
}
a.dd_link {
	background: url("/images/flydead.gif") no-repeat right 1px; padding-right: 17px; font-weight: normal; text-decoration: none;
}
.pageBody a.dd_link {
	background: url("/images/flydead.gif") no-repeat right 1px; padding-right: 17px; font-weight: normal; text-decoration: none;
}
.dd_menu {
	position: absolute; z-index: 1500;
}
.dd_menu_header {
	border: 1px solid rgb(59, 103, 152); position: absolute; z-index: 1500; cursor: pointer; _margin-left: 1px;
}
.dd_menu_header div {
	background: url("/images/flydead.gif") no-repeat right -15px rgb(109, 143, 179); border-width: 1px; border-style: solid; border-color: rgb(126, 156, 188) rgb(92, 130, 171) rgb(109, 143, 179); padding: 2px 17px 2px 5px; color: rgb(255, 255, 255); line-height: 1.27em; white-space: nowrap;
}
.leftArrow.dd_menu_header div {
	background: url("/images/flydead.gif") no-repeat 1px -15px rgb(109, 143, 179); padding-right: 5px; padding-left: 16px;
}
.dd_header_hover {
	border-color: rgb(218, 225, 232); opacity: 0.6;
}
.dd_header_hover div {
	background: url("/images/flydead.gif") no-repeat right 3px rgb(218, 225, 232); border-color: rgb(218, 225, 232); color: rgb(43, 88, 122);
}
.dd_menu_body {
	margin-left: -1px; position: absolute; z-index: 1499; _margin-left: 0;
}
.dd_menu_rows {
	background: rgb(255, 255, 255); margin: 0px; border: 1px solid rgb(150, 170, 190); position: relative; z-index: 1499;
}
.dd_menu_rows a {
	background: no-repeat rgb(255, 255, 255); padding: 4px 6px 0px; height: 18px; line-height: 1.09em; display: block; white-space: nowrap; cursor: pointer;
}
.dd_menu_rows a:hover {
	text-decoration: none; background-color: rgb(218, 226, 232);
}
.dd_menu_rows a.dd_a_hover {
	text-decoration: none; background-color: rgb(218, 226, 232);
}
.dd_menu_rows2 {
	column-gap: 0px; break-inside: avoid; -moz-column-gap: 0; -webkit-column-gap: 0; -webkit-column-break-inside: avoid;
}
.dd_menu_shad_l div {
	width: 1px;
}
.dd_menu_shad_r div {
	width: 1px;
}
.dd_menu_shad_l {
	background: rgb(0, 0, 0); width: 1px; overflow: hidden; opacity: 0.06;
}
.dd_menu_shad_b {
	background: rgb(0, 0, 0); height: 2px; overflow: hidden; margin-top: -1px; position: relative; z-index: 148; opacity: 0.07;
}
.dd_menu_shad_b2 {
	background: rgb(0, 0, 0); height: 2px; overflow: hidden; margin-top: -1px; position: relative; z-index: 148; opacity: 0.07;
}
.dd_menu_shad_b2 {
	opacity: 0.05;
}
.dd_menu_shad_r {
	background: rgb(0, 0, 0); width: 1px; overflow: hidden; opacity: 0.06;
}
.disabled.checkbox_container {
	cursor: default; opacity: 0.5;
}
.disabled.checkbox_container td.checkbox div.checkbox_on_over {
	background-position: 0px -14px;
}
.disabled.checkbox_container td.checkbox div.checkbox_off_over {
	
}
.dd_menu_checkable .dd_menu_rows a div {
	width: 20px; height: 20px; float: left;
}
.dd_menu_rows a img {
	margin-right: 3px; float: left; visibility: hidden;
}
.dd_menu_rows a.checked img {
	visibility: visible;
}
.inlContainer {
	display: none; position: absolute; z-index: 10;
}
.inlFrame00 {
	background: rgb(197, 206, 215); width: 5px; opacity: 0.75;
}
.inlFrame01 {
	background: rgb(197, 206, 215); width: 5px; opacity: 0.75;
}
.inlFrame02 {
	background: rgb(197, 206, 215); width: 5px; opacity: 0.75;
}
.inlFrame10 {
	background: rgb(197, 206, 215); width: 5px; opacity: 0.75;
}
.inlFrame12 {
	background: rgb(197, 206, 215); width: 5px; opacity: 0.75;
}
.inlFrame20 {
	background: rgb(197, 206, 215); width: 5px; opacity: 0.75;
}
.inlFrame21 {
	background: rgb(197, 206, 215); width: 5px; opacity: 0.75;
}
.inlFrame22 {
	background: rgb(197, 206, 215); width: 5px; opacity: 0.75;
}
.inlFrame01 {
	width: auto;
}
.inlFrame21 {
	width: auto;
}
.inlFrame01 div {
	height: 5px;
}
.inlFrame21 div {
	height: 5px;
}
.inlContainer table {
	border: 0px currentColor; border-collapse: collapse;
}
.inlContainer td {
	padding: 0px; border: 0px currentColor;
}
.inlMainTable td.inlContent {
	background: rgb(242, 242, 242); padding: 7px; border: 1px solid rgb(170, 170, 170);
}
.inlButtonOk {
	width: 50%;
}
.inlButtonCancel {
	width: 50%;
}
.inlContentTable .button_yes {
	margin: 7px 0px 0px;
}
.inlContentTable .button_no {
	margin: 7px 0px 0px;
}
.inlContentTable .button_no {
	margin-left: 7px;
}
.inlInput {
	margin: 0px;
}
div.box_dark .selector_container td.selector {
	padding: 5px 0px 4px 6px;
}
div.box_dark .selector_container td.selector input {
	padding: 0px !important;
}
div.box_dark .selector_container td.selector_dropdown {
	background: url("/images/wide_dd.gif") no-repeat 2px 2px rgb(255, 255, 255); width: 25px;
}
div.box_dark .selector_container.selector_focused td.selector_dropdown {
	border-left-color: transparent;
}
div.box_dark .selector_container .result_list ul li {
	padding-top: 5px; padding-bottom: 5px;
}
div.box_dark .selector_container .result_list ul li.first {
	padding-top: 5px;
}
div.box_dark .selector_container .result_list ul li.active {
	padding-top: 4px;
}
div.box_dark .selector_container .result_list ul li.active.first {
	padding-top: 4px;
}
div.box_dark .selector_container .result_list ul li span {
	padding-top: 3px; font-size: 11px;
}
.dd_dark .dd_menu_header div {
	border-color: rgb(109, 143, 179); background-color: rgb(109, 143, 179);
}
.dd_dark .dd_menu_header {
	border-color: rgb(109, 143, 179);
}
.dd_dark .dd_header_hover div {
	border-color: rgb(218, 225, 232); background-color: rgb(218, 225, 232);
}
.dd_dark .dd_header_hover {
	border-color: rgb(218, 225, 232);
}
