.bg {
	background-size: cover;
}
#J-slide {
	background-image: url("https://i.alipayobjects.com/e/201206/2qz2UvlUVF.gif");
}
.topbar-wrap .mobile .icon-mobile {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.topmenu-item-dropdown .icon-dropdown {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.topmenu-item-dropdown a:hover .icon-dropdown {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.topmenu-item-dropdown-hover .icon-dropdown {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
#logo-noflash {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.ui-logo-alipay {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.nav-item .angle {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
#home .nav-item-link {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
#personal .nav-item-link {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
#personal .nav-item-link:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
#personal .nav-item-link-active {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
#payment .nav-item-link {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
#payment .nav-item-link:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
#payment .nav-item-link-active {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
#security .nav-item-link {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
#security .nav-item-link:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
#security .nav-item-link-active {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
#business .icon-nav-split {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
#business .nav-item-link {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
#business .nav-item-link:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
#business .nav-item-link-active {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.slide-number a {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.slide-number .slide-number-active {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
#pay-quickly .title-link {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
#pay-life .title-link {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
#pay-anywhere .title-link {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.product-item .link .icon-youhui {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.about-item .icon-title-safety {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.about-item .icon-title-vip {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.about-item .icon-title-abc {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.about-item .icon-about-safety {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.about-item .icon-about-vip {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.about-item .icon-about-abc {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.partner-item .more .icon-more {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.partner-item .cnt .business-pic {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.partner-item .ui-list-item .icon-list {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.icon-partner-bank {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.icon-partner-security {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.auth .icon-zfywxk {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.auth .icon-zfywxk:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.auth .icon-pcirk {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.auth .icon-pcirk:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.auth .icon-visayz {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.auth .icon-visayz:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.auth .icon-vsjmfw {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.auth .icon-vsjmfw:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.auth .icon-zjwm {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.auth .icon-zjwm:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.auth .icon-wlgs {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.auth .icon-wlgs:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.auth .icon-ppaa {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.auth .icon-ppaa:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.auth .icon-hzdt {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.auth .icon-hzdt:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.auth .icon-aqff {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.auth .icon-aqff:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.auth .icon-rzcx {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.auth .icon-rzcx:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.follow_btn {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.follow_btn:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.partner-item .cnt .business-pic-last i {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.partner-item .cnt .business-pic-last .a {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.partner-item .cnt .business-pic-last .b {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.partner-item .cnt .business-pic-last .c {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.partner-item .cnt .business-pic-last .d {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.partner-item .cnt .business-pic-last .e {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.partner-item .cnt .business-pic-last .f {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.partner-item .cnt .business-pic-last .g {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.partner-item .cnt .business-pic-last .h {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.partner-item .cnt .business-pic-last .i {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.partner-item .cnt .business-pic-last .j {
	background-image: url("https://i.alipayobjects.com/e/201305/PrarBa94X.png"); _background-image: url(https://i.alipayobjects.com/e/201305/PrkSr5EgP.gif);
}
.footer-line {
	background-image: url("https://i.alipayobjects.com/e/201303/2NwD1Q6ihZ.png");
}
.footer-line .cnt {
	background-image: url("https://i.alipayobjects.com/e/201303/2NwD1Q6ihZ.png");
}
html {
	color: rgb(0, 0, 0); -ms-text-size-adjust: 100%; background-color: rgb(255, 255, 255); -webkit-text-size-adjust: 100%;
}
body {
	font: 12px/1.5 tahoma, arial, Hiragino Sans GB, αδ?; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
div {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	list-style: none; margin: 0px; padding: 0px;
}
ol {
	list-style: none; margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px; font-size: 100%; font-weight: 500;
}
h2 {
	margin: 0px; padding: 0px; font-size: 100%; font-weight: 500;
}
h3 {
	margin: 0px; padding: 0px; font-size: 100%; font-weight: 500;
}
h4 {
	margin: 0px; padding: 0px; font-size: 100%; font-weight: 500;
}
h5 {
	margin: 0px; padding: 0px; font-size: 100%; font-weight: 500;
}
h6 {
	margin: 0px; padding: 0px; font-size: 100%; font-weight: 500;
}
pre {
	margin: 0px; padding: 0px;
}
code {
	margin: 0px; padding: 0px; font-style: normal; font-weight: 500;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
legend {
	margin: 0px; padding: 0px;
}
input {
	font: 100%/1.5 tahoma, arial, Hiragino Sans GB, αδ?; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
textarea {
	font: 100%/1.5 tahoma, arial, Hiragino Sans GB, αδ?; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px; text-align: left; font-style: normal; font-weight: 500;
}
td {
	margin: 0px; padding: 0px;
}
hr {
	margin: 0px; padding: 0px;
}
button {
	font: 12px/1.5 tahoma, arial, Hiragino Sans GB, αδ?; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
article {
	margin: 0px; padding: 0px; display: block;
}
aside {
	margin: 0px; padding: 0px; display: block;
}
details {
	margin: 0px; padding: 0px; display: block;
}
figcaption {
	margin: 0px; padding: 0px; display: block;
}
figure {
	margin: 0px; padding: 0px; display: block;
}
footer {
	margin: 0px; padding: 0px; display: block;
}
header {
	margin: 0px; padding: 0px; display: block;
}
hgroup {
	margin: 0px; padding: 0px; display: block;
}
menu {
	margin: 0px; padding: 0px; display: block;
}
nav {
	margin: 0px; padding: 0px; display: block;
}
section {
	margin: 0px; padding: 0px; display: block;
}
audio {
	display: inline-block;
}
canvas {
	display: inline-block;
}
video {
	display: inline-block;
}
select {
	font: 100%/1.5 tahoma, arial, Hiragino Sans GB, αδ?; font-size-adjust: none; font-stretch: normal;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
img {
	border: 0px currentColor;
}
iframe {
	display: block;
}
abbr {
	border: 0px currentColor; font-variant: normal;
}
acronym {
	border: 0px currentColor; font-variant: normal;
}
del {
	text-decoration: line-through;
}
address {
	font-style: normal; font-weight: 500;
}
caption {
	text-align: left; font-style: normal; font-weight: 500;
}
cite {
	font-style: normal; font-weight: 500;
}
dfn {
	font-style: normal; font-weight: 500;
}
em {
	font-style: normal; font-weight: 500;
}
var {
	font-style: normal; font-weight: 500;
}
q::before {
	content: "";
}
q::after {
	content: "";
}
sub {
	bottom: -0.25em; line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sup {
	top: -0.5em; line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
a:hover {
	text-decoration: underline;
}
ins {
	text-decoration: none;
}
a {
	color: rgb(102, 102, 102); text-decoration: none;
}
.fn-clear::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: " ";
}
.fn-clear {
	zoom: 1;
}
body .fn-hide {
	display: none;
}
.fn-left {
	float: left; display: inline;
}
.fn-right {
	float: right; display: inline;
}
.footer-line {
	width: 100%; height: 20px; background-repeat: repeat-x;
}
.footer-line .cnt {
	height: 20px; background-repeat: repeat-x;
}
.sl-shadow {
	filter: progid:DXImageTransform.Microsoft.Glow(color=#a0a0a0,strength=0) progid:DXImageTransform.Microsoft.Shadow(color=#a0a0a0,direction=0,strength=2) progid:DXImageTransform.Microsoft.Shadow(color=#a0a0a0,direction=90,strength=2) progid:DXImageTransform.Microsoft.Shadow(color=#a0a0a0,direction=180,strength=2) progid:DXImageTransform.Microsoft.Shadow(color=#a0a0a0,direction=270,strength=2); box-shadow: 0px 0px 4px #999; -moz-box-shadow: 0 0 4px #999; -o-box-shadow: 0 0 4px #999; -webkit-box-shadow: 0 0 4px #999;
}
:root .sl-shadow {
	filter: none\9;
}
.ui-link-item {
	padding: 0px 8px; line-height: 14px; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; float: left;
}
.ui-link-item a:hover {
	color: rgb(255, 102, 0); text-decoration: none;
}
.ui-link-item-first {
	padding-left: 0px;
}
.ui-link-item-noborder {
	border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
.ui-link-item-last {
	border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
#alipay-img-logo {
	margin-right: 5px;
}
.icon-36 {
	width: 36px; height: 36px; display: block; zoom: 1;
}
.icon-36 img {
	width: 36px; height: 36px; display: block; zoom: 1;
}
.icon-apple {
	display: block; zoom: 1;
}
.icon-android {
	display: block; zoom: 1;
}
.icon-windowsphone {
	display: block; zoom: 1;
}
.icon-java {
	display: block; zoom: 1;
}
.grid-990 {
	margin: 0px auto; width: 990px;
}
.topbar {
	background: rgb(245, 245, 245); width: 100%; height: 26px; border-bottom-color: rgb(220, 220, 220); border-bottom-width: 1px; border-bottom-style: solid; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc',endColorstr='#f5f5f5'); _overflow: hidden;
}
.topbar-wrap {
	background: rgb(245, 245, 245); height: 26px; border-bottom-color: rgb(220, 220, 220); border-bottom-width: 1px; border-bottom-style: solid; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc',endColorstr='#f5f5f5');
}
.topbar-wrap .toplink {
	padding: 6px 0px; width: 300px; height: 14px; line-height: 14px; float: left;
}
.topbar-wrap .toplink a {
	height: 14px; line-height: 14px; font-size: 12px; vertical-align: middle; display: block;
}
.topbar-wrap .mobile {
	padding: 0px 15px 0px 0px; float: left;
}
.topbar-wrap .mobile .icon-mobile {
	background-position: -578px -40px; width: 14px; height: 14px; margin-right: 4px; float: left; display: block;
}
.topmenu {
	padding: 6px 0px; color: rgb(102, 102, 102); float: right; position: relative; z-index: 1000;
}
.topmenu-item {
	padding: 1px 15px; line-height: 12px; border-right-color: rgb(226, 226, 226); border-left-color: rgb(254, 254, 254); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; float: left; _line-height: 14px;
}
.topmenu-item-first {
	border-right-color: currentColor; border-left-color: currentColor; border-right-width: 0px; border-left-width: 0px; border-right-style: none; border-left-style: none;
}
.topmenu-item-first .split {
	padding: 0px 5px; color: rgb(102, 102, 102);
}
.topmenu-item-last {
	padding-right: 0px; border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
.topmenu-item-dropdown {
	border-right-color: rgb(226, 226, 226); border-left-color: rgb(226, 226, 226); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; position: relative;
}
.topmenu-item-dropdown:hover {
	top: -3px; padding-top: 3px; border-top-color: rgb(204, 204, 204); border-right-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-top-width: 1px; border-right-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-left-style: solid; background-color: rgb(255, 255, 255);
}
.topmenu-item-dropdown-hover {
	top: -3px; padding-top: 3px; border-top-color: rgb(204, 204, 204); border-right-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-top-width: 1px; border-right-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-left-style: solid; background-color: rgb(255, 255, 255);
}
.topmenu-item-dropdown a {
	float: left; zoom: 1;
}
.topmenu-item-dropdown .icon-dropdown {
	background-position: -592px -40px; width: 12px; height: 12px; line-height: 10px; overflow: hidden; vertical-align: middle; display: inline-block; zoom: 1;
}
.topmenu-item-dropdown a:hover {
	text-decoration: none;
}
.topmenu-item-dropdown a:hover .icon-dropdown {
	background-position: -616px -40px;
}
.topmenu-item-dropdown-hover .icon-dropdown {
	background-position: -616px -40px;
}
.topmenu-item-dropdown ul {
	display: none; position: absolute; background-color: rgb(255, 255, 255);
}
.topmenu-item-dropdown:hover ul {
	padding: 8px 27px 2px 15px; left: -1px; top: 16px; border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; display: block; background-color: rgb(255, 255, 255);
}
.topmenu-item-dropdown-hover ul {
	padding: 8px 27px 2px 15px; left: -1px; top: 16px; border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; display: block; background-color: rgb(255, 255, 255);
}
.topmenu-item-dropdown ul li {
	width: 60px; line-height: 21px;
}
.topmenu-item-dropdown ul li a {
	display: block;
}
.topmenu-item-dropdown ul li a:hover {
	color: rgb(255, 102, 0); background-color: rgb(255, 255, 255);
}
.header {
	width: 100%; height: 78px; background-color: rgb(255, 255, 255);
}
.header-wrap {
	height: 60px; padding-top: 18px;
}
#logo-noflash {
	background-position: 0px -186px; width: 260px; height: 45px;
}
.ui-logo-alipay {
	background-position: 0px -186px; width: 260px; height: 45px; text-indent: -9999px; display: block;
}
.nav {
	width: 610px; height: 45px; float: right; position: relative; z-index: 999;
}
.nav-item {
	height: 45px; float: left; position: relative;
}
.nav-item .nav-item-link {
	height: 45px; text-indent: -9999em; overflow: hidden; display: block; background-repeat: no-repeat;
}
.nav-item .nav-item-link:hover {
	background-repeat: no-repeat;
}
.nav-item .nav-item-link-active {
	background-repeat: no-repeat;
}
.nav-item-sub {
	padding: 9px 3px; top: 45px; position: absolute; background-color: rgb(255, 255, 255);
}
.nav-item-table {
	white-space: nowrap; background-attachment: scroll; background-repeat: repeat;
}
.nav-item-table td {
	padding: 2px 14px; border-right-color: rgb(231, 231, 231); border-right-width: 1px; border-right-style: solid; white-space: nowrap;
}
.nav-item-table th {
	padding: 0px 12px 2px 15px; font-weight: 700; border-right-color: rgb(231, 231, 231); border-right-width: 1px; border-right-style: solid; white-space: nowrap; border-collapse: separate;
}
.nav-item-table th.last {
	border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
.nav-item-table td.last {
	border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
.nav-item-table a {
	color: rgb(137, 137, 137); padding-left: 3px; vertical-align: middle; display: block; position: relative;
}
.nav-item-table a:hover {
	border-radius: 2px; color: rgb(255, 255, 255); text-decoration: none; vertical-align: middle; background-color: rgb(170, 170, 170);
}
.nav-item .nav-item-sub {
	display: none;
}
.nav-item .angle {
	background-position: -535px -40px; top: 38px; width: 15px; height: 15px; right: 65px; overflow: hidden; font-size: 0px; display: none; position: absolute; _top: 38px;
}
:root .angle {
	top: 35px;
}
.nav-item:hover .nav-item-sub {
	display: block;
}
.nav-item-hover .nav-item-sub {
	display: block;
}
.nav-item:hover .angle {
	display: block;
}
.nav-item-hover .angle {
	display: block;
}
#home .nav-item-link {
	background-position: -206px 0px; width: 90px; margin-right: 20px;
}
#personal .nav-item-link {
	background-position: 0px -141px; width: 110px; margin-right: 20px;
}
#personal .nav-item-link:hover {
	background-position: -206px -45px;
}
#personal .nav-item-link-active {
	background-position: -206px -45px;
}
#personal .nav-item-sub {
	right: 20px;
}
#payment .nav-item-link {
	background-position: -206px -90px; width: 110px; margin-right: 20px;
}
#payment .nav-item-link:hover {
	background-position: -96px 0px;
}
#payment .nav-item-link-active {
	background-position: -96px 0px;
}
#payment .nav-item-sub {
	right: 20px;
}
#security .nav-item-link {
	background-position: -96px -45px; width: 110px; margin-right: 20px;
}
#security .nav-item-link:hover {
	background-position: 0px -96px;
}
#security .nav-item-link-active {
	background-position: 0px -96px;
}
#security .nav-item-sub {
	right: 20px;
}
#business .icon-nav-split {
	background-position: -206px -135px; width: 3px; height: 45px; margin-right: 25px; float: left; display: inline-block;
}
#business .nav-item-link {
	background-position: -110px -96px; width: 80px; float: left;
}
#business .nav-item-link:hover {
	background-position: -110px -141px;
}
#business .nav-item-link-active {
	background-position: -110px -141px;
}
#business .angle {
	right: 28px;
}
#business .nav-item-sub {
	right: 0px;
}
.login-box {
	margin: 0px auto; width: 990px; height: 0px; position: relative; z-index: 120; zoom: 1;
}
#loginIframe {
	top: 12px; right: 0px; position: absolute;
}
#loginLoading {
	top: 12px; width: 286px; height: 311px; text-align: center; right: 0px; filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#33000000',EndColorStr='#33000000'); position: absolute; background-color: rgba(0, 0, 0, 0.2);
}
:root #loginLoading {
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#00000000',EndColorStr='#00000000')\9;
}
#loginLoading img {
	width: 50px; height: 50px; margin-top: 120px;
}
.head-notice {
	margin: 5px auto 3px; padding: 6px 8px; border: 1px solid rgb(204, 204, 204); width: 972px; text-align: center; color: red; line-height: 18px; font-size: 12px; font-weight: bold;
}
.pa-head-notice {
	margin: 5px auto 3px; padding: 6px 8px; border: 1px solid rgb(204, 204, 204); width: 972px; text-align: center; color: red; line-height: 18px; font-size: 12px; font-weight: bold;
}
#indexBanner {
	margin: 5px auto 0px; width: 990px;
}
#indexBanner a {
	overflow: hidden; display: inline-block;
}
#indexBanner img {
	display: block;
}
#indexBanner a.fn-hide {
	display: none;
}
#banner {
	margin: 0px auto; width: 100%; height: 400px; overflow: hidden; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; position: relative; z-index: 100; min-width: 990px; background-color: rgb(249, 249, 249);
}
#J-slide {
	background-position: center; width: 100%; height: 400px; position: relative; background-repeat: no-repeat; background-color: rgb(249, 244, 237);
}
#J-slide .slide {
	left: 0px; top: 0px; width: 100%; height: 400px; float: left; position: absolute;
}
.bg {
	background-position: 50% 50%; left: 0px; top: 0px; width: 100%; height: 100%; text-align: center; overflow: hidden; vertical-align: middle; position: absolute; opacity: 0; background-repeat: no-repeat; -webkit-transition: opacity 800ms ease-in-out; -moz-transition: opacity 800ms ease-in-out; -ms-transition: opacity 800ms ease-in-out; -o-transition: opacity 800ms ease-in-out; transition: opacity 800ms ease-in-out;
}
.pic {
	background-position: 50% 50%; left: 0px; width: 100%; text-align: center; bottom: 0px; position: absolute; opacity: 0; background-repeat: no-repeat; -webkit-transition: all 800ms cubic-bezier(.62, .25, .65, .83); -moz-transition: all 800ms cubic-bezier(.62, .25, .65, .83); -ms-transition: all 800ms cubic-bezier(.62, .25, .65, .83); -o-transition: all 800ms cubic-bezier(.62, .25, .65, .83); transition: all 800ms cubic-bezier(.62, .25, .65, .83);
}
.txt {
	left: 0px; top: 50px; width: 410px; height: 130px; text-indent: -9999em; overflow: hidden; position: absolute; opacity: 0; background-repeat: no-repeat; -webkit-transition: all 800ms ease-in-out; -moz-transition: all 800ms ease-in-out; -ms-transition: all 800ms ease-in-out; -o-transition: all 800ms ease-in-out; transition: all 800ms ease-in-out;
}
.txt-wrap {
	margin: 0px auto; width: 990px; height: 100%; position: relative; zoom: 1;
}
.txt h3 {
	display: none;
}
.txt p {
	display: none;
}
.txt a {
	outline: 0px; left: 0px; width: 105px; height: 26px; bottom: 8px; text-indent: -9999em; overflow: hidden; display: block; position: absolute; z-index: 9; cursor: pointer;
}
.txt .txt-download {
	left: 0px; top: 170px; width: 250px; height: 110px; position: relative;
}
.txt .txt-download p {
	color: rgb(254, 254, 254); text-indent: 0px; font-size: 14px; display: block;
}
.txt .txt-download .link {
	margin-top: 10px;
}
.txt .txt-download .link a {
	width: 111px; height: 32px; margin-right: 12px; float: left; position: static; cursor: pointer;
}
.txt .txt-download .link a:hover {
	width: 111px; height: 32px; margin-right: 12px; float: left; position: static; cursor: pointer;
}
.slide-1 .bg-1 {
	display: block; opacity: 1;
}
.slide-1 .pic-1 {
	display: block; opacity: 1;
}
.slide-1 .txt-1 {
	display: block; opacity: 1;
}
.slide-2 .bg-2 {
	display: block; opacity: 1;
}
.slide-2 .pic-2 {
	display: block; opacity: 1;
}
.slide-2 .txt-2 {
	display: block; opacity: 1;
}
.slide-3 .bg-3 {
	display: block; opacity: 1;
}
.slide-3 .pic-3 {
	display: block; opacity: 1;
}
.slide-3 .txt-3 {
	display: block; opacity: 1;
}
.slide-4 .bg-4 {
	display: block; opacity: 1;
}
.slide-4 .pic-4 {
	display: block; opacity: 1;
}
.slide-4 .txt-4 {
	display: block; opacity: 1;
}
.slide-5 .bg-5 {
	display: block; opacity: 1;
}
.slide-5 .pic-5 {
	display: block; opacity: 1;
}
.slide-5 .txt-5 {
	display: block; opacity: 1;
}
.slide-number-box {
	margin: 0px auto; width: 990px; height: 0px; position: relative; z-index: 999;
}
.slide-number {
	padding: 8px 0px 9px; left: 50%; width: 120px; text-align: center; bottom: 0px; margin-left: -60px; position: absolute;
}
.slide-number a {
	background-position: -564px -40px; margin: 0px 10px 0px 0px; outline: 0px; width: 14px; height: 14px; text-indent: -9999em; overflow: hidden; float: left; display: block;
}
.slide-number .slide-number-active {
	background-position: -550px -40px;
}
.anim-left {
	left: 30px;
}
.anim-right {
	left: -30px;
}
.anim-up {
	top: 0px;
}
.anim-down {
	top: 100px;
}
.anim-left-over {
	left: 0px;
}
.anim-right-over {
	left: 0px;
}
.anim-up-over {
	top: 50px;
}
.anim-down-over {
	top: 50px;
}
#server-link {
	margin: 0px auto; width: 990px; height: 0px; position: relative; z-index: 999;
}
#server-link .ui-link {
	padding: 10px 0px; left: 0px; height: 14px; bottom: 17px; line-height: 14px; position: absolute;
}
#server-link .ui-link-item {
	padding-right: 12px; padding-left: 0px; border-right-color: rgb(255, 255, 255); border-right-width: 1px; border-right-style: solid; float: left;
}
#server-link .ui-link-item a {
	color: rgb(255, 255, 255);
}
#server-link .ui-link-item a:hover {
	color: rgb(255, 255, 255); text-decoration: underline;
}
#server-link .ui-link-item-last {
	padding-left: 12px; border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
.main {
	width: 100%; height: 260px; background-color: rgb(249, 249, 249);
}
.product {
	height: 160px; border-bottom-color: rgb(230, 230, 230); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(249, 249, 249);
}
.product-item {
	margin: 25px 20px 0px 0px; width: 340px; height: auto; float: left;
}
.product-item .title {
	width: 270px; height: 30px; text-indent: -9999em; overflow: hidden; margin-top: 10px;
}
.product-item .title-link {
	height: 30px; display: block;
}
#pay-quickly .title-link {
	background-position: -246px -312px; width: 200px;
}
#pay-life .title-link {
	background-position: 0px -342px; width: 199px;
}
#pay-anywhere .title-link {
	background-position: 0px -312px; width: 246px;
}
.product-item .ui-link {
	padding: 6px 0px; font-size: 14px;
}
.product-item .ui-link-item {
	line-height: 16px;
}
.product-item a:hover {
	color: rgb(255, 102, 0); text-decoration: none;
}
.product-item .link {
	padding: 4px 0px; font-size: 14px; margin-top: 5px; margin-bottom: 10px;
}
.product-item .link .icon-youhui {
	background-position: -471px -40px; margin: -4px 5px 0px 0px; width: 49px; height: 17px; vertical-align: middle; display: inline-block;
}
.product-item .picture {
	width: 270px; height: 45px;
}
.product-item .picture img {
	vertical-align: middle;
}
.product-item .picture .kuaijie {
	height: 45px; display: inline-block;
}
.product-item .picture .icon {
	margin: 3px 11px 3px 0px; display: inline-block;
}
.product-item .picture .client {
	height: 36px; display: inline-block;
}
.product-item-last {
	width: 270px; margin-right: 0px;
}
.about {
	padding: 20px 0px; height: 58px; border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-top-style: solid; background-color: rgb(249, 249, 249);
}
.about-item {
	width: 270px; height: 55px; margin-right: 90px; float: left; position: relative;
}
.about-item-last {
	margin-right: 0px;
}
.about-item .title {
	width: 220px; height: 30px; text-indent: -9999em; margin-bottom: 2px; margin-left: 60px;
}
.about-item .icon-title-safety {
	background-position: -316px -30px; width: 155px;
}
.about-item .icon-title-vip {
	background-position: -316px 0px; width: 155px;
}
.about-item .icon-title-abc {
	background-position: -316px -60px; width: 155px;
}
.about-item .ui-link {
	padding: 0px; left: 60px; height: 16px; position: relative;
}
.about-item .ui-link-item {
	line-height: 16px; font-size: 14px;
}
.about-item .ui-link-item a {
	color: rgb(153, 153, 153);
}
.about-item .ui-link-item a:hover {
	color: rgb(255, 102, 0);
}
.about-item .ui-link-item-last {
	padding-right: 6px;
}
.about-item .icon-about {
	left: 0px; top: 3px; width: 46px; height: 46px; display: block; position: absolute;
}
.about-item .icon-about-safety {
	
}
.about-item .icon-about-vip {
	background-position: 0px -48px;
}
.about-item .icon-about-abc {
	background-position: -48px 0px;
}
#safety {
	_margin-right: 43px;
}
#safety .follow_wrapper {
	height: 22px; margin-top: -3px; float: left;
}
.footer {
	width: 100%; height: 280px; background-color: rgb(237, 237, 237);
}
.partner {
	padding: 25px 0px; height: 70px; overflow: hidden; border-bottom-color: rgb(217, 217, 217); border-bottom-width: 1px; border-bottom-style: solid; zoom: 1; background-color: rgb(237, 237, 237);
}
.partner-item {
	width: 240px; height: 70px; float: left; zoom: 1;
}
.partner-item-last {
	width: 270px;
}
.partner-item .title {
	line-height: 18px; padding-bottom: 10px;
}
.partner-item .title span {
	color: gray; font-weight: 700;
}
.partner-item .more {
	color: rgb(179, 179, 179); margin-left: 10px;
}
.partner-item .more .icon-more {
	background-position: -520px -40px; width: 15px; height: 15px; line-height: 15px; vertical-align: text-bottom; display: inline-block;
}
.partner-item .cnt {
	width: 240px; height: 50px; overflow: hidden; zoom: 1;
}
.partner-item .cnt .business-pic {
	background-position: -199px -342px; width: 210px; height: 21px; display: block;
}
.partner-item .ui-list-item {
	height: 24px; line-height: 20px;
}
.partner-item .ui-list-item .icon-list {
	background-position: -604px -40px; width: 12px; height: 12px; display: inline-block;
}
.icon-partner-bank {
	background-position: 0px -275px; width: 208px; height: 37px; display: block;
}
.icon-partner-security {
	background-position: 0px -231px; width: 193px; height: 44px; display: block;
}
.J-RotateList {
	width: 270px; height: 48px; overflow: hidden; position: relative;
}
.sitelink {
	padding: 25px 0px; height: 50px; text-align: center; border-top-color: rgb(246, 246, 246); border-top-width: 1px; border-top-style: solid; background-color: rgb(237, 237, 237);
}
.sitelink .ui-link {
	padding: 4px 0px; display: inline-block; _display: inline;
}
.sitelink .ui-link-bottom {
	padding-top: 8px; _padding-top: 15px;
}
.sitelink .ui-link-item {
	color: rgb(160, 160, 160);
}
.sitelink .ui-link-item a {
	color: rgb(160, 160, 160);
}
.sitelink .ui-link-item a:hover {
	color: rgb(160, 160, 160); text-decoration: underline;
}
.auth {
	height: 50px; text-align: center; background-color: rgb(237, 237, 237);
}
.auth-link {
	display: inline-block; _display: inline;
}
.auth-link-item {
	height: 40px; float: left;
}
.auth-link-item a {
	text-indent: -9999em; overflow: hidden; display: block;
}
.auth-link-item span {
	text-indent: -9999em; overflow: hidden; display: block;
}
.auth .icon {
	display: block;
}
.auth .icon:hover {
	display: block;
}
.auth .icon-zfywxk {
	background-position: -316px -90px; width: 38px; height: 27px; margin-right: 15px;
}
.auth .icon-zfywxk:hover {
	background-position: -432px -90px;
}
.auth .icon-pcirk {
	background-position: -354px -90px; width: 78px; height: 27px; margin-right: 16px;
}
.auth .icon-pcirk:hover {
	background-position: -316px -117px;
}
.auth .icon-visayz {
	background-position: -394px -117px; width: 36px; height: 27px; margin-right: 14px;
}
.auth .icon-visayz:hover {
	background-position: -430px -117px;
}
.auth .icon-vsjmfw {
	background-position: -316px -144px; width: 63px; height: 27px; margin-right: 13px;
}
.auth .icon-vsjmfw:hover {
	background-position: -316px -171px;
}
.auth .icon-zjwm {
	background-position: -379px -144px; width: 34px; height: 27px; margin-right: 14px;
}
.auth .icon-zjwm:hover {
	background-position: -435px -144px;
}
.auth .icon-wlgs {
	background-position: -413px -144px; width: 22px; height: 27px; margin-right: 17px;
}
.auth .icon-wlgs:hover {
	background-position: -406px -171px;
}
.auth .icon-ppaa {
	background-position: -379px -171px; width: 27px; height: 27px; margin-right: 12px;
}
.auth .icon-ppaa:hover {
	background-position: -428px -171px;
}
.auth .icon-hzdt {
	background-position: -341px -198px; width: 25px; height: 27px; margin-right: 10px;
}
.auth .icon-hzdt:hover {
	background-position: -316px -198px;
}
.auth .icon-aqff {
	background-position: -366px -198px; width: 40px; height: 27px; margin-right: 12px;
}
.auth .icon-aqff:hover {
	background-position: -406px -198px;
}
.auth .icon-rzcx {
	background-position: -316px -225px; width: 75px; height: 27px;
}
.auth .icon-rzcx:hover {
	background-position: -391px -225px;
}
#ServerNum {
	width: 100%; color: rgb(237, 237, 237); background-color: rgb(237, 237, 237);
}
#ServerNum p {
	text-align: center; background-color: rgb(237, 237, 237);
}
.follow_btn {
	background-position: -362px -252px; width: 46px; height: 21px; text-indent: -99999px; display: inline-block;
}
.follow_btn:hover {
	background-position: -316px -252px; width: 46px; height: 21px; text-indent: -99999px; display: inline-block;
}
.partner-item .cnt .business-pic-last i {
	background-position: -471px -20px; width: 205px; height: 20px; display: block;
}
.partner-item .cnt .business-pic-last .a {
	background-position: -205px -412px;
}
.partner-item .cnt .business-pic-last .b {
	background-position: -471px 0px;
}
.partner-item .cnt .business-pic-last .c {
	background-position: 0px -372px;
}
.partner-item .cnt .business-pic-last .d {
	background-position: -205px -372px;
}
.partner-item .cnt .business-pic-last .e {
	background-position: 0px -372px;
}
.partner-item .cnt .business-pic-last .f {
	background-position: -205px -392px;
}
.partner-item .cnt .business-pic-last .g {
	background-position: 0px -392px;
}
.partner-item .cnt .business-pic-last .h {
	background-position: 0px -432px;
}
.partner-item .cnt .business-pic-last .i {
	background-position: -205px -432px;
}
.partner-item .cnt .business-pic-last .j {
	background-position: 0px -412px;
}
.about-item .icon-about-safety {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.about-item .icon-about-abc {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.about-item .icon-about-vip {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
#payment .nav-item-link:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
#payment .nav-item-link-active {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
#security .nav-item-link {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
#security .nav-item-link:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
#security .nav-item-link-active {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
#business .nav-item-link {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
#personal .nav-item-link {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
#business .nav-item-link:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
#business .nav-item-link-active {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
#home .nav-item-link {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
#personal .nav-item-link:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
#personal .nav-item-link-active {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
#logo-noflash {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.ui-logo-alipay {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
#payment .nav-item-link {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
#business .icon-nav-split {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.icon-partner-security {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.icon-partner-bank {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.about-item .icon-title-vip {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.about-item .icon-title-safety {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.about-item .icon-title-abc {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
#pay-anywhere .title-link {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
#pay-quickly .title-link {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
#pay-life .title-link {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.auth .icon-zfywxk {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.auth .icon-pcirk {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.auth .icon-zfywxk:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.auth .icon-pcirk:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.auth .icon-visayz {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.auth .icon-vsjmfw {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.auth .icon-visayz:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.auth .icon-zjwm {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.auth .icon-vsjmfw:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.auth .icon-wlgs {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.auth .icon-zjwm:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.auth .icon-ppaa {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.auth .icon-wlgs:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.auth .icon-ppaa:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.auth .icon-hzdt:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.auth .icon-hzdt {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.auth .icon-aqff {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.auth .icon-aqff:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.auth .icon-rzcx {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.auth .icon-rzcx:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.follow_btn:hover {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.follow_btn {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.partner-item .cnt .business-pic {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.partner-item .cnt .business-pic-last .c {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.partner-item .cnt .business-pic-last .e {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.partner-item .cnt .business-pic-last .d {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.partner-item .cnt .business-pic-last .g {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.partner-item .cnt .business-pic-last .f {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.partner-item .cnt .business-pic-last .j {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.partner-item .cnt .business-pic-last .a {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.partner-item .cnt .business-pic-last .h {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.partner-item .cnt .business-pic-last .i {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.partner-item .cnt .business-pic-last .b {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.partner-item .cnt .business-pic-last i {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.product-item .link .icon-youhui {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.partner-item .more .icon-more {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.nav-item .angle {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.slide-number .slide-number-active {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.slide-number a {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.topbar-wrap .mobile .icon-mobile {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.topmenu-item-dropdown .icon-dropdown {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.partner-item .ui-list-item .icon-list {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.topmenu-item-dropdown a:hover .icon-dropdown {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
.topmenu-item-dropdown-hover .icon-dropdown {
	background-image: url("https://i.alipayobjects.com/e/201305/PrawnS1y9.png"); background-size: 676px 452px;
}
