@font-face {
	font-family: Merriweather;
	src: local("Merriweather Light"), local("Merriweather-Light"), url(http://themes.googleusercontent.com/static/fonts/merriweather/v5/ZvcMqxEwPfh2qDWBPxn6noySLpARcVRs9uFJp0LRZgE.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/merriweather/v5/ZvcMqxEwPfh2qDWBPxn6nmFp2sMiApZm5Dx7NpSTOZk.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}
